.modal-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-top-wrapper .btn-outline-dark {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group {
  width: 100%;
}

.project-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info-wrapper span i {
  color: red;
}

.form-added-content {
  padding: 20px;
  border: 1px solid #ece8e8;
  border-radius: 10px;
  background: #e6e0e0;
}

.btn-wrraper-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}
