* {
  font-family: "PT-Sans-Pro-Regular";
  margin: 0px;
  padding: 0px;
}

.absence-container {
  overflow: scroll;
  height: calc(100vh - 333px);
}
.absence-container-no-button{
  overflow: scroll;
  height: calc(100vh - 262px);
}

.thin-red-line-bottom {
  bottom: 14px;
  left: 0px;
  right: 0px;
  background-color: var(--border-color);
  height: 1px;
  position: absolute;
}

.list-head {
  width: 1013px;
  height: 30px;
  background-color: #1a1a1a !important;
  background-image: none !important;
  display: grid;
  grid-template-columns: auto 200px 100px 80px 80px 80px 80px;
  font-size: 14px;
  color: white;
  position: sticky;
  top: 0px;
}

.list-head > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #858585;
}

.hidden {
  display: none;
}
.list {
  width: 1013px;
  font-size: 14px;
}

.list-row {
  display: grid;
  height: 40px;
  grid-template-columns: auto 200px 100px 80px 80px 80px 80px;
  align-items: center;
  justify-items: center;
  border: 1px solid #858585;
  border-right: none;
}

.list-row > div {
  border-right: 1.5px solid #858585;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-row > div:first-child {
  justify-content: start;
  padding-left: 15px;
}

.list-row > div:nth-child(2) {
  justify-content: start;
  padding-left: 15px;
}

.list > div:nth-child(odd) {
  background-image: linear-gradient(0deg, #efefef 0%, #f6f6f7 74%);
}
.list > div:nth-child(even) {
  background-image: -webkit-linear-gradient(
    top,
    rgb(245, 245, 245) 0%,
    white 10px
  );
}

.list-element > div:first-child {
  width: 70%;
  border-right: 1px solid #858585;
}

.icon {
  height: 23px;
  width: 25px;
  cursor: pointer;
}

.buttons {
  margin: 20px;
  display: flex;
  justify-content: end;
}

.buttons > button {
  all: unset;
  height: 28px;
  border: 1px solid #82a7e2;
  background-color: #373b40;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 10px;
  color: #82a7e2;
  padding: 1px 7px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.buttons > button:first-child > p {
  padding-left: 7px;
}

.buttons > button:hover {
  border: 1px solid #ff7000;
  color: #ff7000;
}

.color-picker-input {
  height: 100%;
  width: 100%;
}

.spinner {
  position: absolute;
  top: 40%;
  left: 45%;
}
