.btn-momnt-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  padding: 20px;
}

.modal-form {
  margin-top: 10px;
  margin-bottom: 20px;
}

.delete-user i {
  color: red;
}
