<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" [style.width.px]="widthParams" 
[style.height.px]="heightParams" viewBox="0 0 26 26" style="border-radius: 50%; display: block;">
    <defs>
      <clipPath id="clip-path"> 
        <rect id="Rectangle_60" data-name="Rectangle 60" [style.width.px]="widthParams" [style.height.px]="heightParams" fill="none"/>
      </clipPath>
    </defs>
    <g id="Group_301" data-name="Group 301" >
      <path id="Path_745" data-name="Path 745" d="M25.777,12.887A12.891,12.891,0,1,1,12.887,0,12.888,12.888,0,0,1,25.777,12.887" 
      transform="translate(0.115 0.112)" [style.fill]="colorParams"/>
    </g>
  </svg>
  