<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" [style.width.px]="width" [style.height.px]="height" viewBox="0 0 26.864 26.864">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_60" data-name="Rectangle 60" [style.width.px]="width" [style.height.px]="height" fill="none"/>
    </clipPath>
  </defs>
  <g id="Group_8336" data-name="Group 8336" transform="translate(2.398 2.017)">
    <g id="Group_8050" data-name="Group 8050" transform="translate(-2.398 -2.017)">
      <g id="Bocka_av_icon" data-name="Bocka av icon">
        <g id="Group_301" data-name="Group 301" clip-path="url(#clip-path)">
          <path id="Path_745" data-name="Path 745" d="M26.633,13.315A13.319,13.319,0,1,1,13.316,0,13.316,13.316,0,0,1,26.633,13.315" transform="translate(0.118 0.116)" fill="#fd4444"/>
          <path id="Path_746" data-name="Path 746" d="M27.968,19.829l-.4-.407a1.223,1.223,0,0,0-.865-.385,1.4,1.4,0,0,0-.979.45L16.792,28.33l-2.924-3.025v0l-.927-.935a1.259,1.259,0,0,0-.883-.389,1.314,1.314,0,0,0-.914.4l-.4.407a1.247,1.247,0,0,0,.066,1.849l6.005,6.053L27.221,22.395l.761-.765a1.234,1.234,0,0,0-.013-1.8" transform="translate(-6.569 -12.163)" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
