<table class="table table-bordered table-body-transparent doc-table tableImageTop">
    <thead>
        <tr>
            <th class="image-head-wrapper">{{'Weekly report' | translate}}</th>
            <th class="image-head-wrapper">{{'Work' | translate}}</th>
            <th class="image-head-wrapper">{{'Time' | translate}}</th>
            <th class="image-head-wrapper" colspan="2">{{'Bilder' | translate}}</th>
            <th class="image-head-wrapper">{{'Download' | translate}}</th>
        </tr>
    </thead>
    <tbody>
            <ng-container *ngFor="let document of documents;  let index = index">
                <tr>
                    <td class="first-td"><div class="td-content changeToWhite">{{document.wr_name }}</div></td>
                    <td class="first-td"><div class="td-content changeToWhite">{{document.work }}</div></td>
                    <td class="first-td"><div class="td-content changeToWhite">{{document.time }}</div></td>
                    <td class="second-td" colspan="2">
                        <div class="td-content">
                            <div class="td-image-preview">
                                <img
                                  class="preview-image-new white-bordered absolute-position"
                                  [src]="document.url?.split(',')[0]"
                                  (click)="openSwiper(index, documents, 0)"
                                />
                                <div class="folder-svg">
                                    <svg id="Group_4062" data-name="Group 4062" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 67.478 58.682">
                                        <g id="Skapad_mapp" data-name="Skapad mapp">
                                            <path id="Path_754" data-name="Path 754" d="M78.268,25.318l-30.907-.084-3.809-4.348a2.346,2.346,0,0,0-2.023-1.257H22.056a6.874,6.874,0,0,0-7.063,7.2V73.687a4.4,4.4,0,0,0,4.1,4.625H78.268a4.4,4.4,0,0,0,4.1-4.625V29.943A4.4,4.4,0,0,0,78.268,25.318Z" transform="translate(-14.891 -19.629)" fill="#fff"/>
                                            <path id="Path_755" data-name="Path 755" d="M78.268,25.318l-30.907-.084-3.809-4.348a2.346,2.346,0,0,0-2.023-1.257H22.056a6.874,6.874,0,0,0-7.063,7.2V73.687a4.4,4.4,0,0,0,4.1,4.625H78.268a4.4,4.4,0,0,0,4.1-4.625V29.943A4.4,4.4,0,0,0,78.268,25.318Z" transform="translate(-14.891 -19.629)" fill="#82a7e2" opacity="0.999"/>
                                            <path id="Path_756" data-name="Path 756" d="M78.182,26.544H19.016a3.881,3.881,0,0,0-4.1,3.587l.09,27.223a3.161,3.161,0,0,0,.324,1.393,3.771,3.771,0,0,0,1.489,1.58,4.483,4.483,0,0,0,2.288.615H78.272a3.882,3.882,0,0,0,4.1-3.588l-.09-27.223A3.88,3.88,0,0,0,78.182,26.544Z" transform="translate(-14.916 -4.818)" fill="#82a7e2"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <span class="td-desc changeToWhite">{{ document.name }}</span>
                        </div>
                    </td>
                    <td class="fiveth-td">
                        <div class="td-content">
                            <a class="btn btn-border" (click)="downloadActive(document)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="21.947" viewBox="0 0 13 21.947">
                                    <g id="Group_8914" data-name="Group 8914" transform="translate(0 0)">
                                        <g id="Group_7764" data-name="Group 7764">
                                            <g id="Group_7318" data-name="Group 7318">
                                                <g id="Group_7312" data-name="Group 7312">
                                                    <g id="Component_260_14" data-name="Component 260 – 14">
                                                        <path id="Path_4767" data-name="Path 4767" d="M28.384,42.891a.311.311,0,0,0,.328-.329v-1.5h.45a3.568,3.568,0,0,0,.912-.1,1.277,1.277,0,0,0,.948-1.341,1.245,1.245,0,0,0-.743-1.28,3.278,3.278,0,0,0-1.147-.147H28.6a.668.668,0,0,0-.738.766v3.6a.305.305,0,0,0,.316.329Zm.328-3.859c0-.014,0-.025,0-.034h.449a1.978,1.978,0,0,1,.718.081c.14.059.269.169.269.566a.544.544,0,0,1-.276.542,1.885,1.885,0,0,1-.676.081h-.486Z" transform="translate(-25.852 -28.38)" fill="#fff"/>
                                                        <path id="Path_4768" data-name="Path 4768" d="M35.685,42.879a3.882,3.882,0,0,0,1.179-.158A2.111,2.111,0,0,0,38.1,40.487c0-1.205-.41-1.936-1.218-2.171a4.006,4.006,0,0,0-1.149-.123h-.525a.666.666,0,0,0-.75.766v3.172a.653.653,0,0,0,.738.748Zm-.372-3.841a.273.273,0,0,1,0-.034h.461a2.139,2.139,0,0,1,.874.127c.4.188.578.606.578,1.357,0,.8-.193,1.247-.625,1.448a2.012,2.012,0,0,1-.809.127h-.477a.251.251,0,0,1,0-.045Z" transform="translate(-29.646 -28.378)" fill="#fff"/>
                                                        <path id="Path_4769" data-name="Path 4769" d="M43,39.01h1.636a.3.3,0,0,0,.328-.311V38.51a.3.3,0,0,0-.328-.317H42.9c-.5,0-.75.255-.75.778v3.591a.3.3,0,0,0,.316.329h.217A.308.308,0,0,0,43,42.556V41h1.385a.3.3,0,0,0,.328-.311V40.5a.3.3,0,0,0-.328-.317H43V39.05A.32.32,0,0,1,43,39.01Z" transform="translate(-33.878 -28.38)" fill="#fff"/>
                                                        <g id="Order_pos" data-name="Order pos">
                                                            <path id="Path_4772" data-name="Path 4772" d="M28.058,15.768H23.234V35.02h2.525l-.8-.787-.013-.013-.012-.014a1.076,1.076,0,0,1-.2-.344h-.309V16.926h2.806V24.6h7.829v9.265H34.74a.935.935,0,0,1-.233.348l-.831.81h2.558V23.779ZM28.4,23.44v-5.7l5.812,5.7Z" transform="translate(-23.234 -15.768)" fill="#fff"/>
                                                        </g>
                                                        <g id="Group_7294" data-name="Group 7294" transform="translate(1.984 13.777)">
                                                            <path id="Path_4773" data-name="Path 4773" d="M30.677,52.222a.672.672,0,0,0-.482-.265.66.66,0,0,0-.379.15l-.23.217a.551.551,0,0,0-.21.411.61.61,0,0,0,.175.388l3.9,3.914a.521.521,0,0,0,.413.171.548.548,0,0,0,.437-.184l3.928-3.932a.531.531,0,0,0,.182-.371.537.537,0,0,0-.2-.4l-.262-.23a.516.516,0,0,0-.761.03c-1,1.037-1.812,1.876-2.4,2.5l-.21.22,0-.3c.011-1.484.011-1.408.011-4.886a.555.555,0,0,0-.567-.615h-.3a.547.547,0,0,0-.579.565l.009,5.218-.209-.226C32.4,54.011,31.641,53.214,30.677,52.222Z" transform="translate(-29.376 -49.038)" fill="#fff"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            </ng-container>
      </tbody>
</table>
<div  *ngIf="offDiv" class="gallery" style="position: fixed;
    /*max-width: 1543px;*/
    width: 100%;
    padding-right: 126px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    z-index: 5000;
    flex-direction: row-reverse;"
>
    <app-gallery
      *ngIf="swiper.images.length"
      [swiper]="swiper"
      [canRemove]="false"
      (removeImageEvent)="removeSwiperImage($event)"
      (closeSwiperEvent)="closeSwiper()"
      [server]="true"
    ></app-gallery>

</div>