.card {
  width: 100%;
  padding: 10px;
}

.list-group {
  width: 100%;
}

.list-group-item i {
  float: right;
}

button.list-group-item {
  cursor: hand;
}
label{
  color: white;
  font-size: 11px;
}
