<div class="dropdown-wrapper-all" *ngIf="items" (click)="toggleDropdown()">
  <div class="dropdown-wrapper">
    <div>{{selectedDropDownOption || "role"}}</div>
    <div class="svg-rotation" *ngIf="!isOpen">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" class="svg-custom-down"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
    </div>
    <div class="svg-rotation" *ngIf="isOpen" style="rotate: 180deg;">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" class="svg-custom-up" [ngClass]="{'svg-custom-up-open': showItems}"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
    </div>
  </div>


  <div class="items-list orange-scroll" *ngIf="isOpen">
    <ng-container *ngFor="let role of items">
      <div class="item" (click)="toggleItem(role)">{{role.roles}}</div>
    </ng-container>
  </div>
</div>
