<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22.5" viewBox="0 0 22 22.5">
    <g id="Group_8803" data-name="Group 8803" transform="translate(-129 -400)">
      <g id="Group_8745" data-name="Group 8745" transform="translate(131 367)">
        <circle id="Ellipse_790" data-name="Ellipse 790" cx="10" cy="10" r="10" transform="translate(-2 33)" [attr.fill]="color"/>
      </g>
      <text id="P" transform="translate(135 401.5)" fill="#fff" font-size="16" font-family="SegoeUI-Bold, Segoe UI" font-weight="700" letter-spacing="0.006em"><tspan x="0" y="17">P</tspan></text>
    </g>
  </svg>
