<img class="canvas-img" id="undo" src="../../../../../assets/img/canvas-img/undo.svg" alt="">
<img class="canvas-img" id="redo" src="../../../../../assets/img/canvas-img/redo.svg" alt="">

<img class="canvas-img" id="go-back" src="../../../../../assets/img/canvas-img/go-back.svg" alt="">

<img class="canvas-img" id="go-back" src="../../../../../assets/img/canvas-img/go-back.svg" alt="">
<img class="canvas-img" id="empty-circle" src="../../../../../assets/img/canvas-img/empty-circle.svg" alt="">
<img class="canvas-img" id="pink-circle" src="../../../../../assets/img/canvas-img/pink-circle.svg" alt="">
<img class="canvas-img" id="yellow-circle" src="../../../../../assets/img/canvas-img/yellow-circle.svg" alt="">
<img class="canvas-img" id="x-circle" src="../../../../../assets/img/canvas-img/x-circle.svg" alt="">
<img class="canvas-img" id="orange-circle" src="../../../../../assets/img/canvas-img/orange-circle.svg" alt="">
<img class="canvas-img" id="white-circle" src="../../../../../assets/img/canvas-img/white-circle.svg" alt="">

<!-- <img class="canvas-img" id="bucket-white" src="../../../../../assets/img/canvas-img/bucket-white.svg" alt="">
<img class="canvas-img" id="arrow-white" src="../../../../../assets/img/canvas-img/arrow-white.svg" alt=""> -->
<!-- <canvas #canvas></canvas> -->

<canvas id="mainCanvas" class="canvas"></canvas>
<!-- <canvas id="secondCanvas" class="canvas"></canvas>
<canvas id="offscreenCanvas" class="canvas"></canvas> -->


<input class="project-search-input" id="project-search-input" type="text" placeholder="{{ 'Search' | translate }}"
  [(ngModel)]="searchValue" (ngModelChange)="searchUsers()">
