<div class="weekly-report-pdf blu-scroll" id="divToPrint">
  <div class="main-section">
    <div class="buton-wrapper">
      <div class="left-side-row">
        <!-- <div class="cursos-move" >
          <div class="rotate-right-hovered"  (click)="zoomBy(10)">
            <app-zoom-in-svg></app-zoom-in-svg>
          </div>
        </div>
        <div class="cursos-move" (click)="zoomBy(-10)">
          <div class="rotate-right-hovered">
            <app-zoom-out-svg></app-zoom-out-svg>
          </div>
        </div> -->
      </div>
      <div class="right-side-row">
        <div (click)="generatePdf('Save')">
          <app-download-svg-icon></app-download-svg-icon>
        </div>
        <div (click)="generatePdf('Print')">
          <app-print-svg-icon></app-print-svg-icon>
        </div>
      </div>
    </div>

    <div class="container-fluid no-pad-left">
      <div class="row">
        <div class="col-4 no-pad-left">
          <img class="img" src="{{ generalImage }}" alt="logo" />
        </div>
        <div class="col-8 no-pad-right">
          <h4 class="hed">{{ "Debiteringsunderlag" }}</h4>
          <div class="row">
            <div class="col-6 no-pad-left">
              <h6 style="font-weight: bold">
                <span>{{ currentWeeklyReport ? setReminderText() : "" }}</span>
              </h6>
            </div>
            <div class="col-6 leetsp" style="text-align: center">
              <p>
                <b
                  >{{ "Nr" | translate }}: {{ project.CustomName }}-{{
                    formValues.Type == "internal" ? "INTERN" : ""
                  }}{{ currentWeeklyReport?.name }}</b
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-2 mb-3">
      <div class="marg-inl-end" style="line-height: 1.45em">
        <div class="section">
          <table class="table">
            <tbody>
              <tr>
                <td class="align-right">
                  <small>{{ "Project" | translate }}:</small>
                </td>
                <td>{{ project.CustomName }} {{ project.name }}</td>
              </tr>
              <tr>
                <td class="align-right" style="padding-top: 2%">
                  <small
                    >{{
                      "Created
                                        by"
                        | translate
                    }}:</small
                  >
                </td>
                <td style="padding-top: 2%">
                  {{
                    get_last_email_log_but_first_client_wr?.from_user === ""
                      ? current_user_full_name
                      : get_last_email_log_but_first_client_wr?.from_user
                  }}
                </td>
              </tr>
              <tr>
                <td class="align-right">
                  <small>{{ "Sent" | translate }}:</small>
                </td>
                <td class="leetsp">
                  {{ get_last_email_log_but_first_client_wr?.EMAIL_LOG_DATE }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="section marg-inl-end" style="line-height: initial">
        <table class="table">
          <thead></thead>
          <tbody>
            <tr>
              <td class="align-right no-pad-left">
                <small>{{ "Application made to" | translate }}:</small>
              </td>
              <td class="no-pad-left">
                {{
                  get_last_email_log_but_first_client_wr?.email_log_client_worker
                }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="no-pad-top no-pad-left">
                {{ formValues.clientName }} <br />
                {{ formValues.street }}
              </td>
            </tr>
            <tr>
              <td class="no-pad-top"></td>
              <td class="no-pad-left">
                {{ formValues.zip }} {{ formValues.city }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="grid-2 mb-3">
      <div style="padding-left: 5px">
        <div class="section">
          <p>
            <small>{{ "Heading" | translate }}:</small>
          </p>
          <p>
            <b
              >{{ project.CustomName }}-{{ currentWeeklyReport?.name }} -
              {{ project.name }}</b
            >
          </p>
          <p *ngIf="getAtaType(formValues?.AtaType)">
            {{ "Type" | translate }}: {{ getAtaType(formValues?.AtaType) }}
          </p>
          <p class="deviation-number" *ngIf="formValues?.DeviationNumber > 0">
            {{ "Single notifications are made" | translate }}
            {{ "U-" + formValues?.DeviationNumber }}
          </p>
        </div>
      </div>
      <div class="marg-left-5">
        <div class="section">
          <br />
          <p>
            {{ "In order to minimize the time," | translate }}
            {{
              (
                "cost consequences and not cause any obstacles, we need the above order"
                | translate
              ).substring(0, 58)
            }}
            {{ "message at the latest" | translate }}:
            <b>
              {{
                currentWeeklyReport?.WeeklyReportDueDate?.substring(0, 10)
              }}</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="article-table">
        <thead>
          <tr>
            <th class="border-table beskriving">
              {{ "Name/Title" | translate }}
            </th>
            <th class="border-table align-right">
              {{ "Quantity" | translate }}
            </th>
            <th class="border-table aligin-left">{{ "Unit" | translate }}</th>
            <th class="border-table align-right">
              {{ "Price per unit" | translate }}
            </th>
            <th class="border-table aligin-left">
              <img
                class="img-p-m-sign"
                src="/assets/img/plus-minus-percent-sign.png"
                alt="plus-minus-percent-sign"
              />
            </th>
            <th class="border-table align-right">{{ "Sum" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Additional Work Table -->
          <ng-container
            *ngIf="
              currentWeeklyReport &&
              currentWeeklyReport.articles?.AdditionalWork?.length > 0
            "
          >
            <tr>
              <td
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
                colspan="6"
              >
                <b>{{ "Tidssammanställning" | translate }}</b>
              </td>
            </tr>
            <ng-container
              *ngFor="
                let article of currentWeeklyReport.articles?.AdditionalWork;
                let i = index
              "
            >
              <tr
                [ngStyle]="{
                  'background-color': i % 2 === 0 ? '#f0f0f0' : 'white'
                }"
                *ngIf="article.id != -1"
              >
                <td
                  class="fs-12"
                  style="
                    padding-bottom: 6px;
                    padding-top: 6px;
                    width: 50%;
                    text-align: left;
                  "
                >
                  <ng-container *ngIf="article['Name'].length > 0">
                    {{ article["Name"] }} {{ article["Status"] ? "-" : "" }}
                    {{ (article["Status"] ? article["Status"] : "") | translate }}
                  </ng-container>
                </td>
                <td
                  class="fs-12"
                  style="
                    padding-bottom: 6px;
                    padding-top: 6px;
                    width: 10%;
                    text-align: right;
                  "
                >
                  <ng-container *ngIf="article.Quantity != 0">
                    {{ article.Quantity | timeDisplay }}
                  </ng-container>
                  <ng-container *ngIf="article.Quantity == 0">
                  </ng-container>
                </td>
                <td
                  class="fs-12"
                  style="
                    padding-bottom: 6px;
                    padding-top: 6px;
                    width: 5%;
                    text-align: left;
                    padding-left: 5px;
                  "
                >
                  <ng-container *ngIf="article.Quantity != 0">
                    {{ "hours"  | translate }}
                  </ng-container>
                  <ng-container *ngIf="article.Quantity == 0">
                    &nbsp;
                  </ng-container>
                </td>
                <td
                  class="fs-12"
                  style="
                    padding-bottom: 6px;
                    padding-top: 6px;
                    width: 15%;
                    text-align: right;
                  "
                >
                  <ng-container *ngIf="article.Price != 0">
                    {{ article.Price | number: "1.2-2":"fr" }}
                  </ng-container>
                  <ng-container *ngIf="article.Price == 0">
                  </ng-container>
                </td>
                <td
                  class="fs-12"
                  style="
                    padding-bottom: 6px;
                    padding-top: 6px;
                    width: 5%;
                    text-align: center;
                    padding-left: 10px;
                  "
                >
                  {{ article["Deduct"] != 0 ? article["Deduct"] : "" }}
                </td>
                <td
                  class="fs-12"
                  style="
                    padding-bottom: 6px;
                    padding-top: 6px;
                    width: 15%;
                    text-align: right;
                  "
                >
                  <ng-container *ngIf="article.Total != 0">
                    {{ article.Total | number: "1.2-2":"fr" }}
                  </ng-container>
                  <ng-container *ngIf="article.Total == 0">
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <!-- Material Table -->
          <ng-container *ngIf="getArticlesMaterial.length > 0">
            <tr>
              <td
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
                colspan="6"
              >
                <b>{{ "Materialsammanställning" | translate }}</b>
              </td>
            </tr>
            <tr style="background-color: #f0f0f0" *ngIf="Number(calcAllTotal([getArticlesMaterial])) != 0">
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
              >
                {{ currentWeeklyReport?.date
                }}<span
                  *ngIf="
                    currentWeeklyReport.status != 0 &&
                    currentWeeklyReport.status != 1
                  "
                >
                  - {{ "Accepted" | translate }}</span
                >
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 10%;
                  text-align: right;
                "
              >
                1
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: left;
                  padding-left: 5px;
                "
              >
                {{ "pieces" | translate }}
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: center;
                  padding-left: 10px;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              >
                {{ calcAllTotal([getArticlesMaterial]) | number: "1.2-2":"fr" }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="getDeclinedArticlesMaterial.length > 0">
            <tr style="background-color: white" *ngIf="Number(calcAllTotal([getDeclinedArticlesMaterial])) != 0">
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
              >
                {{ currentWeeklyReport?.date }} - {{ "Declined" | translate }}
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 10%;
                  text-align: right;
                "
              >
                1
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: left;
                  padding-left: 5px;
                "
              >
                {{ "pieces" | translate }}
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: center;
                  padding-left: 10px;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              >
                {{
                  calcAllTotal([getDeclinedArticlesMaterial])
                    | number: "1.2-2":"fr"
                }}
              </td>
            </tr>
          </ng-container>
          <!-- Other Table -->
          <ng-container *ngIf="getArticleOther.length > 0">
            <tr>
              <td
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
                colspan="6"
              >
                <b>{{ "UE/Other" | translate }}</b>
              </td>
            </tr>
            <tr style="background-color: #f0f0f0" *ngIf="Number(calcAllTotal([getArticleOther])) != 0">
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
              >
                {{ currentWeeklyReport?.date
                }}<span
                  *ngIf="
                    currentWeeklyReport.status != 0 &&
                    currentWeeklyReport.status != 1
                  "
                >
                  - {{ "Accepted" | translate }}</span
                >
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 10%;
                  text-align: right;
                "
              >
                1
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: left;
                  padding-left: 5px;
                "
              >
                {{ "pieces" | translate }}
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: center;
                  padding-left: 10px;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              >
                {{ calcAllTotal([getArticleOther]) | number: "1.2-2":"fr" }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="getDeclinedArticleOther.length > 0">
            <tr style="background-color: white" *ngIf="Number(calcAllTotal([getDeclinedArticleOther])) != 0">
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 50%;
                  text-align: left;
                "
              >
                {{ currentWeeklyReport?.date }} - {{ "Declined" | translate }}
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 10%;
                  text-align: right;
                "
              >
                1
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: left;
                  padding-left: 5px;
                "
              >
                {{ "pieces" | translate }}
              </td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 5%;
                  text-align: center;
                  padding-left: 10px;
                "
              ></td>
              <td
                class="fs-12"
                style="
                  padding-bottom: 6px;
                  padding-top: 6px;
                  width: 15%;
                  text-align: right;
                "
              >
                {{
                  calcAllTotal([getDeclinedArticleOther]) | number: "1.2-2":"fr"
                }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer-section mt-2 pt-2">
    <div
      class="labeling-requierments"
      *ngIf="currentWeeklyReport?.wr_labeling_requirements"
    >
      {{ "Labeling requirements" | translate }}
      {{ currentWeeklyReport?.wr_labeling_requirements }}
    </div>
    <div>
      <p class="total-sum border-tot-sum" *ngIf="currentWeeklyReport">
        {{ "Total" | translate }}:
        {{
          calcApprovedTotal([
            currentWeeklyReport.articles?.AdditionalWork,
            currentWeeklyReport.articles?.Material,
            currentWeeklyReport.articles?.Other
          ]) | number: "1.2-2":"fr"
        }}
        {{currency}}
      </p>
      <p class="alla-priser">
        {{ "All prices are excluding VAT" | translate }}
      </p>
    </div>
    <div class="foot">
      <div class="container no-pad-right no-pad-left">
        <div class="row">
          <div
            class="col-6"
            style="padding-left: 5px"
            *ngIf="
              !currentWeeklyReport?.comment?.trim() &&
              !currentWeeklyReport?.answerEmail
            "
          >
            <div
              class="footer"
              *ngIf="currentWeeklyReport?.clientResponses?.length == 0"
            >
              <p class="title">{{ "The above is approved" | translate }}</p>
              <p class="signature-field">
                {{ "city" | translate }}, {{ "date" | translate }}
              </p>
              <p class="signature-field">{{ "Signature" | translate }}</p>
              <p class="signature-field">
                {{ "All prices are excluding VAT" | translate }}
              </p>
            </div>
          </div>
          <div
            [ngClass]="
              !currentWeeklyReport?.comment?.trim() &&
              !currentWeeklyReport?.answerEmail
                ? 'col-6 no-pad-right'
                : 'col12'
            "
          >
            <table class="table-total">
              <tr>
                <td>{{ "Totally worked up" | translate }}:</td>
                <td>
                  {{
                    currentWeeklyReport?.totalWorkedUp | number: "1.2-2":"fr"
                  }}
                  {{currency}}
                </td>
              </tr>

              <tr>
                <td>{{ "Previously billed" | translate }}:</td>
                <td>
                  {{
                    currentWeeklyReport?.invoicedTotal | number: "1.2-2":"fr"
                  }}
                  {{currency}}
                </td>
              </tr>

              <tr>
                <td>{{ "Remains to bill" | translate }}:</td>
                <td>
                  {{
                    calcRemainingToBill("totalWorkedUp") | number: "1.2-2":"fr"
                  }}
                  {{currency}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="my-grid-2">
      <div>
        <div class="section">
          <div
            class="digital-answer"
            *ngIf="currentWeeklyReport?.clientResponses?.length > 0"
          >
            <div class="answer-wrapper">
              <h5 style="font-weight: bold">
                {{ "Message from Client" | translate }}
              </h5>

              <p
                class="response-container"
                *ngFor="
                  let clientResponse of currentWeeklyReport?.clientResponses
                "
              >
                <ng-container>
                  {{ clientResponse.answerDate }} -
                  <ng-container *ngIf="clientResponse?.manualReply == 1">
                    {{
                      clientResponse?.Status == 3
                        ? ("Manually declined by" | translate)
                        : ("Manually
                                      accepted by"
                          | translate)
                    }}
                  </ng-container>
                  {{ clientResponse.answerEmail }}
                </ng-container>
                <ng-container >
                  <div class="container no-pad-left no-pad-right flex-center">
                    <div class="row">

                      <div
                        class="answ-accepted"
                        *ngIf="
                          clientResponse?.Status == 2 ||
                          clientResponse?.Status == 4
                        "
                      >
                        {{ "Accepted" | translate }}
                      </div>

                      <div
                        class="answ-delinced"
                        *ngIf="clientResponse?.Status == 3"
                      >
                        {{ "Declined" | translate }}
                      </div>

                      <div
                        class="answ-question"
                        *ngIf="clientResponse?.Status == 0"
                      >
                        {{ "Question" | translate }}
                      </div>
                    </div>
                  </div>
                </ng-container>
                <br /><span
                  *ngIf="clientResponse?.client_message"
                  class="client-message"
                  >{{ clientResponse?.client_message }}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr" />
    <div class="grid footer-data" *ngIf="generals">
      <div>
        <div class="section">
          <p>
            <b>{{ "Postadress" | translate }}</b>
          </p>
          <p>{{ generals['Company_Name'].value }}</p>
          <p>{{ generals['Company_Address'].value }}</p>
          <p>{{ generals['Company_Email'].value }} {{ generals['Company_Site'].value }}</p>
        </div>
      </div>
      <div class="marg-inl marg-right-16">
        <div class="section">
          <p>
            <b>{{ "Telefon" | translate }}</b>
          </p>
          <p>{{ generals['Company_Phone'].value }}</p>
          <p>
            <b>{{ "Momsreg.nr" | translate }}</b>
          </p>
          <p>{{ generals['Company_Bank_Account'].value }}</p>
        </div>
      </div>
      <div class="marg-inl marg-right-m16">
        <div class="section">
          <p>{{ "Approved for F tax" | translate }}</p>
          <br />
          <p>{{ "Debiteringsunderlag " | translate }} {{ "skapad" | translate }} i</p>
          <p>SPS360</p>
        </div>
      </div>
      <div class="footer-right">
        <div class="section">
          <br />
          <br />
          <p style="font-weight: bold">{{ "Page" | translate }} 1/1</p>
        </div>
      </div>
    </div>
  </div>
</div>
