.weekly-report-pdf {
  width: 770px;
  height: 95vh;
  overflow-y: auto;
  background-color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Arial Narrow";
  color: black;
}

.bold {
  font-weight: bold;
}
p {
  margin: 0;
}

th,
td {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.footer {
  margin-top: 1em;
}

.footer p {
  margin: 0.5em 0;
}

.date-and-signature {
  display: flex;
  border: 1px solid #777;
}

.date-and-signature > div {
  flex: 1;
  padding: 0.5em;
  padding-bottom: 3em;
}

.date-and-signature > div + div {
  border-left: 1px solid #777;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 0.5em;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 0.5em;
}

.grid p {
  margin-bottom: 0rem;
}

.grid-2 p {
  margin-bottom: 0px;
}

.grid img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 1em;
}

.grid .section + .section {
  margin-top: 1.5em;
}

.footer-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer-section {
  font-size: 0.8em;
  line-height: normal;
}

.footer-section .grid > div {
  padding: 0 10px;
}

/* .answer-wrapper {
    width: 100%;
    border: 1px solid #a5a5a5;
    background-color: #eee;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
} */

.answer-description {
  padding: 5px;
  border: 1px solid #a5a5a5;
  background-color: #e7e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.answer {
  padding: 5px;
  border: 1px solid #70ad47;
  border-radius: 5px;
  text-align: center;
  background-color: #e7e6e6;
}

.client-message {
  padding: 0.45em 0.9em;
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
  margin-top: 0.2em;
}

.total-sum {
  margin-top: 1em;
  text-align: right;
}

/* .table-total {
    margin-top: 1em;
    width: 70%;
    margin-left: auto;
} */

.table-total {
  text-align: end;
  margin-inline-start: auto;
  font-size: small;
}

/* .table-total > div > * {
    flex: 1;
}

.table-total > div > *:nth-child(2) {
    text-align: right;
} */

.footer .signature-field {
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  font-size: 0.8em;
}
/*-----------------------------------------------*/
.no-pad-left {
  padding-left: 0px;
}
.no-pad-right {
  padding-right: 0px;
}
.hed {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 26px;
}
.leetsp {
  letter-spacing: 1px;
}
.ata-nub {
  text-align: right;
  /* padding-right: 0%; */
  padding-left: 0%;
  padding-right: 0;
}
.img {
  width: 100%;
}
.marg-inl-end {
  margin-inline-end: auto;
}
.align-right {
  text-align: right;
}
.aligin-left {
  text-align: left;
}

table,
th,
td {
  padding: 0.35em;
  border: 1px solid lightgrey;
  border-collapse: collapse;
  /* Dž.K. 03.03.2021 Pocetak*/
  border: hidden;
  letter-spacing: 1px;
  padding-bottom: 0px;
  /* Dž.K. 03.03.2021 Kraj*/
}
.marg-left-5 {
  letter-spacing: 0.5px;
}
table caption {
  padding: 0.5em;
}
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.article-table {
  margin-top: 1em;
  background: white;
  /* border: 1px solid grey; */
  /* border-collapse: collapse; */
  border-collapse: unset;
  border-spacing: unset;
  width: 100%;
  line-height: normal;
}

.article-table th {
  white-space: nowrap;
}
.beskriving {
  padding-left: 15px;
}
.border-table {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #7070708a;
  border-spacing: unset;
  font-family: "Arial Narrow";
  font-size: small;
  font-weight: normal;
  padding-bottom: 2px;
}
.img-p-m-sign {
  height: 9px;
  vertical-align: unset;
}
.border-tot-sum {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #7070708a;
  border-spacing: unset;
  font-family: "Arial Narrow";
  letter-spacing: 1px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.alla-priser {
  text-align: end;
  font-family: "Arial Narrow";
  font-size: small;
  padding-right: 5px;
  margin-bottom: 0;
}
.table-wrapper {
  /* min-height: 200px; */
  min-height: 280px;
}
.marg-right-16 {
  margin-right: 16%;
}
.marg-right-m16 {
  margin-right: -16%;
}
.grid p {
  margin-bottom: 0rem;
}
.hr {
  margin-bottom: 0.5rem;
}
.col12 {
  margin-inline-start: auto;
  padding-right: 0;
}
.my-grid-2 {
  display: grid;
  /* grid-template-columns: 40%,60%; */
  /* grid-template-columns: repeat(1, 40% 2fr) ; */
  grid-template-columns: repeat(1, 295px 2fr);
  grid-auto-rows: 1fr;
  grid-gap: 0.5em;
}
.digital-answer {
  /* padding: 10px; */
  padding: 5px;
  background-color: #f8f8f8;
  border: 1px solid #7070708a;
  border-radius: 5px;
  letter-spacing: 1px;
}
.answ-delinced {
  color: #fff;
  background-color: #dc3545;
  margin-inline-start: auto;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.answ-question {
  color: #fff;
  background-color: #ffc107;
  margin-inline-start: auto;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.answ-accepted {
  color: #fff;
  background-color: #4cb185;
  margin-inline-start: auto;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

.labeling-requierments {
  font-weight: bold;
  font-size: 0.7rem;
}

.buton-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buton-wrapper > div {
  padding: 0.10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.right-side-row > div:first-child {
  margin-right: 1rem;
}

.left-side-row > div:first-child {
  margin-right: 1rem;
}

.preview-btn {
  color: #17a2b8;
  cursor: pointer;
}

.preview-btn:hover {
  color: #005a68;
}

.response-container {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 0.68fr 0.32fr;
}

/*-----------------------------------------------*/
