<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="8.975"
  height="5.748"
  viewBox="0 0 8.975 5.748"
>
  <defs>
    <clipPath id="clip-path">
      <path
        id="Path_758"
        data-name="Path 758"
        d="M0,5.748H8.975V0H0Z"
        fill="#373b40"
      />
    </clipPath>
  </defs>
  <g
    id="Group_9093"
    data-name="Group 9093"
    transform="translate(8.975 5.748) rotate(-180)"
  >
    <g
      id="Group_305"
      data-name="Group 305"
      transform="translate(0 0)"
      clip-path="url(#clip-path)"
    >
      <g id="Group_304" data-name="Group 304" transform="translate(0 0)">
        <path
          id="Path_757"
          data-name="Path 757"
          d="M.1.86,4.071,5.57a.477.477,0,0,0,.406.179h.045a.477.477,0,0,0,.406-.179L8.874.86A.54.54,0,0,0,8.975.5.376.376,0,0,0,8.784.191L8.648.1A.646.646,0,0,0,8.265,0a.442.442,0,0,0-.338.19L4.5,4.208,1.072.191A.442.442,0,0,0,.734,0,.646.646,0,0,0,.351.1L.193.191A.376.376,0,0,0,0,.5.54.54,0,0,0,.1.86"
          transform="translate(0 0)"
          fill="#373b40"
        />
      </g>
    </g>
  </g>
</svg>
