.wrapper{
  width:490px;
  height: 218px;
  padding: 22px 22px 33px 22px;
  border: 3px solid #82A7E2;
  margin: -25px;
  border-radius: 10px;
  background-color: #373B40;
}
.head-wrapper{
  display: flex;
  justify-content: space-between;
}

.body-wrapper{
  margin-top: 30px;
}

.save-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.button-save-custom {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
  padding: 3px 11px 3px 11px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--main-bg);
}

.pos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-modal{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #B8B8B8;
  cursor: pointer;
  background-color: var(--main-bg);
  padding: 0px;
}

input{
  height: 33px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
input:focus, input:focus-visible{
  outline: none;
}

label{
  font-size: 12px;
  color:#E3DBD3;
  margin-bottom: 5px;
}


.heahea{
  border-bottom: none;
  padding: 0;
}
.le{
  margin: 10px 20px 0 auto;
  padding: 0px 5px;
  border: 1px solid white;
  border-radius: 15px;
}
.heading{
  text-align: left;
  color: #82A7E2;
  font-size:  20px;
  font-family: "PT-Sans-Pro-Regular";;
}

.form-wrapp{
  display: flex;
  gap: 30px;
}


::ng-deep .cdk-overlay-dark-backdrop {
  background: rgb(128 128 128 / 50%);
}



