/*@import "../../../../../../../assets/css/wemax-colors.css";*/

.top3px {
  top: 3px;
}

.row-sm .col-md-6:first-of-type {
  padding-right: 5px;
  padding-left: 0;
}

.row-sm .col-md-6:last-of-type {
  padding-left: 5px;
  padding-right: 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
}

.form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.form-column-wrapper {
  background: #faf9fa;
  border: 3px solid #f0eff1;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.form-column-wrapper-position {
  display: flex;
}

fieldset {
  border: 1px solid #ddd !important;
  margin: 0;
  padding: 2px 10px 0 2px;
  position: relative;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding-left: 10px !important;
}

legend {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  /*width: 35%;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 4px; */
  padding: 5px;
  white-space: nowrap;
}

.btn-icon-postion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-table input,
.invoice-table select {
  border: none;
}

.project-nav-select .caret {
  display: none;
}

select.project-nav-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  /*height: 40px;*/
  border-radius: 4px;
  background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, #e6effb, #e6effb);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border: 1px solid #cbcbcb;
  color: #505050;
}

.minmax801 {
  min-width: 801px;
  max-width: 801px;
  position: fixed;
}

.invoice-row {
  cursor: pointer;
}

.legenda {
  font-size: 1.5em;
  line-height: 0.8em;
}

table tr .delete-icon {
  padding: 0;
}

.delete-icon span {
  margin-top: 3px;
  font-size: 21px;
}

.invoice-table thead tr,
.total-row td {
  background: #efefef;
}

@media (max-width: 800px) {
  .minmax801 {
    min-width: unset;
    max-width: unset;
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  .tab-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
}

.booked {
  background-color: hsla(60, 58%, 75%, 0.15);
}
.booked:hover {
  background-color: hsla(60, 58%, 75%, 0.35);
}
.paid {
  background-color: rgba(141, 242, 198, 0.2);
}

.paid:hover {
  background-color: rgba(141, 242, 198, 0.45);
}
.sent {
  background-color: rgba(118, 118, 255, 0.15);
}
.sent:hover {
  background-color: rgba(118, 118, 255, 0.25);
  zoom: 1;
}
.canceled {
  background-color: #d6d8db;
}
.canceled:hover {
  background-color: #c8cbcf;
}
.unpaid {
  background-color: hsla(0, 58%, 75%, 0.33);
}
.unpaid:hover {
  background-color: hsla(0, 58%, 75%, 0.45);
  zoom: 1;
}

.menu-wrapp {
  display: flex;
  flex-direction: column;
}

.txt-color {
  color: black;
}
