.payroll-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    font-size: 0.9rem;
    border-bottom: solid 1px #B8B8B8;
}

.payroll-link:hover { 
    fill: var(--brand-color) !important;
    color: var(--brand-color) !important;
}

.payroll-link:hover svg g path { 
    fill: var(--brand-color) !important;
    color: var(--brand-color) !important;
}
