<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  <g id="Group_8807" data-name="Group 8807" transform="translate(-129 -325)">
    <g id="Group_8805" data-name="Group 8805" transform="translate(0 -75)">
      <g id="Group_8745" data-name="Group 8745" transform="translate(131 367)">
        <circle id="Ellipse_790" data-name="Ellipse 790" cx="10" cy="10" r="10" transform="translate(-2 33)" [ngStyle]="{'fill':fill}"/>
      </g>
    </g>
    <g id="Group_8806" data-name="Group 8806" transform="translate(131.292 326.716)">
      <path id="send" d="M11.241,0,0,6.237,3.533,7.454,9.111,2.389,4.837,7.9h0l-.055,2.966L6.818,8.585l2.51.865Z" transform="matrix(0.927, 0.375, -0.375, 0.927, 3.529, 0.459)" fill="#fff"/>
    </g>
  </g>
</svg>