
<div class="tabs-wrapper" style="display:flex">
  <ul class="nav-ata-tabs" style="margin-left:45px">
      <ng-container>
          <li class="nav-item">
              <div class="button-wrapper">
                 <!--  <button class="flex-button" type="button">
 -->
                      <div>
                        <fieldset class="fieldset shadow-top-div" >
                          <span class="title-options first" >
                            <span
                                  class="cursor-pointer">
                              {{ "Working hours" | translate }}
                            </span>
                            <img src="/assets/img/modify-ata/arrow-down.svg" alt="" class="imgPos" >
                            <img src="/assets/img/modify-ata/arrow-up.svg" alt="" class="imgPos" >
                          </span>
                          <fieldset class="fieldset shadow-top-div no-border"  >
                            <div class="">

                            </div>
                          </fieldset>

                        </fieldset>
                      </div>


<!--                   </button>
 -->
              </div>
          </li>

      </ng-container>


  </ul>

</div>
