.modal-top-wrapper {
  overflow: hidden;
}

.modal-top-wrapper .btn-outline-dark {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-padding {
  padding: 5px !important;
}

.butt {
  width: 50% !important;
  border-radius: 20px !important;
  background-color: #4cb185;
}

.button-group {
  width: 100%;
}

.row-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.btn-reject {
  margin-left: 10px !important;
}

.row-content form,
.row-content p {
  width: 100%;
}

.comment {
  border: 2px solid;
  background-color: #f6fafd;
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
  cursor: default;
  word-break: break-word;
  max-height: 350px;
  overflow: auto;
}

.date {
  font-size: 0.8rem;
  cursor: default;
}
.absence-type {
  margin-bottom: 0.3rem;
}
p {
  margin-top: 12px;
}
