<div class="weekly-report-pdf blu-scroll" *ngIf="currentWeeklyReport">
  <div class="main-section">
    <div class="buton-wrapper">
      <div class="left-side-row">
        <!-- <div class="cursos-move" >
          <div class="rotate-right-hovered"  (click)="zoomBy(10)">
            <app-zoom-in-svg></app-zoom-in-svg>
          </div>
        </div>
        <div class="cursos-move" (click)="zoomBy(-10)">
          <div class="rotate-right-hovered">
            <app-zoom-out-svg></app-zoom-out-svg>
          </div>
        </div> -->
      </div>
      <div class="right-side-row">
        <div (click)="generatePdf('Save')">
          <app-download-svg-icon></app-download-svg-icon>
        </div>
        <div (click)="generatePdf('Print')">
          <app-print-svg-icon></app-print-svg-icon>
        </div>
      </div>
    </div>
    <div class="container-fluid no-pad-left">
      <div class="row">
        <div class="col-4 no-pad-left">
          <img class="img" src="{{ generalImage }}" alt="logo" />
        </div>
        <div class="col-8 no-pad-right">
          <h4 *ngIf="!checkDU(currentWeeklyReport.name)" class="hed">
            {{ "Change & additional work" | translate }}
          </h4>
          <h4 *ngIf="checkDU(currentWeeklyReport.name)" class="hed">
            {{ "Debiteringsunderlag" }}
          </h4>
          <div class="row">
            <div
              *ngIf="!checkDU(currentWeeklyReport.name)"
              class="col-8 no-pad-left"
            >
              <h6 style="font-weight: bold">
                Art:
                {{ getAtaType(formValues.AtaType) }} -
                {{
                  formValues.paymentType == "1"
                    ? "Löpande räkning"
                    : formValues.paymentType == "2"
                    ? "Fastpris"
                    : formValues.paymentType == "4"
                    ? "Riktpris"
                    : "Enl. á-prislista"
                }}
              </h6>
              <span
                ><b>{{ checkDisplayText() }}</b></span
              >
            </div>
            <div
              *ngIf="checkDU(currentWeeklyReport.name)"
              class="col-8 no-pad-left"
            >
              <h6 style="font-weight: bold">
                Art: {{ checkDisplayTextDU() | translate }}
              </h6>
            </div>
            <div class="col-4 ata-nub leetsp">
              <p *ngIf="!checkDU(currentWeeklyReport.name)">
                <b>
                  {{ "Nr" | translate }}: {{ project.CustomName }}-{{
                    formValues.Type == "internal" ? "INTERN" : ""
                  }}ÄTA{{ formValues?.AtaNumber }}</b
                >
              </p>
              <p *ngIf="checkDU(currentWeeklyReport.name)">
                <b>
                  {{ "Nr" | translate }}: {{ project.CustomName }}-{{
                    formValues.Type == "internal" ? "INTERN" : ""
                  }}{{ currentWeeklyReport?.name }}</b
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-2 mb-3">
      <div class="marg-inl-end" style="line-height: 1.45em">
        <div class="section">
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td class="align-right">
                  <small>{{ "Project" | translate }}:</small>
                </td>
                <td>{{ project.CustomName }} {{ project.name }}</td>
              </tr>
              <tr>
                <td class="align-right" style="padding-top: 2%">
                  <small
                    >{{
                      "Created by" | translate
                    }}:</small
                  >
                </td>
                <td style="padding-top: 2%">
                  {{
                    get_last_email_log_but_first_client_wr?.from_user === "" || get_last_email_log_but_first_client_wr.length == 0
                      ? current_user_full_name
                      : get_last_email_log_but_first_client_wr?.from_user
                  }}<h6></h6>
                </td>
              </tr>
              <tr>
                <td class="align-right">
                  <small>{{ "Sent" | translate }}:</small>
                </td>
                <td class="leetsp">
                  {{ get_last_email_log_but_first_client_wr?.EMAIL_LOG_DATE }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="section marg-inl-end" style="line-height: initial">
        <table class="table">
          <thead></thead>
          <tbody>
            <tr>
              <td class="align-right no-pad-left">
                <small>{{ "Application made to" | translate }}:</small>
              </td>
              <td class="no-pad-left">
                {{
                  get_last_email_log_but_first_client_wr.email_log_client_worker
                }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="no-pad-top no-pad-left">
                {{ formValues.clientName }} <br />
                {{ formValues.street }}
              </td>
            </tr>
            <tr>
              <td class="no-pad-top"></td>
              <td class="no-pad-left">
                {{ formValues.zip }} {{ formValues.city }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="grid-2 mb-3">
      <div style="padding-left: 5px">
        <div class="section">
          <p>
            <small>{{ "Heading" | translate }}:</small>
          </p>
          <p *ngIf="getAtaType(formValues?.AtaType)">
            <b
              >{{ project.CustomName
              }}{{
                formValues?.AtaNumber
                  ? "-" +
                    (formValues.Type == "internal" ? "INTERN" : "") +
                    "ÄTA-" +
                    formValues?.AtaNumber
                  : ""
              }}-{{ currentWeeklyReport.formatWRNumber }}</b
            >
            <br />
            <b>{{ formValues.Name }}</b>
          </p>
          <p *ngIf="formValues?.DeviationNumber > 0">
            {{ "Single notifications are made" | translate }}
            {{ "U-" + formValues?.DeviationNumber }}
          </p>
          <p *ngIf="checkDU(currentWeeklyReport.name)">
            <b
              >{{ project.CustomName }}-{{ currentWeeklyReport?.name }} -
              {{ project.name }}</b
            >
          </p>
        </div>
      </div>
      <div class="marg-left-5">
        <div class="section">
          <br />
          <p>
            {{ "In order to minimize the time," | translate }}
            {{
              (
                "cost consequences and not cause any
                        obstacles, we need the above order"
                | translate
              ).substring(0, 58)
            }}
            {{ "message at the latest" | translate }}:
            <b>
              {{
                currentWeeklyReport?.WeeklyReportDueDate?.substring(0, 10)
              }}</b
            >
          </p>
        </div>
      </div>
    </div>

    <div class="continer" style="min-height: 280px">
      <div>
        <div class="row tb-hed">
          <span style="width: 30%">{{ "Moment" | translate }}</span>
          <span style="width: 8%">{{ "Time" | translate }}</span>
          <span style="width: 6%; text-align: start">{{
            "Attest" | translate
          }}</span>
          <span style="width: 25%">{{ "State" | translate }}</span>
          <span style="width: 25%">{{ "Comment" | translate }}</span>
        </div>
        <ng-container *ngFor="let item of moments; let i = index">
          <div>
            <div class="item-date">
              <span style="margin-left: 1%">{{
                formatItemDate(item["date"])
              }}</span>
            </div>
            <ng-container *ngFor="let user of item['users']; let i2 = index">
              <div class="row padd1105" [ngClass]="getBackground(user)">
                <span style="font-weight: bold; width: 30%">{{
                  user["name"]
                }}</span>
                <span
                  style="font-weight: bold; width: 10%; text-align: center"
                  >{{ user["total"].toString().replace(".", ",") }}</span
                >
                <span
                  [ngClass]="
                    userMoments(user['moments']) &&
                    (currentWeeklyReport.status == 2 ||
                      currentWeeklyReport.status == 4)
                      ? 'marg-06'
                      : 'marg-1'
                  "
                >
                  <svg
                    *ngIf="
                      userMoments(user['moments']) &&
                      (currentWeeklyReport.status == 2 ||
                        currentWeeklyReport.status == 4)
                    "
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="15"
                    viewBox="0 0 34.987 30.649"
                  >
                    <path
                      id="Path_381"
                      data-name="Path 381"
                      d="M29.2,68.509a1.328,1.328,0,0,0-2.095,0L9.353,89.431l-6.825-8.04a1.328,1.328,0,0,0-2.095,0,1.973,1.973,0,0,0,0,2.469L8.3,93.135a1.328,1.328,0,0,0,2.095,0L29.2,70.964a1.974,1.974,0,0,0,0-2.455Z"
                      transform="translate(2.683 -65.497)"
                      fill="#07b937"
                      stroke="#0bb70b"
                      stroke-width="5"
                    />
                  </svg>

                  <svg
                    *ngIf="
                      !userMoments(user['moments']) &&
                      (currentWeeklyReport.status == 2 ||
                        currentWeeklyReport.status == 4)
                    "
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="25"
                    height="25"
                    viewBox="0 0 44 44"
                  >
                    <defs>
                      <filter
                        id="Path_406"
                        x="0"
                        y="0"
                        width="44"
                        height="44"
                        filterUnits="userSpaceOnUse"
                      >
                        <feOffset dy="1" input="SourceAlpha" />
                        <feGaussianBlur stdDeviation="1.5" result="blur" />
                        <feFlood flood-color="#bebebe" />
                        <feComposite operator="in" in2="blur" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                    </defs>
                    <g
                      id="Group_2872"
                      data-name="Group 2872"
                      transform="translate(-749.689 -2071.5)"
                    >
                      <g
                        transform="matrix(1, 0, 0, 1, 749.69, 2071.5)"
                        filter="url(#Path_406)"
                      >
                        <path
                          id="Path_406-2"
                          data-name="Path 406"
                          d="M17.5-.525A17.793,17.793,0,0,1,35,17.215a17.381,17.381,0,0,1-17.5,17.26A17.381,17.381,0,0,1,0,17.215,17.793,17.793,0,0,1,17.5-.525Z"
                          transform="translate(4.5 4.03)"
                          fill="#f69a0f"
                        />
                      </g>
                      <line
                        id="Line_97"
                        data-name="Line 97"
                        y2="20"
                        transform="translate(771.5 2078.5)"
                        fill="none"
                        stroke="#f8f8f8"
                        stroke-width="6"
                      />
                      <circle
                        id="Ellipse_1"
                        data-name="Ellipse 1"
                        cx="3.5"
                        cy="3.5"
                        r="3.5"
                        transform="translate(768 2100)"
                        fill="#fff"
                      />
                    </g>
                  </svg>
                </span>
                <span style="width: 27%"></span>
                <span style="width: 27%">{{ user["comment"] }}</span>
              </div>
              <ng-container
                *ngFor="let moment of user['moments']; let i3 = index"
              >
                <div
                  class="row"
                  style="padding-right: 11px"
                  [ngClass]="getBackground(user)"
                >
                  <span style="width: 7%"></span>
                  <div
                    style="width: 93%"
                    [ngClass]="
                      moment['ClientComment'] || moment['ClientStatus'] == 0
                        ? 'row del-time'
                        : 'row'
                    "
                  >
                    <span
                      [ngClass]="
                        moment['ClientStatus'] == 0 ? 'line-trough' : ''
                      "
                      style="width: 25%; padding-left: 2%"
                      >{{ getString(moment) }}</span
                    >
                    <span *ngIf="moment['time_qty'] < 1"  [ngClass]="
                    moment['ClientStatus'] == 0 ? 'line-trough' : ''
                  "
                  style="width: 10%; text-align: center">0{{moment["time_qty"]}}</span>
                    <span
                    *ngIf="moment['time_qty'] >= 1"
                      [ngClass]="
                        moment['ClientStatus'] == 0 ? 'line-trough' : ''
                      "
                      style="width: 10%; text-align: center">

                      {{moment["time_qty"].toString().replace(".", ",")}}</span
                    >
                    <span
                      [ngClass]="
                        moment['ClientStatus'] == 0 ||
                        currentWeeklyReport.status == 0
                          ? 'width-7-m06'
                          : 'width-7'
                      "
                    >
                      <svg
                        *ngIf="moment['ClientStatus'] == 1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 30.843 26.649"
                      >
                        <path
                          id="Path_422"
                          data-name="Path 422"
                          d="M29.2,68.509a1.328,1.328,0,0,0-2.095,0L9.353,89.431l-6.825-8.04a1.328,1.328,0,0,0-2.095,0,1.973,1.973,0,0,0,0,2.469L8.3,93.135a1.328,1.328,0,0,0,2.095,0L29.2,70.964a1.974,1.974,0,0,0,0-2.455Z"
                          transform="translate(0.609 -67.498)"
                          fill="#07b937"
                          stroke="#0bb70b"
                          stroke-width="1"
                        />
                      </svg>
                      <svg
                        *ngIf="moment['ClientStatus'] == 0"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="25"
                        height="25"
                        viewBox="0 0 41 41"
                      >
                        <defs>
                          <filter
                            id="Path_406"
                            x="0"
                            y="0"
                            width="41"
                            height="41"
                            filterUnits="userSpaceOnUse"
                          >
                            <feOffset dy="1" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="1.5" result="blur" />
                            <feFlood flood-color="#bebebe" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in="SourceGraphic" />
                          </filter>
                        </defs>
                        <g
                          id="Group_2874"
                          data-name="Group 2874"
                          transform="translate(-751.5 -2066.975)"
                        >
                          <g
                            id="Group_2870"
                            data-name="Group 2870"
                            transform="translate(756 2070.475)"
                          >
                            <g
                              transform="matrix(1, 0, 0, 1, -4.5, -3.5)"
                              filter="url(#Path_406)"
                            >
                              <path
                                id="Path_406-2"
                                data-name="Path 406"
                                d="M16-.525a16.268,16.268,0,0,1,16,16.22,15.891,15.891,0,0,1-16,15.78A15.891,15.891,0,0,1,0,15.694,16.268,16.268,0,0,1,16-.525Z"
                                transform="translate(4.5 4.03)"
                                fill="#f60f0f"
                              />
                            </g>
                            <g
                              id="Path_404"
                              data-name="Path 404"
                              transform="matrix(0.719, 0.695, -0.695, 0.719, 8.262, 4.514)"
                              fill="#fff"
                            >
                              <path
                                d="M 25.48698043823242 3.429776906967163 L 2.064868688583374 2.394697904586792 C 2.042267560958862 2.309450626373291 2.023682832717896 2.201936006546021 2.020126342773438 2.074814558029175 C 2.019848346710205 2.064886331558228 2.019670248031616 2.055137395858765 2.019584178924561 2.045531988143921 L 25.44169616699219 3.080610752105713 C 25.46429634094238 3.165857315063477 25.48287963867188 3.273368835449219 25.48643684387207 3.400494337081909 C 25.48671531677246 3.410422801971436 25.48689270019531 3.42017126083374 25.48698043823242 3.429776906967163 Z"
                                stroke="none"
                              />
                              <path
                                d="M 1.294212341308594 0.01238250732421875 C 1.307163238525391 0.01238250732421875 1.320102691650391 0.01266765594482422 1.333156585693359 0.01324462890625 L 26.05143547058105 1.105604648590088 C 26.80985641479492 1.139124393463135 27.45197677612305 2.141514539718628 27.48565673828125 3.344524383544922 C 27.51876640319824 4.52681827545166 26.95180320739746 5.462926387786865 26.21235084533691 5.462926387786865 C 26.19939994812012 5.462926387786865 26.18646049499512 5.46264123916626 26.17340660095215 5.462064266204834 L 1.45512580871582 4.369704246520996 C 0.69671630859375 4.336184501647949 0.05458641052246094 3.333794355392456 0.02090644836425781 2.130784511566162 C -0.01219367980957031 0.9484901428222656 0.5547599792480469 0.01238250732421875 1.294212341308594 0.01238250732421875 Z"
                                stroke="none"
                                fill="#fff"
                              />
                            </g>
                            <g
                              id="Path_405"
                              data-name="Path 405"
                              transform="matrix(-0.695, 0.719, -0.719, -0.695, 28.275, 7.366)"
                              fill="#fff"
                              stroke-linecap="square"
                            >
                              <path
                                d="M1.5.973,27.623-.246c.8-.037,1.42.832,1.38,1.943s-.721,2.041-1.523,2.078L1.354,4.995c-.8.037-1.42-.832-1.38-1.943S.695,1.011,1.5.973Z"
                                stroke="none"
                              />
                              <path
                                d="M 27.6731071472168 -0.2472186088562012 C 28.4504337310791 -0.2472186088562012 29.04209518432617 0.6094751358032227 29.00352668762207 1.696929931640625 C 28.96411323547363 2.807415723800659 28.28231239318848 3.737972736358643 27.48068428039551 3.775387287139893 L 1.353855133056641 4.994687080383301 C 1.337221145629883 4.995463371276855 1.320606231689453 4.995850086212158 1.304132461547852 4.995850086212158 C 0.5268058776855469 4.995850086212158 -0.06486892700195313 4.139156341552734 -0.02628707885742188 3.051701545715332 C 0.01311302185058594 1.941215753555298 0.6949138641357422 1.010658502578735 1.496555328369141 0.9732444286346436 L 27.62338447570801 -0.2460556030273438 C 27.6400203704834 -0.2468318939208984 27.65663528442383 -0.2472186088562012 27.6731071472168 -0.2472186088562012 Z"
                                stroke="none"
                                fill="#fff"
                              />
                            </g>
                          </g>
                        </g>
                      </svg>
                    </span>

                    <span
                      [ngClass]="
                        moment['ClientStatus'] == 0 ? 'bord-t-answ-text' : ''
                      "
                      style="width: 29%"
                      >{{ moment["state"] }}</span
                    >
                    <span
                      [ngClass]="
                        moment['ClientStatus'] == 0
                          ? 'moment-coment'
                          : 'moment-coment-1'
                      "
                      >{{ commentEligibility(moment) }}</span
                    >
                  </div>
                </div>
                <div
                  class="row"
                  style="padding-right: 11px; padding-bottom: 11px"
                  *ngIf="moment['ClientStatus'] == 0"
                >
                  <div style="width: 7%"></div>
                  <div class="row del-time-b">
                    <span style="width: 29%; padding-left: 1%"
                      ><b>Kommentar från beställaren:</b></span
                    >
                    <span style="width: 70%; font-style: italic">{{
                      moment["ClientComment"] ? moment["ClientComment"] : ""
                    }}</span>
                  </div>
                </div>
                <div
                  class="row"
                  style="padding-right: 11px; padding-bottom: 11px"
                  *ngIf="moment['ClientComment'] && moment['ClientStatus'] == 1"
                >
                  <div style="width: 7%"></div>
                  <div class="row del-time-b">
                    <span style="width: 29%; padding-left: 1%"
                      ><b>Kommentar från beställaren:</b></span
                    >
                    <span style="width: 70%; font-style: italic">{{
                      moment["ClientComment"] ? moment["ClientComment"] : ""
                    }}</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <div class="row" style="font-weight: bold; font-size: 15px">
          <span style="width: 30%; text-align: end">Total:</span>
          <span style="width: 10%; padding-left: 2.3%">{{
            getTotalTime().toString().replace(".", ",")
          }}</span>
          <span style="width: 60%"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-section mt-2 pt-2">
    <div class="my-grid-2">
      <div class="section">
        <div
          class="digital-answer"
          *ngIf="currentWeeklyReport?.clientResponses?.length > 0"
        >
          <div class="answer-wrapper">
            <h5 style="font-weight: bold">
              {{ "Message from Client" | translate }}
            </h5>

            <p
              style="margin-bottom: 0"
              *ngFor="
                let clientResponse of currentWeeklyReport?.clientResponses
              "
            >
            <ng-container *ngIf="clientResponse?.manualReply == 1">
              {{ clientResponse.answerDate }} -
              {{
                clientResponse?.Status == 3
                  ? ("Manually declined by" | translate)
                  : ("Manually
                                accepted by"
                    | translate)
              }}
              {{ clientResponse.answerEmail }}

              <div
                class="answ-accepted"
                *ngIf="clientResponse?.Status == 2"
              >
                {{ "Accepted" | translate }}
              </div>

              <div
                class="answ-delinced"
                *ngIf="clientResponse?.Status == 3"
              >
                {{ "Declined" | translate }}
              </div>
            </ng-container>
              <ng-container *ngIf="clientResponse?.manualReply == 0">
                <div class="container no-pad-left no-pad-right">
                  <div class="row">
                    <div>{{ clientResponse.answerDate }}</div>
                    <div
                      class="answ-accepted"
                      *ngIf="
                        clientResponse?.Status == 2 ||
                        clientResponse?.Status == 4
                      "
                    >
                      {{ "Accepted" | translate }}
                    </div>
                    <div
                      class="answ-delinced"
                      *ngIf="clientResponse?.Status == 3"
                    >
                      {{ "Declined" | translate }}
                    </div>
                    <div
                      class="answ-question"
                      *ngIf="clientResponse?.Status == 0"
                    >
                      {{ "Question" | translate }}
                    </div>
                  </div>
                  <div>{{ clientResponse.answerEmail }}</div>
                </div>
              </ng-container>
              <br /><span
                *ngIf="clientResponse?.client_message"
                class="client-message"
                >{{ clientResponse?.client_message }}</span
              >
            </p>
          </div>
        </div>
      </div>
      <div
        [ngClass]="
          currentWeeklyReport.status == 2 ||
          currentWeeklyReport.status == 4 ||
          currentWeeklyReport.status == 3
            ? 'digital-answer-message'
            : ''
        "
        *ngIf="
          currentWeeklyReport.status == 2 ||
          currentWeeklyReport.status == 4 ||
          currentWeeklyReport.status == 3
        "
      >
        <ng-container>
          <table class="dig-answ-table">
            <tbody>
              <tr>
                <td style="text-align: end; padding-bottom: 0">Totalsumma:</td>
                <td style="padding-bottom: 0">{{ getTotalTime() }} Tim</td>
              </tr>
              <tr>
                <td style="text-align: end; padding-top: 0">
                  {{ "Declined" | translate }}:
                </td>
                <td style="padding-top: 0">{{ getDeclinedTotal() }} Tim</td>
              </tr>
              <tr>
                <td style="text-align: end">
                  <b>Accepterat och ok att fakturera:</b>
                </td>
                <td>
                  <b>{{ getAcceptedTotal() }} Tim</b>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
    <hr class="hr" />
    <div class="grid footer-data" *ngIf="generals">
      <div>
        <div class="section">
          <p>
            <b>{{ "Postadress" | translate }}</b>
          </p>
          <p>{{ generals['Company_Name'].value }}</p>
          <p>{{ generals['Company_Address'].value }}</p>
          <p>{{ generals['Company_Email'].value }} {{ generals['Company_Site'].value }}</p>
        </div>
      </div>
      <div class="marg-inl marg-right-16">
        <div class="section">
          <p>
            <b>{{ "Telefon" | translate }}</b>
          </p>
          <p>{{ generals['Company_Phone'].value }}</p>
          <p>
            <b>{{ "Momsreg.nr" | translate }}</b>
          </p>
          <p>{{ generals['Company_Bank_Account'].value }}</p>
        </div>
      </div>
      <div class="marg-inl marg-right-m16">
        <div class="section">
          <p>{{ "Approved for F tax" | translate }}</p>
          <br />
          <p *ngIf="typeKSorDU === 'KS'">
            {{ "Kostnadssammanställning" | translate }} {{ "skapad" | translate }} i
          </p>
          <p *ngIf="typeKSorDU !== 'KS'">
            {{ "Debiteringsunderlag" | translate }} {{ "skapad" | translate }} i
          </p>
          <p>SPS360</p>
        </div>
      </div>
      <div class="footer-right">
        <div class="section">
          <br />
          <br />
          <p style="font-weight: bold">{{ "Page" | translate }} 1/1</p>
        </div>
      </div>
    </div>
  </div>
</div>
