.card {
  width: 100%;
  padding: 10px;
}

.card-body {
  padding: 0 !important;
}

.material-item {
  width: 256px;
  height: 256px;
  margin: 5px;
}

.grid-item {
  height: 230px;
}

.material-image {
  width: 100%;
  height: 214px;
}

.material-image img {
  width: 100%;
  height: 100%;
}

.material-text {
  height: 25px;
  text-align: center;
  margin-top: 5px;
}

.text-dark{
  position: relative;
  margin-left: 356px;
  color: white!important;
}

.button-text {
  position: absolute;
  transform: translateX(-50%);
  bottom: 10px;
  width: 100%;
  left: 50%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
    border-color: var(--orange-dark);
}
img.btn-dng {
  filter: invert(1);
}

/***********/

.nav-wrapper {
  background-color: #003469;
}

.cursor-pointer {
  cursor: pointer;
}

input.ng-untouched.ng-pristine.ng-valid {
  /*
  color: #fff;
  background-color: #003469;
  */
  color: white;
}

.btn-custom {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-custom:hover {
  border: 1px solid transparent;
  color: #fff;
  background: #ff6347;
}

img.btn-dng:hover {
  filter: invert(0);
}

.height100vh {
  height: 100%;
}

.box-shadow {
  box-shadow: -4px 5px 10px 2px hsla(0, 0%, 59%, 0.7);
}

.rotated-button {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /*position: relative; */
  left: -80px;
  top: 25px;
  align-items: center;
  justify-content: center;
  background: orange;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.row1 {
  height: 200vh;
}

#button-addon2 {
  z-index: 0;
}

.hide-pdf {
  display: none !important;
  box-shadow: none;
}

.pdf-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 15px;
  position: fixed;
  right: -7px;
  background-color: white;
  top: 15%;
  z-index: 1;
}

.pos-btn {
  position: absolute;
  top: 100px;
  /*left: 47px; */
  right: -27px;
}

.pos-btn1 {
  position: relative;
  top: 100px;
  left: 22px;
}

.hideDate {
  display: none;
}

.en-lan {
  right: 0px !important;
}

.pos-btn1.en-lan {
  left: 16px !important;
}

.card1 {
  height: 100vh;
}

.bg-transparent {
  background-color: transparent !important;
}

.card-img-top {
  overflow: hidden;
}

@media only screen and (max-width: 801px) {
  .hide-pdf-mobile {
    display: none !important;
  }

  .pdf-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: 3000; */
  }

  .pdf-inner {
    width: 100% !important;
    /* height: 82vh !important; */
    height: 100vh !important;
    position: fixed !important;
    top: 146px;
    left: 0;
    bottom: 0;
    right: 0;
  }
}



/***header****/
.border-nav {
  border: 1.5px solid;
  border-right: none;
  margin-right: -1150px;
  border-color: var(--border-color);
  height: 61px;
}
.border-h-project {
  /* border-right: 1.5px solid; */
  border-color: var(--border-color);
  height: 59px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nyProject {
  padding-left: 55px !important;
}

a.home {
  margin-left: 30px;
}

.title-project {
  color: var(--project-color);
  margin-left: 30px !important;
  margin-right: 55px !important;
  font-size: 25px !important;
  font-family: "PT-Sans-Pro-Regular";
}

.title-new-project {
  color: var(--project-color);
  font-size: 25px !important;
  font-family: "PT-Sans-Pro-Regular";
}
/*******end*********/



.blu-scroll{
  height: calc(100vh - 84px - 0px);
  background-color: var(--main-bg);
  overflow: auto;
  border: 1px solid var(--border-color);
  position: relative;
  width: 1042px;
  overflow: scroll;
}

@media (max-width: 7680px)
{
    .blu-scroll{
      max-width: 1042px !important;
      width: calc(100vw - 0px - 125px);
      height: calc(100vh - 84px - 0px);
  }
  .blu-scroll-wrapp{
    max-width: 1042px !important;
    width: calc(100vw - 0px - 125px);
    height: calc(100vh - 84px - 0px);
    position: relative;
}
}


.horizontal-line-scroll{
  position: absolute;
  bottom: 16px;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: var(--border-color);
}
.vertical-line-scroll{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 16px;
  width: 1px;
  background-color: var(--border-color);
}