.modal-container {
    background-color: #C7C6C4;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.add-year-button {
    background-color: #05A7C4;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin-top: 1rem;
    cursor: pointer;
    transition: opacity 250ms ease-in-out;
}

.add-year-button:hover {
    opacity: 0.5;
}

.add-year-form {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.year-input {
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.year-input::-webkit-inner-spin-button,
.year-input::-webkit-outer-spin-button {
    -webkit-appearance: auto !important; 
    margin: 0 !important;
}
  