.keys-container {
    position: absolute;
    z-index: 1000;
}


.floating-modal {

    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 250px;
    z-index: 100;
    background-color: white;
    border: 2px solid var(--main-bg);
}

