.select-container-220 {
    width: 220px;
    position: relative;
}

.margin-right {
    margin-right: 32px;
}

.green-button {
    
    width: auto;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #BFE29C;
    margin-right: 32px;
    border-radius: 0.4rem;
    cursor: pointer;
    color: #BFE29C;
    transition: all 250ms ease-in-out;
}

.green-button:hover {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: white;
}

.green-button-active {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: white;
}

.pdf-button {
    width: 105px;
}

.flex-buttons {
    display: flex;
    flex-direction: row;
}

.tab-container {
    padding: 35px;
    padding-right: 0px;
    padding-bottom: 0px;
    border: 1px solid var(--border-color);
    border-right-style: none;
    border-bottom-style: none;
    border-radius: 0.4rem;
    position: relative;
}

.tab-content-stats {
    grid-template-rows: 177px 31px auto !important;
}

.floating-title {
    position: absolute;
    top: -25px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-weight: normal;
    padding-left: 15px;
    color: lightgray;
}
