<div class="modal-top-wrapper">
  <h5>{{ "Create unit" | translate }}</h5>
  <button class="btn btn-outline-dark" mat-dialog-close>
    <i class="material-icons">close</i>
  </button>
</div>
<label>{{ "Unit Name" | translate }}</label>
<textarea
  maxlength="100"
  class="form-control"
  id="unitName"
  rows="1"
  [(ngModel)]="unitName"
  required="true"
></textarea>
<form
  novalidate
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  class="form-content"
  #myform="ngForm"
>
  <div class="form-group col-xs-12"></div>
  <div class="">
    <div
      class="row d-flex justify-content-around"
      *ngFor="let data of unitsChecked; let i = index"
    >
      <div class="col-sm">
        <label>
          <input
            type="checkbox"
            [value]="data.value"
            (change)="onCheckboxChange($event)"
          />
          {{ data.name | translate }}
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="button-group text-center">
      <button type="submit" class="btn btn-success lh09">
        <span class="material-icons left-3px top1px posRel">save</span>
        <span class="posRel top-5px">{{ "Save" | translate }}</span>
      </button>
    </div>
  </div>
</form>
