<mat-dialog-content>
  <div
    styyle="width: 100%; display: flex; align-items: center; justify-content: center;"
  >
    <button
      class="btn btn-outline-danger btn-lock"
      *ngIf="lockedDay"
      (click)="unLockDay()"
      style="margin-bottom: 20px"
    >
      <i class="material-icons calendar-lock-style">lock</i>
    </button>
  </div>
  <p>{{userName}}, {{date}}</p>
  <p>{{user.absences ? (user.absences[date].AbsenceType | translate) : ''}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    type="button"
    mat-raised-button
    class="btn btn-outline-danger"
    (click)="onConfirmClick()"
    tabindex="1"
  >
    {{"Delete" | translate}}
  </button>
  <button
    mat-raised-button
    mat-dialog-close
    tabindex="-1"
    class="btn btn-outline-primary"
  >
    {{"Cancel" | translate}}
  </button>
</mat-dialog-actions>
