<div class="row">
  <div class="card bgGrayBlue col-12 col-lg-6 col-lg-8W ml-3" id="topFeeder">
    <nav class="nav nav-pills nav-justified">
      <div class="nav-links">
        <a
          class="btn btn-dark text-white lh08 mr-2 hideUnder800"
          (click)="goBack()"
        >
          <span class="badgeX badge-darkX material-icons top1px posRel"
            >arrow_back</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>
<br />
<div class="row">
  <div class="card col-12 col-lg-6 col-lg-8W ml-3">
    <div class="col-10">
      <form
        novalidate
        autocomplete="off"
        [formGroup]="createForm"
        (ngSubmit)="createCategory()"
      >
        <div
          class="form-group"
          [ngClass]="{
            'has-error':
              (createForm.get('name').touched ||
                createForm.get('name').dirty) &&
              !createForm.get('name').valid
          }"
        >
          <label for="name">{{ "Subcategory Name" | translate }}</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{ 'Enter subcategory name' | translate }}"
            formControlName="name"
          />
          <span
            class="help-block"
            *ngIf="
              (createForm.get('name').touched ||
                createForm.get('name').dirty) &&
              createForm.get('name').errors
            "
          >
            <span
              *ngIf="createForm.get('name').errors.required"
              class="text-danger"
            >
              {{ "Please enter subcategory name" | translate }}.
            </span>
            <span
              *ngIf="createForm.get('name').errors.maxlength"
              class="text-danger"
            >
              {{
                "Subcategory name must be less than 40 characters" | translate
              }}.
            </span>
          </span>
        </div>
        <label for="image">{{ "Image" | translate }}</label>
        <div class="form-group form-group-upload">
          <label class="btn btn-secondary" for="image">{{
            "Choose file" | translate
          }}</label>
          <span *ngIf="!chooseFile">{{ "No file chosen" | translate }}</span>
          <span *ngIf="chooseFile">{{ uploadMessage }}</span>
          <input
            type="file"
            accept="image/*"
            class="form-control-file hide"
            id="image"
            (change)="onFileChange($event)"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="disabled || !createForm.valid"
        >
          {{ "Create" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
