.modal-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-top-wrapper .btn-outline-dark {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group {
  width: 100%;
}
