.form-column-wrapper {
  padding: 10px;
  background: #faf9fa;
  border: 3px solid #f0eff1;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-top-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-top-wrapper button i {
  font-size: 14px;
}

.hide {
  display: none !important;
}
/********************************/

.select-section {
  position: relative;
}

.select-section .select-buttons {
  position: absolute;
  top: 5px;
  right: 7px;
  transition: all 0.25s ease-out;
}

.select-section:hover .select-buttons {
  top: -25px;
}

.select-section select {
  position: relative;
  z-index: 2;
}

.select-buttons {
  width: auto;
}

.select-buttons button + button {
  margin-left: 0.5em;
}

.select-buttons button {
  padding: 0.2em 0.4em;
  outline: none;
}

.select-buttons button span {
  font-size: 15px;
  position: relative;
}
.p-4 {
  width: 100%;
}
