@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/**********************/

.card {
  width: 100%;
  padding: 10px;
}

.message {
  padding: 10px;
}

.btn-danger {
  float: right;
}

.nav1 {
  background-color: blue;
  height: 100px;
}

@media (min-width: 991px) {
  .col-sm-5.offset-sm-2.col-md-6.offset-md-0:before {
    content: "";
    position: absolute;
    height: 700px;
    left: 0px;
    padding-left: 50px;
    border-left: 1px solid #cdcdcd;
  }
}

/*****/

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

/********************************************************************/

/*** PANEL DEFAULT ***/

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  font-size: 15px;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  font-size: 15px;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}

.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:hover,
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: #ddd;
}

.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a,
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  color: #fff;
  background-color: #555;
}

/********************************************************************/

/*** PANEL PRIMARY ***/

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #428bca;
  border-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #fff;
}

.with-nav-tabs.panel-primary
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:hover,
.with-nav-tabs.panel-primary
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: #3071a9;
}

.with-nav-tabs.panel-primary
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a,
.with-nav-tabs.panel-primary
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-primary
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  background-color: #4a9fe9;
}

/********************************************************************/

/*** PANEL SUCCESS ***/

.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
}

.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
  border-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
  color: #3c763d;
  background-color: #fff;
  border-color: #d6e9c6;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #3c763d;
}

.with-nav-tabs.panel-success
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:hover,
.with-nav-tabs.panel-success
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: #d6e9c6;
}

.with-nav-tabs.panel-success
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a,
.with-nav-tabs.panel-success
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-success
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  color: #fff;
  background-color: #3c763d;
}

/********************************************************************/

/*** PANEL INFO ***/

.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
  font-size: 15px;
}

.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
  background-color: #bce8f1;
  border-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
  color: #31708f;
  background-color: #fff;
  border-color: #bce8f1;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #31708f;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-info
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  color: #fff;
  background-color: #31708f;
}

/********************************************************************/

/*** PANEL WARNING ***/

.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
}

.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
  background-color: #faebcc;
  border-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
  color: #8a6d3b;
  background-color: #fff;
  border-color: #faebcc;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #8a6d3b;
}

.with-nav-tabs.panel-warning
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:hover,
.with-nav-tabs.panel-warning
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: transparent;
}

.with-nav-tabs.panel-warning
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a,
.with-nav-tabs.panel-warning
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-warning
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  color: #fff;
  background-color: #8a6d3b;
}

/********************************************************************/

/*** PANEL DANGER ***/

.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
}

.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
  background-color: #ebccd1;
  border-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
  color: #a94442;
  background-color: #fff;
  border-color: #ebccd1;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f2dede;
  /* bg color */
  border-color: #ebccd1;
  /* border color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #a94442;
  /* normal text color */
}

.with-nav-tabs.panel-danger
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:hover,
.with-nav-tabs.panel-danger
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: #ebccd1;
  /* hover bg color */
}

.with-nav-tabs.panel-danger
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a,
.with-nav-tabs.panel-danger
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-danger
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  color: #fff;
  /* active text color */
  background-color: #a94442;
  /* active bg color */
}

.panel-primary > .panel-heading {
  background-color: #003469;
  border-color: transparent;
}

.with-nav-tabs.panel-primary[_ngcontent-c2]
  .nav-tabs[_ngcontent-c2]
  > li.active[_ngcontent-c2]
  > a[_ngcontent-c2],
.with-nav-tabs.panel-primary[_ngcontent-c2]
  .nav-tabs[_ngcontent-c2]
  > li.active[_ngcontent-c2]
  > a[_ngcontent-c2]:hover,
.with-nav-tabs.panel-primary[_ngcontent-c2]
  .nav-tabs[_ngcontent-c2]
  > li.active[_ngcontent-c2]
  > a[_ngcontent-c2]:focus {
  color: #e29325;
  border-color: transparent;
}

.panel-primary {
  border-color: #003469;
}

.btn-primary {
  background-color: #003469;
  border-color: #003469;
}

/*TABLE TAB */

/***  Project table ***/

.project-table {
  width: 100%;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.project-table table thead > tr > th {
  color: #8997ab;
}

.project-table table tbody > tr > td,
.project-table table thead > tr > th {
  border: 1px solid #bdb2b2;
}

.project-table table thead {
  background-color: #e6effb;
}

.project-table table tbody > tr:hover {
  background-color: #d4ebe0;
}

/* Buttons */

.btn-icon-postion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 200px;
}

.form-heading {
  background-color: #003469;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project {
  padding-left: 10px;
  padding-top: 5px;
}

.buttons-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-position {
  display: flex;
  justify-content: center;
}

.btn-position .btn-danger {
  margin-left: 10px;
}

a.nav-link.active {
  background-color: #003469;
}

.nav-tabs {
  border-bottom: none;
}

/* -----------        Tab navigation               ------------*/

.tab-navigation {
  border-top: 1px solid #ccc;
  background: #003469;
  padding: 10px;
}

.tab-navigation-wrapper {
  font-family: "PT-Sans-Pro-Regular" !important;
  width: calc(100vw - 0px - 123px) !important;
  max-width: 1386px !important;
}

.fs15 {
  font-size: 15px;
}

.tab-navigation .nav-tabs .nav-item a.active {
  color: #28a745;
}

.hide {
  display: none;
}

.form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.form-column-wrapper {
  background: #faf9fa;
  border: 3px solid #f0eff1;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.form-column-wrapper-position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 18px 45px 0px 28px;
}

/* .form-column-wrapper:first-child {
    margin-right: 20px;
} */

/* .form-column {
  padding: 20px;
} */

.form-date {
  margin-top: 20px;
  margin-bottom: 20px;
}

.material-icon-style {
  margin-left: 10px;
  color: red;
}

.nav-link-information {
  display: flex;
  align-items: center;
}

.flex-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-form-wrapper + .flex-form-wrapper {
  padding-left: 20px;
}

/********************************/
select {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg id='Group_4664' data-name='Group 4664' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='8' viewBox='0 0 15 8'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,.274H15v-8H0Z' transform='translate(0 7.726)' fill='%2344484c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5' transform='translate(0.136 1.156)' fill='%2344484c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 14px;
}
select:actives {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='8' viewBox='0 0 15 8'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,.274H15v-8H0Z' transform='translate(0 7.726)' fill='%2344484c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' transform='translate(15 8) rotate(180)' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5' transform='translate(0.136 1.156)' fill='%2344484c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  transform: rotate(30deg);
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 14px;
}

.select-section {
  position: relative;
}

.select-section1{
  position: relative;
  z-index: 0;
}

.select-section .select-buttons {
  position: absolute;
  top: 5px;
  right: 7px;
  transition: all 0.25s ease-out;
}

.select-section:hover .select-buttons {
  top: -25px;
}

.select-section select {
  position: relative;
  z-index: 2;
}

.select-buttons {
  width: auto;
}

.select-buttons button + button {
  margin-left: 0.5em;
}

.select-buttons button {
  padding: 0.2em 0.4em;
  outline: none;
}

.select-buttons button span {
  font-size: 15px;
  position: relative;
}

/*********************
  Media Query Classes
**********************/

@media only screen and (max-width: 800px) {
  .form-column-wrapper-position {
    display: block;
  }
  .col-4 {
    max-width: 100%;
  }
  .form-column {
    width: 100%;
  }
  .pt-5 {
    padding-top: 0 !important;
  }
}

fieldset {
  border: 1.5px solid;
  margin: 0;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  margin-top: -15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: var(--border-color);
  width: 100%;
  font-family: "PT-Sans-Pro-Regular";
  height: 104% !important;
  background-color: var(--main-bg)
}

.resource-accound-field-set {
    height: auto !important;
}

legend {
  background-color: var(--main-bg);
  font-size: 14px;
  font-family: "PT-Sans-Pro-Regular" !important;
  margin-bottom: 0px;
  padding: 5px;
  border: 2px solid;
  color: #E3DBD3;
  border-color: var(--border-color);
  white-space: nowrap;
  text-transform: uppercase;
  padding: 2px 15px 0px 15px;
  position: relative;
  top: -11px;
  height: 22px;
  border-bottom: none;
  border-radius: 6px 6px 0px 0px;
}

.p-8 {
  padding: 8px;
}

.ws-nowrap {
  white-space: nowrap;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn {
  border: 1.5px solid black !important;
  padding: 0.375rem 0.75rem !important;
  /* background: white !important; */
  background: white !important;
  height: 35px !important;
  color: black;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 10px solid #ced4da !important;
}


.pr-11 {
  padding-right: 20px;
}
/*
.pl-13 {
  padding-left: 13px;
} */

.pl-19 {
  padding-left: 19px;
}

.mt-40 {
  margin-top: 40px;
}

.project-nav-select {
  min-width: 150px;
}

:host ::ng-deep .form-group.is-invalid .multiselect-dropdown .dropdown-btn {
  border: 1px solid #dc3545 !important;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-down {
  display: inline !important;
  border-top: 10px solid #ced4da !important;
  padding-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg id='Group_4661' data-name='Group 4661' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='8' viewBox='0 0 15 8'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,.274H15v-8H0Z' transform='translate(0 7.726)' fill='%2344484c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5' transform='translate(0.136 1.156)' fill='%2344484c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 93%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none !important;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-up {
  display: inline !important;
  border-top: 10px solid #ced4da !important;
  padding-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='8' viewBox='0 0 15 8'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,.274H15v-8H0Z' transform='translate(0 7.726)' fill='%2344484c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4677' data-name='Group 4677' transform='translate(15 8) rotate(180)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5' transform='translate(0.136 1.156)' fill='%2344484c'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  transform: rotate(30deg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 93%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none !important;
}

/* new  */

/* .skroll {
  position: relative;
  border-top-left-radius: 8px;
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid;
  border-color: var(--border-color);
} */

#skrollbar::-webkit-scrollbar {
  background: transparent;
  display: block;
  width: 10px;
  height: 10px;
}

#skrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* border: 0px solid; */
  border-right: none;
  border-bottom: none;
  border-color: var(--border-color);
}

#skrollbar::-webkit-scrollbar-thumb {
  background-color: var(--project-color);
  border-radius: 10px;
}

#skrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

#skrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

#skrollbar::-webkit-scrollbar-corner {
  background: var(--home-title-color);
}

.field {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.bg-input {
  background-color: white;
  border: 1px solid black;
}

.input-group-text {
  color: black;
  background-color: white;
  border-color: black;
}

/* end new */

#skrollbar::-webkit-scrollbar {
  background: transparent;
  display: block;
  width: 15px;
  height: 15px;
}

#skrollbar::-webkit-scrollbar-corner {
  background-image: url("../../../../../../../../assets/img/icon.svg") !important;
}

#skrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* border: 1px solid;*/
  border-right: none;
  border-left: 2px;
  border-bottom: none;
  border-color: var(--border-color);
}

#skrollbar::-webkit-scrollbar-thumb {
  background-color: var(--project-color);
  border-radius: 10px;
  border: 6px solid var(--main-bg);
}

#skrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

#skrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

#skrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: center 4px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.147' height='6.565' viewBox='0 0 10.147 6.565'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,6.565H10.147V0H0Z' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4195' data-name='Group 4195' transform='translate(10.147 6.565) rotate(180)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.116.983,4.6,6.362a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L10.033.983a.622.622,0,0,0,.115-.408A.43.43,0,0,0,9.931.218l-.153-.1A.725.725,0,0,0,9.344,0a.5.5,0,0,0-.382.217L5.087,4.807,1.212.218A.5.5,0,0,0,.83,0,.725.725,0,0,0,.4.116l-.178.1A.43.43,0,0,0,0,.575.622.622,0,0,0,.116.983' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.147' height='6.565' viewBox='0 0 10.147 6.565'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,6.565H10.147V0H0Z' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4195' data-name='Group 4195' transform='translate(10.147 6.565) rotate(180)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.116.983,4.6,6.362a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L10.033.983a.622.622,0,0,0,.115-.408A.43.43,0,0,0,9.931.218l-.153-.1A.725.725,0,0,0,9.344,0a.5.5,0,0,0-.382.217L5.087,4.807,1.212.218A.5.5,0,0,0,.83,0,.725.725,0,0,0,.4.116l-.178.1A.43.43,0,0,0,0,.575.622.622,0,0,0,.116.983' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.147' height='6.565' viewBox='0 0 10.147 6.565'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,6.565H10.147V0H0Z' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4195' data-name='Group 4195' transform='translate(10.147 6.565) rotate(180)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.116.983,4.6,6.362a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L10.033.983a.622.622,0,0,0,.115-.408A.43.43,0,0,0,9.931.218l-.153-.1A.725.725,0,0,0,9.344,0a.5.5,0,0,0-.382.217L5.087,4.807,1.212.218A.5.5,0,0,0,.83,0,.725.725,0,0,0,.4.116l-.178.1A.43.43,0,0,0,0,.575.622.622,0,0,0,.116.983' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.147' height='6.565' viewBox='0 0 10.147 6.565'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.147' height='6.565' viewBox='0 0 10.147 6.565'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.147' height='6.565' viewBox='0 0 10.147 6.565'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-corner {
  background: var(--home-title-color);
}
#skrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 12px;
  width: 16px;
  background-position: center 3px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6.565' height='10.147' viewBox='0 0 6.565 10.147'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4394' data-name='Group 4394' transform='translate(6.565) rotate(90)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6.565' height='10.147' viewBox='0 0 6.565 10.147'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4394' data-name='Group 4394' transform='translate(6.565) rotate(90)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6.565' height='10.147' viewBox='0 0 6.565 10.147'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4394' data-name='Group 4394' transform='translate(6.565) rotate(90)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

#skrollbar::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 12px;
  width: 16px;
  background-position: center 3px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6.565' height='10.147' viewBox='0 0 6.565 10.147'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4394' data-name='Group 4394' transform='translate(0 10.147) rotate(-90)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

#skrollbar::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6.565' height='10.147' viewBox='0 0 6.565 10.147'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4394' data-name='Group 4394' transform='translate(0 10.147) rotate(-90)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

#skrollbar::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='6.565' height='10.147' viewBox='0 0 6.565 10.147'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0-1.161H10.147V-7.726H0Z' transform='translate(0 7.726)' fill='%2382a7e2'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_4394' data-name='Group 4394' transform='translate(0 10.147) rotate(-90)'%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M-.02-.174,4.466,5.205a.537.537,0,0,0,.459.2h.051a.537.537,0,0,0,.459-.2L9.9-.174a.622.622,0,0,0,.115-.408.43.43,0,0,0-.217-.357l-.153-.1a.725.725,0,0,0-.433-.115.5.5,0,0,0-.382.217L4.951,3.65,1.076-.939a.5.5,0,0,0-.382-.217A.725.725,0,0,0,.26-1.04l-.178.1a.43.43,0,0,0-.217.357A.622.622,0,0,0-.02-.174' transform='translate(0.136 1.156)' fill='%2382a7e2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

.thin-red-line-bottom {
  bottom: 16px;
  left: 0px;
  right: 0px;
  background-color: var(--border-color);
  height: 1px;
  position: absolute;
}
.thin-red-line-right {
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 16px;
  background-color: var(--border-color);
  width: 1px;
}

.m-5 {
  margin: 0px !important;
  padding: 0rem !important;
}
.form-group {
  margin-bottom: 0rem !important;
}

.pt-2 {
  position: relative;
}



.w-100 {
  color: white;
}

.mt-5 {
  margin-top: 0px !important;
}

.pt-2 {
  padding-top: 0px !important;
}

.col-4 {
  max-width: 100%;
  padding: 0px;
}

.mb-3 {
  margin-bottom: 32px !important;
}

/* .mt-1{
 margin-top: -0.45rem!important;
} */
.pt-5 {
  padding-top: 0 !important;
}
.resource-top {
  top: -24px;
}

.resource-name-number-LR {
  padding: 0px 15px 19px 15px;
}

.form-control {
  height: calc(35px);
  background-color: white;
  color: black;
  border: 1.5px solid black;
  border-right-color: black;
  width: 302px;
  font-size: 18px !important;
  border-left-color: black;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--brand-color);
}

.progress-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  box-shadow: none;
  border: 2px solid var(--orange-dark);
}

.mselect-drpdwn {
  background-image: url("data:image/svg+xml,%3Csvg id='Group_4662' data-name='Group 4662' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='8' viewBox='0 0 15 8'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,.274H15v-8H0Z' transform='translate(0 7.726)' fill='%2344484c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5' transform='translate(0.136 1.156)' fill='%2344484c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.dropdown-btn {
  color: black;
}

/* .client-field{
  max-height: 10.375rem;
} */
.fieldset-working-place {
  width: 360px;
  height: 275px;
}

.div-working-adress {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 14px 15px 15px 15px;
  margin-top: -7px;
}
label {
  margin-bottom: 0.2rem !important;
}

div.form-column.col-4.economy {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-gap: 20px;
}
div.form-column.col-4.economy-tender {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-gap: 20px;
}

div.form-column.col-4.economy-time {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  max-height: 150px;
}
.adress-information {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 27px;
}
.form-column.col-4.pt-5.mt-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: -0.4rem !important;
}

.client-data {
  height: 170px;
}

.offer-data {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-status-data {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 20px;
  grid-gap: 20px;
}

.date-status-data {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 20px;
  grid-gap: 20px;
}

input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cg id='Rectangle_81' data-name='Rectangle 81' fill='rgba(255,255,255,0)' stroke='%23858585' stroke-width='2'%3E%3Crect width='21' height='21' stroke='none'/%3E%3Crect x='1' y='1' width='19' height='19' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.form-group.btn-position.m-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 45px 45px 45px !important;
  margin-left: -9px !important;
}

.btn.btn-create.btn-save.d-flex.pr-5 {
  border: 1px solid #ff7000;
  border-radius: 4px;
  color: #ff7000;
  max-width: 100px;
}

.btn.btn-create.btn-delete.d-flex.pr-5 {
  border: 1px solid #fd4444;
  border-radius: 4px;
  color: #fd4444;
  max-width: 100px;
  justify-self: flex-end;
}

.btn-span {
  padding: 0px 0px 0px 9px;
}

.pr-5 {
  padding-right: 1rem !important;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  border: 2px solid;
  border-color: var(--border-color);
  width: 21px;
  background-color: var(--transparent);
}

.form-check {
  padding-left: 0px;
  height: 23px;
  width: auto;
}

.custom-check {
  padding-left: 1.75rem;
  margin-top: 32px;
}

.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  border: 2px solid;
  border-color: var(--border-color);
  width: 21px;
  background-color: var(--transparent);
}

/* On mouse-over, add a grey background color */

.custom-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.custom-check input:checked ~ .checkmark {
  background-color: var(--orange-dark);
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.custom-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.custom-check .checkmark:after {
  left: 4px;
  top: 2px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0px 2px 2px 0px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-group {
  width: 100%;
  height: 67px;
  margin-left: -1px;
}

.form-check-input {
  margin-left: 0px !important;
}

.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.linija {
  border: 1.5px solid;
  position: relative;
  padding: 0px 6px 5px 0px;
  border-color: var(--border-color);
  border-radius: 8px;
  border-bottom: none;
  border-top: none;
}

.cert-border {
  position: relative;
  margin-top: -59px;
  margin-left: 3.3rem;
  margin-right: 3.3rem;
}

.cert-border:before {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto 0.65em;
  margin-left: -3rem;
  border-color: var(--border-color);
}

.cert-border:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto 0.65em;
  margin-right: -3rem;
  border-color: var(--border-color);
}

.line-between-select-area {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--border-color);
  top: 7px;
}

.select-section {
  background-color: var(--white);
  border-radius: 6px;
}

details {
  position: relative;
  margin-right: 1rem;
}

details[open] {
  z-index: 1;
}

summary {
  cursor: pointer;
  position: relative;
  top: 3px;
  border-radius: 5px;
  background: var(--transparent);
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary::after {
  content: "";
  /*   display: inline-block; */
  position: relative;
  top: 5px;
  float: right;
  width: 1rem;
  height: 1rem;
  /* border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(-45deg) translate(50%, 0%);
  transform-origin: center center; */
  transition: transform ease-in-out 100ms;
  background-image: url("data:image/svg+xml,%3Csvg id='Group_4661' data-name='Group 4661' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='8' viewBox='0 0 15 8'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Path_758' data-name='Path 758' d='M0,.274H15v-8H0Z' transform='translate(0 7.726)' fill='%2344484c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_305' data-name='Group 305' clip-path='url(%23clip-path)'%3E%3Cg id='Group_304' data-name='Group 304' transform='translate(0 0)'%3E%3Cpath id='Path_757' data-name='Path 757' d='M.035.041, 6.668, 6.6a.872.872, 0, 0, 0, .678.249h.075A.872.872, 0, 0, 0, 8.1, 6.6L14.695.041a.665.665, 0, 0, 0, .17-.5.52.52, 0, 0, 0-.32-.435l-.226-.124a1.251, 1.251, 0, 0, 0-.641-.14.784.784, 0, 0, 0-.565.264L7.384, 4.7, 1.655-.891a.784.784, 0, 0, 0-.565-.264, 1.251, 1.251, 0, 0, 0-.641.14L.186-.891a.52.52, 0, 0, 0-.32.435.665.665, 0, 0, 0, .17.5' transform='translate(0.136 1.156)' fill='%2344484c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

summary:focus {
  outline: none;
}

/* details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
} */

ul {
  width: 100%;
  background-color: var(--white);
  position: absolute;
  top: calc(100% + 0.1rem);
  padding: 0px;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  border-radius: 5px;
  /* max-height: 400px; */
  overflow: hidden;
}

li {
  margin: 0;
  padding: 10px 0px 0px 10px;
  border-bottom: 1px solid;
  border-color: var(--border-color);
}

li:first-child {
  padding-top: 5px;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: 10px solid;
  border-bottom-color: var(--orange-dark);
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;
  display: block;
  cursor: pointer;
}

li.active {
  background: var(--orange-dark);
  color: var(--white);
}

.selected {
  border: 2px solid;
  border-radius: 6px;
  border-color: var(--brand-color);
  box-shadow: none;
  background-color: var(--completed) !important;
}

.cursor-pointer {
  text-align: center;
}



/*border and scroll class*/


@media (max-width: 7680px){
.skroll {
    max-width: 1042px !important;
    width: calc(100vw - 0px - 163px) !important;
    height: calc(96vh - 119px - 0px);
}
.scroll-wrapper{
  max-width: 1042px !important;
    width: calc(100vw - 0px - 163px) !important;
    height: calc(100vh - 154px - 0px) !important;
}
}
.skroll {
    border: 1.5px solid;
    color: var(--border-color);
    border-top-left-radius: 10px;
    width: 1042px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: calc(100vh - 154px - 0px) !important;
    position: relative;
}

.scroll-wrapper {
  width: 1042px;
  height: 812px;
  position: relative;
}

.select-and-btn-wrapper {
  width: 330px;
  overflow: hidden;
}

.new-select-button-wrapper {
  float: left;
  cursor: pointer;
}

.new-select-btn {
  width: 40px;
  height: 38px;
  border: 2.5px solid #858585;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left-width: 0;
  display: table;
}

.new-select-btn:hover {
  border: 2.5px solid var(--orange-dark);
  border-left-width: 0;
}

.new-select-btn:hover .plus-btn {
  color: var(--orange-dark);
}

.plus-btn {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 20px;
  color: #858585;
}

.floating-btn {
  float: right;
}

@media (max-width: 7680px) {


  .tab-navigation-wrapper{
    max-width: 1042px !important;
    width: calc(100vw - 0px - 125px) !important;
    height: calc(96vh - 119px - 0px);
  }
}


.new-width-230 {
  width: 230px;
}

.new-height-35 {
  height: 35px;
}

/* Ispod je code za ng-multiselect-dropdown */

:host ::ng-deep .filter-textbox {
  border-bottom: 1px solid #ccc;
  position: absolute !important;
  padding: 10px;
  top: -38px;
  border-style: none !important;
}

:host ::ng-deep .dropdown-list {
  padding-top: 0px !important;
  margin-top: 0px !important;
  width: 350px !important;
  border-left: 3px solid #ff7000 !important;
  border-right: 3px solid #ff7000 !important;
  border-top: 3px solid #ff7000 !important;
  border-bottom: 6px solid #ff7000 !important;
}

:host ::ng-deep .dropdown-list li {
  border-bottom: 1px solid #9f9f9f;
  border-right: 1px solid #a3a3a3;
}

:host ::ng-deep .multiselect-item-checkbox input + div:before {
  right: 0;
  border: 1px solid #858585 !important;
  border-radius: 100%;
  left: unset !important;
}

:host ::ng-deep .multiselect-item-checkbox input:checked + div:before {
  background: #ff7000 !important;
}

:host ::ng-deep .multiselect-item-checkbox input + div {
  padding-left: 1em !important;
}

:host ::ng-deep .multiselect-item-checkbox input + div:after {
  left: unset !important;
  right: 2px;
}

/*------------------------------------------------------------------------*/

:host ::ng-deep .toast-container {
  z-index: 99999999 !important;
}


:host ::ng-deep .new-project-contact-person .multiselect-item-checkbox input + div:hover {
  color: #ff7000 !important;
  font-weight: bold;
}

:host ::ng-deep .new-project-contact-person .multiselect-item-checkbox:hover {
  background-color: white !important;
}

:host ::ng-deep .mat-option-text:hover {
  color: #ff7000 !important;
  font-weight: bold;
  background-color: white !important;
}

/*Za Contact person Dropdown*/
.input-wrapper1{
  background-color: #fff !important;
  width:302px; height: 35px !important;
  border-radius: 4px 4px 4px 4px !important;
  /* color: var(--border-color) !important; */
}

/*Za Contact person Dropdown*/
.input-wrapper1{
  background-color: #fff !important;
  width:302px; height: 35px !important;
  border-radius: 4px 4px 4px 4px !important;
  /* color: var(--border-color) !important; */
}

/*Dropdown Client*/
.input-wrapper{
  background-color: #fff !important;
  width:265px; height: 35px !important;
  border-radius: 4px 4px 4px 4px !important;
  /* color: var(--border-color) !important; */
}

/*CERTIFICATE FLOW FOR ATA AND NOTIFICATION*/
.input-wrapper2{
  background-color: #fff !important;
  width:195px; height: 35px !important;
  border-radius: 4px 4px 4px 4px !important;
  color: var(--border-color) !important;
}

.invoice-position {
    margin-top: 10px;
}

#Activity{
  pointer-events: none;
}

.payment-type-wrapper {

  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  z-index: -1;
  border-top: 1px solid #858585;
  border-radius-left: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.payment-type-left,
.payment-type-right {
  color: var(--border-color);
  width: 50%;
  padding: 5px 10px;
  border-right: 1px solid #858585;
}

.debit-form-wrapper {
  position: relative;
}

.focus-color {
  box-shadow: none;
  border: 2px solid var(--orange-dark);
}

.form-group-relation {
  margin-left: 25px !important;
}
