<svg id="Group_8828" data-name="Group 8828" xmlns="http://www.w3.org/2000/svg" width="20" height="20.362" viewBox="0 0 20 20.362">
    <g id="Group_8813" data-name="Group 8813" transform="translate(0 0)">
      <path id="Path_5153" data-name="Path 5153" d="M10,0A10,10,0,1,1,0,10,10,10,0,0,1,10,0Z" fill="#fff"/>
      <path id="Path_5134" data-name="Path 5134" d="M20.155,7.824a10.183,10.183,0,0,0-19.812,0Z" transform="translate(-0.249 0)" fill="#b63418"/>
      <path id="Path_5135" data-name="Path 5135" d="M0,44.325a10.182,10.182,0,0,0,20,0Z" transform="translate(0 -32.226)" fill="#b63418"/>
      <g id="Group_8814" data-name="Group 8814" transform="translate(0 0)">
        <rect id="Rectangle_18049" data-name="Rectangle 18049" width="20" height="20.362" fill="none"/>
      </g>
    </g>
  </svg>
