<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="109" height="109" viewBox="0 0 109 109">
    <defs>
      <filter id="Rectangle_582" x="0" y="0" width="109" height="109" filterUnits="userSpaceOnUse">
        <feOffset dy="1" input="SourceAlpha"/>
        <feGaussianBlur stdDeviation="15" result="blur"/>
        <feFlood flood-color="#bebebe"/>
        <feComposite operator="in" in2="blur"/>
        <feComposite in="SourceGraphic"/>
      </filter>
    </defs>
    <g id="Group_2887" data-name="Group 2887" transform="translate(-251 -633.5)">
      <g transform="matrix(1, 0, 0, 1, 251.21, 634)" filter="url(#Rectangle_582)">
        <g id="Rectangle_582-2" data-name="Rectangle 582" transform="translate(45 44)" fill="#1f9e67" stroke="#fff" stroke-width="1" opacity="0.75">
          <rect width="19" height="19" rx="9.5" stroke="none"/>
          <rect x="0.5" y="0.5" width="18" height="18" rx="9" fill="none"/>
        </g>
      </g>
      <g id="tick" transform="translate(300.728 683.521)">
        <g id="Group_655" data-name="Group 655" transform="translate(0)">
          <path id="Path_190" data-name="Path 190" d="M9.585,68.156a.87.87,0,0,0-1,0L3.125,74.181.988,71.926c-.192-.212-.7-.062-.895.15a.874.874,0,0,0-.05.959l2.777,2.9c.192.211.647.067.839-.145l6.078-6.848C9.929,68.734,9.777,68.368,9.585,68.156Z" transform="translate(0.078 -67.997)" fill="#fff" stroke="#fff" stroke-width="1"/>
        </g>
      </g>
    </g>
  </svg>
  