<div class="container">
    <div class="row justify-content-md-center">
        <h1>{{ "Restart your password?" | translate }}</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-8">
            <div class="holder">
                <form novalidate autocomplete="off" (ngSubmit)="submit()" [formGroup]="inputForm">
                    <div class="form-group">
                        <label for="password">{{ "New Password" | translate }}</label>
                        <input type="text" class="form-control" id="password" name="password" formControlName="password" placeholder="{{ 'Enter new password' | translate }}" />

                        <span class="help-block" *ngIf="
                (inputForm.get('password').touched ||
                  inputForm.get('password').dirty) &&
                inputForm.get('password').errors
              ">
                            <span *ngIf="inputForm.get('password').errors.required" class="text-danger">
                                {{ "Please enter password" | translate }}.
                            </span>
                            <span *ngIf="inputForm.get('password').errors.minlength" class="text-danger">
                                {{ "Password must be min 6 characters long" | translate }}.
                            </span>
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{
              'has-error':
                (inputForm.get('confirmPassword').touched ||
                  inputForm.get('confirmPassword').dirty) &&
                !inputForm.get('confirmPassword').valid
            }">
                        <label for="confirmPassword">{{
                            "Confirm Password" | translate
                            }}</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="{{ 'Confirm Password' | translate }}" formControlName="confirmPassword" />
                        <span class="help-block" *ngIf="
                (inputForm.get('confirmPassword').touched ||
                  inputForm.get('confirmPassword').dirty) &&
                inputForm.get('confirmPassword').errors
              ">
                            <span *ngIf="inputForm.get('confirmPassword').errors.required" class="text-danger">
                                {{ "Please confirm password" | translate }}.
                            </span>
                            <span *ngIf="inputForm.get('confirmPassword').errors.notSame" class="text-danger">
                                {{ "The specified passwords do not match" | translate }}.
                            </span>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!inputForm.valid || disabled">
                        {{ "Restart" | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>