.weekly-report-pdf {
  width: 770px;
  height: 95vh;
  overflow-y: auto;
  background-color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Arial Narrow";
  color: black;
}

.bold {
  font-weight: bold;
}
p {
  margin: 0;
}

/*table th,
table td {
    padding: .15em 0.3em;
     border: 1px solid white;
}
 */
table td {
  border: none;
}

.total-sum {
  margin-top: 1em;
  text-align: right;
  border-top: 2px solid #7070708a;
  border-bottom: 2px solid #7070708a;
}

.footer {
  margin-top: 1em;
}

.footer p {
  margin: 0.5em 0;
}

.date-and-signature {
  display: flex;
  border: 1px solid #777;
}

.date-and-signature > div {
  flex: 1;
  padding: 0.5em;
  padding-bottom: 3em;
}

.date-and-signature > div + div {
  border-left: 1px solid #777;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 0.5em;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 0.5em;
}

.grid p {
  margin-bottom: 0rem;
}

.grid-2 p {
  margin-bottom: 0px;
}

.grid img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 1em;
}

.grid .section + .section {
  margin-top: 1.5em;
}

.footer-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer-section {
  font-size: 0.8em;
}

.footer-section .grid > div {
  padding: 0 20px;
}

/* .answer-wrapper {
    width: 100%;
    border: 1px solid #a5a5a5;
    background-color: #eee;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
} */

.answer-description {
  padding: 5px;
  border: 1px solid #a5a5a5;
  background-color: #e7e6e6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.answer {
  padding: 5px;
  border: 1px solid #70ad47;
  border-radius: 5px;
  text-align: center;
  background-color: #e7e6e6;
}

.client-message {
  padding: 0.45em 0.9em;
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
  margin-top: 0.2em;
}

/* -------------------------------------------------- */

.no-pad-left {
  padding-left: 0px;
}
.no-pad-right {
  padding-right: 0px;
}
.leetsp {
  letter-spacing: 1px;
}
.ata-nub {
  text-align: right;
  /* padding-right: 0%; */
  padding-left: 0%;
  padding-right: 0;
}
.img {
  width: 100%;
}

.align-right {
  text-align: right;
}
.aligin-left {
  text-align: left;
}

.no-pad-top {
  padding-top: 0px;
}
.no-pad-bot {
  padding-bottom: 0 !important;
}

.marg-inl-end {
  margin-inline-end: auto;
}
.hed {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 26px;
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}
.marg-left-5 {
  letter-spacing: 0.5px;
}
.bg-table {
  background: #f5f5f5;
}
.item-date {
  font-weight: 600;
  border-bottom: 0.5px solid #d0d0d0 !important;
}
.bord-t-answ-s {
  border-top: 0.5px solid #7070708a !important;

  text-decoration: line-through;
}
.bord-t-answ {
  border-top: 0.5px solid #7070708a !important;
}
.bord-t-answ-text {
  color: #d9d9d9;
  border-top: 0.5px solid #7070708a !important;
}
.bord-t-answ-l {
  border-top: 0.5px solid #7070708a !important;

  border-left: 0.5px solid #7070708a !important;
  text-decoration: line-through;
  border-top-left-radius: 5px;
}
.bord-t-answ-r {
  border-top: 0.5px solid #7070708a !important;

  border-right: 0.5px solid #7070708a !important;
  border-top-right-radius: 5px;
}
.bord-b-answ-l {
  border-bottom: 0.5px solid #7070708a !important;
  border-left: 0.5px solid #7070708a !important;
  text-align: end;

  border-bottom-left-radius: 5px;
}
.bord-b-answ-r {
  border-bottom: 0.5px solid #7070708a !important;
  border-right: 0.5px solid #7070708a !important;

  border-bottom-right-radius: 5px;
}
.text-warning {
  color: #f69a0f !important;
}
.my-grid-2 {
  display: grid;
  /* grid-template-columns: 40%,60%; */
  /* grid-template-columns: repeat(1, 40% 2fr) ; */
  grid-template-columns: repeat(1, 295px 2fr);
  /* grid-auto-rows: 1fr; */
  grid-auto-rows: auto;
  grid-gap: 0.5em;
  padding-top: 15%;
}

.digital-answer {
  /* padding: 10px; */
  padding: 5px;
  background-color: #f8f8f8;
  border: 1px solid #7070708a;
  border-radius: 5px;
  letter-spacing: 1px;
}

.answ-delinced {
  font-weight: bold;
  color: #fff;
  background-color: #dc3545;
  margin-inline-start: auto;
  width: 100%;
  height: 20px;
  text-align: center;
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.answ-question {
  font-weight: bold;
  color: #fff;
  background-color: #ffc107;
  margin-inline-start: auto;
  width: 100%;
  height: 20px;
  text-align: center;
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.answ-accepted {
  font-weight: bold;
  color: #fff;
  background-color: #4cb185;
  margin-inline-start: auto;
  width: 100%;
  text-align: center;
  height: 20px;
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.hr {
  margin-bottom: 0.5rem;
}
.marg-inl {
  margin-inline-start: auto;
}
.marg-right-16 {
  margin-right: 16%;
}
.marg-right-m16 {
  margin-right: -16%;
}
.total-time {
  text-align: end;
  font-weight: bold;
}

.digital-answer-message {
  /* padding: 10px; */
  padding: 2px;
  /* background-color: #F8F8F8; */
  border: 1px solid #7070708a;
  border-radius: 5px;
  letter-spacing: 1px;
  padding-top: 0px;
}

.msg-descr {
  font-size: smaller;
  font-weight: bold;
}
.client-message {
  padding: 0.45em 0.9em;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #7070708a;
  display: inline-block;
  margin-top: 0.2em;
  width: 100%;
  padding-bottom: 20px;
}
.stat-time {
  font-size: 23px;
  font-weight: bold;
}
.bord {
  border: 0.5px solid;
  border-radius: 5px;
}
.tb-hed {
  border-top: 2px solid #7070708a !important;
  border-bottom: 2px solid #7070708a !important;
}
.bg-table {
  background: #f5f5f5;
}
.img-p-m-sign {
  height: 9px;
  vertical-align: unset;
}
.table-cont {
  min-height: 280px;
  padding-left: 0;
  padding-right: 0;
}
.tb-antal {
  width: 7.5%;
  text-align: end;
  padding-right: 1%;
}
.tb-enth4 {
  width: 7.5%;
  padding-left: 1%;
}
.tb-enth5 {
    width: 5.5%;
    padding-left: 1%;
  }
  td-enth3
.tb-a-pris {
  width: 12%;
  text-align: end;
  padding-right: 1%;
}

.tb-a-pris5 {
    width: 12%;
    text-align: end;
    padding-right: 1%;
  }

.tb-pmin-sign {
  width: 5%;
  padding-left: 1%;
}

.tb-summ {
    width: 18%;
    text-align: end;
    padding-right: 4%;
}

.tb-summ3 {
    width: 17%;
    text-align: end;
    padding-right: 4%;
}

.tb-attest-h {
  width: 15%;
  padding-left: 6%;
}

.tb-attest-h2 {
    width: 11%;
    padding-left: 6%;
  }

.tb-attest {
  width: 15%;
  padding-left: 2%;
}

.tb-benam {
  width: 35%;
  padding-left: 4%;
}

.tb-benam2 {
    width: 30%;
    padding-left: 4%;
}

.td-title1 {
    width: 35%;
}

.td-title2 {
    width: 30%;
}

.tb-antal2 {
  width: 12.5%;
  text-align: end;
  padding-right: 1.5%;
}

.tb-antal3 {
    width: 8.5%;
    text-align: end;
    padding-right: 1.5%;
}

.tb-enth2 {
  width: 12.5%;
  padding-left: 1.5%;
}

.tb-enth3 {
    width: 8.5%;
    padding-left: 4.5%;
}

.tb-a-pris2 {
    width: 25%;
    text-align: end;
    padding-right: 1.5%;
}


.tb-a-pris3 {
    width: 19%;
    text-align: end;
    padding-right: 1.5%;
}

.tb-pmin-sign2 {
  width: 8.4%;
  padding-left: 2%;
}

.tb-summ2 {
  width: 30%;
  text-align: end;
  padding-right: 7%;
}

.tb-summ4 {
    width: 25%;
    text-align: end;
    padding-right: 7%;
}

.tb-attest2 {
  width: 68px;
  padding-left: 30px;
}

.tb-comment {
    width: 12%;
    text-align: right;
    padding-right: 10px;
}

.tb-comment-content {
    width: 84px;
    padding-left: 5px;
}

.dcl-mat {
  width: 60%;
}

.dcl-mat-h {
  width: 60%;
  border: 1px solid #7070708a;
  border-bottom: 0;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
}

.dcl-mat2 {
    width: 70%;
}

.dcl-mat-h2 {
    width: 70%;
    border: 1px solid #7070708a;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
}

.dcl-mat-b {
  width: 60%;
  border: 1px solid #7070708a;
  border-top: 0;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  padding: 0% 0% 1% 1%;
}

.dcl-mat-pt {
  padding-top: 0.5%;
}
.dcl-mat-pb {
  padding-bottom: 0.5%;
}
.desc-user-comment {
  width: 40%;
  font-weight: bold;
}
.user-comment {
  width: 60%;
  font-style: italic;
}
.dig-answ-table {
  margin-inline-start: auto;
  margin-top: 1%;
  font-size: 14px;
  margin-right: 5%;
}
.alla-priser-dig-answ {
  text-align: end;
  padding-top: 0;
  font-size: smaller;
  letter-spacing: 0px;
  font-family: "Arial Narrow";
}
.alla-priser {
  text-align: end;
  font-family: "Arial Narrow";
  font-size: smaller;
  padding-right: 5px;
  margin-bottom: 0;
}

.buton-wrapper {
  display: flex;
  justify-content: right;
  width: 100%;
}

.preview-btn {
  color: #17a2b8;
  cursor: pointer;
}

.preview-btn:hover {
  color: #005a68;
}

.buton-wrapper {
  display: flex;
  justify-content: right;
  width: 100%;
}

.buton-wrapper > div {
  padding: 0.10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.buton-wrapper > div:first-child {
  margin-right: 1rem;
}

.response-container {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 0.68fr 0.32fr;
}

.text-align-right {
    text-align: right;
}

.pdf-table {
    border-collapse: collapse;
}


table caption {
    padding: 0.5em;
}

.pdf-table th,
.pdf-table td
{
    padding: 0.35em;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    /* Dž.K. 03.03.2021 Pocetak*/
    border: hidden;
    letter-spacing: 1px;
    padding-bottom: 0px;
    background-color: #ffffff;
    font-size: 12px !important;
    /* Dž.K. 03.03.2021 Kraj*/
}

.pdf-table table tbody tr {
    cursor: pointer;
}

.grey-color {
    background-color: #f5f5f5 !important;
}



/* -------------------------------------------------- */
