.container-fluidW.px-0W.l0 {
    margin-left: 42px;
}

.card {
    background-color: var(--main-bg);
    border: none;
}

@media (min-width: 801px)
{
    .col-lg-8W {
    max-width: 990px !important;
    min-width: 990px !important;
}}

.form-heading {
    border: 1px solid;
    border-right: none;
    margin-right: -1150px;
    border-color: var(--border-color);
    height: 60px;
    background-color: var(--main-bg);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.border-h-project {
    border-right: 1px solid;
    border-color: var(--border-color);
    height: 59px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div#topFeeder {
    margin-left: 30px;
    cursor: pointer;
}

.text-muted{
    color: #6c757d!important;
}

.w-100 {
    width: 100px;
}


.posRel {
    position: relative !important;
}

.triangle {
    position: relative;
    overflow: hidden;
}

.btn-icon-postion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.border-brand {
    border-color: var(--project-color);
    background-color: var(--transparent);
    padding-left: 0px;
    align-self: center;
    height: 26px;
}
.project-content {
    position: relative;
    overflow: hidden;
}

.title-new-project{
    color: var(--project-color) !important;
    stroke: var(--project-color) !important;
    font-family: "PT-Sans-Pro-Regular";
    font-size: 14px !important;
}

.title-new-project {
    color: var(--project-color) !important;
    stroke: var(--project-color) !important;
    font-family: "PT-Sans-Pro-Regular";
    font-size: 14px !important;
  }
  
  .title-new-project-hover {
    color: var(--text-color) !important;
    stroke: var(--text-color) !important;
  }

  .form-wrapper-project {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--main-bg);
    border: 2px solid var(--project-color);
    border-radius: 8px;
    max-width: 1130px;
    min-width: 1130px;
    width: calc(100vw - 0px - 144px);
}

.form-column-wrapper-position-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 28px;
    height: 280px;
    padding: 13px 37px 25px 37px;
}

.form-column-wrapper-project{
    background: var(--transparent);
    width: 100%;
}

.form-column-project {
    min-width: 33%;
}

.form-group > label {
    color: var(--text-color) !important;
    font-family: "PT-Sans-Pro-Regular" !important;
}

.project-hentering-input{
    font-size: 14px !important;
    font-family: "PT-Sans-Pro-Regular" !important;
    color: #44484c !important;
    display: block;
    width: 100%;
    height: calc(2.5rem);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #c7c6c4 !important;
    background-clip: padding-box;
    border: 2px solid white;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.project-button {
    box-shadow: none;
    color: var(--project-color);
    text-transform: uppercase;
    stroke: var(--project-color) !important;
    font-family: "PT-Sans-Pro-Regular";
    font-size: 14px !important;
}

.border-brand:hover{
    border-color: white;
}


.border-brand-press {
    border-color: var(--orange-dark) !important;
    background-color: var(--transparent);
    color: var(--orange-dark);
    padding-left: 0px;
    /* margin-top: 22px; */
    height: 26px;
}

.button-press {
    color: var(--orange-dark) !important;
}


.sub-project-button {
    color: var(--project-color);
    border: 1px solid;
    border-color: var(--project-color);
    background-color: var(--transparent);
    padding-left: 6px;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    font-family: "PT-Sans-Pro-Regular";
    margin-top: 22px;
    margin-left: 1.5rem;
}

.add-icon {
    margin-top: 5px;
}



/* toggle projects*/
.text-muted {
    height: 100%;
    padding: 0px 30px 0px 30px;
}
.none-toggle-project {
    padding-top: 7px;
    padding-left: 16px;
    padding-right: 30px;
    max-width: 415px;
    min-width: 415px;
    width: 415px;
}
.title-head-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 auto;
}

.title-project-color {
    font-size: 24px !important;
    font-family: "PT-Sans-Pro-Regular";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 415px !important;
    color: var(--project-color);
}

.project-name-len {
    font-size: 24px !important;
    font-family: "PT-Sans-Pro-Regular";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 326px;
    width: 326px;
}
.toggle-project{
    border: 2px solid var(--project-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    border-bottom: none;
    padding: 5px 28px 0px 14px;
    max-width: 415px;
    min-width: 415px;
    width: 415px;
    background: #1a1a1a;
}

.custom-select-for-project{
    position: absolute;
    z-index: 99999999;
    left: 95px;
    width: 415px;
    border: 2px solid var(--project-color);
    border-top: none;
}
.active {
    background-color: #C2D8FA!important;
}