<div class="blu-scroll" id ="blu-scroll">

  <div class="wrapp">
    <div class="input-wrapper"  >
      <app-counter-dropdown-multiselect
      [selectedItem]="selectedItem"

      >
      </app-counter-dropdown-multiselect>

    </div>
    <div class="input-wrapper1" >
      <app-category-dropdown
      [CategoryItem]="CategoryItem"
      >
      </app-category-dropdown>
    </div>

    <div class="input-wrapper" >
      <app-select-dropdown-with-plus
      [ClientItem]="ClientItem"
      >
      </app-select-dropdown-with-plus>
    </div>
  </div>

  <div class="wrapp1" style="margin-top:200px">
    <div class="input-wrapper2"  >
      <app-select-dropdown-single-checkbox
      [MaterialData]="MaterialData"
      >

      </app-select-dropdown-single-checkbox>

    </div>
    <div class="input-wrapper3" >
      <app-multiselect-dropdown-project
      [ProjectData]="ProjectData"
      >

      </app-multiselect-dropdown-project>
    </div>

    <div class="input-wrapper4" >
     <!-- [SendPrintUT]="SendPrintUT"-->
      <app-send-print-dropdown-ut

      >

      </app-send-print-dropdown-ut>

    </div>
  </div>

  <div class="wrapp1" style="margin-top:400px">
    <div class="input-wrapper5"  >
      <app-send-print-dropdown-ata
      [SendPrintUT1]="SendPrintUT1"
      >

      </app-send-print-dropdown-ata>
    </div>

    <div class="input-wrapper4" >
      <app-samm-dropdown

      >

      </app-samm-dropdown>
    </div>

    <div class="input-wrapper4" >
      <app-ata-status-dropdown
      [ATAStatus]="ATAStatus"
      >

      </app-ata-status-dropdown>

    </div>

    <div class="input-wrapper5" >
      <app-grant-authority-dropdown
      [Authority]="Authority"
      >

      </app-grant-authority-dropdown>

    </div>
  </div>

  <div class="wrapp1" style="margin-top:200px">
    <div class="input-wrapper1"  >
      <app-days-dropdown
      [Days]="Days"
      >

      </app-days-dropdown>
    </div>

    <div class="input-wrapper6" >
      <app-user-dropdown-multiselect
      [User]="User"
      >
      </app-user-dropdown-multiselect>
    </div>

    <div class="input-wrapper6" >
      <app-search-dropdown>

      </app-search-dropdown>

    </div>
  </div>
</div>
