<svg
      id="Group_6030"
      data-name="Group 6030"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="19.297"
      height="19.297"
      viewBox="0 0 19.297 19.297"
    > 
      <defs>
        <clipPath id="clip-path">
          <path
            id="Path_782"
            data-name="Path 782"
            d="M0,4.054H19.3v-19.3H0Z"
            transform="translate(0 15.243)"
            fill="#858585"
          />
        </clipPath>
      </defs>
      <g id="Stäng_Close_" data-name="Stäng (Close)" transform="translate(0 0)">
        <g id="Group_341" data-name="Group 341" clip-path="url(#clip-path)">
          <g
            id="Group_340"
            data-name="Group 340"
            transform="translate(0 0.001)"
          >
            <path
              id="Path_781"
              data-name="Path 781"
              d="M2.027,3.787a8.3,8.3,0,0,1-8.3-8.365,8.3,8.3,0,0,1,8.3-8.365,8.3,8.3,0,0,1,8.3,8.365,8.3,8.3,0,0,1-8.3,8.365m0,1.271a9.675,9.675,0,0,0,9.648-9.649,9.674,9.674,0,0,0-9.648-9.648A9.674,9.674,0,0,0-7.621-4.591,9.675,9.675,0,0,0,2.027,5.058"
              transform="translate(7.621 14.239)"
              fill="#858585"
            />
          </g>
        </g>
        <g
          id="Group_342"
          data-name="Group 342"
          transform="translate(4.462 4.462)"
        >
          <path
            id="Path_783"
            data-name="Path 783"
            d="M.665.8-3.622,5.093l.889.9L1.565,1.7l4.3,4.293.889-.9L2.454.8l4.3-4.283-.9-.888L1.565-.089l-4.3-4.293-.889.9Z"
            transform="translate(3.622 4.382)"
            fill="#858585"
          />
        </g>
      </g>
    </svg>