.dialog-wrapper {
    min-width: 560px;
    background-color: #373B40;
    border: 3px solid #82A7E2;
    border-radius: 10px;
    user-select: none;
    padding: 60px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header {
    background-color: black;
    color: white;
    font-size: 10px;
    display: grid;
    height: 26px;
    grid-template-columns: 140px 150px 100px 108px 60px;
}

.header-item {
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-left: 1px solid grey;
}

.row {
    display: grid;
    grid-template-columns: 140px 150px 100px 108px 60px;
    min-height: 38px;
    border-bottom: 1px solid grey;
}

.row:nth-child(odd) {
    background-color: #eaf2ff;
}

.row:nth-child(even) {
    background-color: white;
}

.row-item {
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-left: 1px solid grey;
    font-size: 14px;
}

.dialog-title {
    font-size: 20px;
    color: #82A7E2;
    position: absolute;
    top: 15px;
    left: 15px;
}

.dialog-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.dialog-close svg {
    pointer-events: none;
}

.btn-wrapper-wr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    width: 115px;
    align-items: center;
    bottom: 15px;
    right: 15px;
    color: grey;
    user-select: none;
    cursor: pointer;
    gap: 10px;
    pointer-events: none;
}

.btn-wrapper-wr svg {
    pointer-events: none;
}

.checkbox-round {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-image: url("data:image/svg+xml,%3Csvg id='Bocka_av_icon' data-name='Bocka av icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_60' data-name='Rectangle 60' width='16' height='16' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_301' data-name='Group 301' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_745' data-name='Path 745' d='M15.86,7.93A7.933,7.933,0,1,1,7.928,0,7.931,7.931,0,0,1,15.86,7.93' transform='translate(0.073 0.07)' fill='%23ff7000'/%3E%3Cpath id='Path_746' data-name='Path 746' d='M20.849,19.509l-.239-.242a.729.729,0,0,0-.515-.229.835.835,0,0,0-.583.268l-5.318,5.266-1.741-1.8v0l-.552-.557a.75.75,0,0,0-.526-.232.783.783,0,0,0-.544.239l-.239.242a.742.742,0,0,0,.039,1.1l3.577,3.605,6.2-6.13.453-.456a.735.735,0,0,0-.008-1.072' transform='translate(-8.104 -14.943)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    border: none;
}

.checkbox-round-all {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round-all:checked {
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg id='Bocka_av_icon' data-name='Bocka av icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_60' data-name='Rectangle 60' width='22' height='22' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_301' data-name='Group 301' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_745' data-name='Path 745' d='M19.827,9.913A9.916,9.916,0,1,1,9.912,0a9.914,9.914,0,0,1,9.915,9.915' transform='translate(0.09 0.087)' fill='%23ff7000'/%3E%3Cpath id='Path_746' data-name='Path 746' d='M23.47,19.627l-.3-.3a.911.911,0,0,0-.644-.286,1.044,1.044,0,0,0-.729.335L15.15,25.956,12.973,23.7v0l-.69-.7a.938.938,0,0,0-.657-.29.978.978,0,0,0-.68.3l-.3.3a.928.928,0,0,0,.049,1.376L15.166,29.2l7.748-7.663.566-.57a.919.919,0,0,0-.01-1.34' transform='translate(-7.539 -13.919)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.btn-wrapper-green {
    border: 1px solid #4CB185;
    color: #4CB185;
    pointer-events: auto;
}

.app-full-bleed-dialog  {
    overflow-x: auto !important;
    height: 500px !important;
}

.edit-new-bill-weekly-mat-dialog {
    width: 585px !important;
    height: 100% !important;
    max-height: 1100px !important;
    overflow: auto;
}