.start-time-box {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

