<mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="dialog-wripper">
        <div class="close-wrapper" (click)="onClose()">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 25 25">
                <defs>
                <clipPath id="clip-path">
                    <path id="Path_782" data-name="Path 782" d="M0,9.755H25v-25H0Z" transform="translate(0 15.243)" fill="none"/>
                </clipPath>
                </defs>
                <g id="Stäng_Close_" data-name="Stäng (Close)" transform="translate(0 0)">
                <g id="Group_6898" data-name="Group 6898">
                    <g id="Group_341" data-name="Group 341" clip-path="url(#clip-path)">
                    <g id="Group_340" data-name="Group 340" transform="translate(0 0.001)">
                        <path id="Path_781" data-name="Path 781" d="M4.878,9.113A10.752,10.752,0,0,1-5.878-1.724,10.752,10.752,0,0,1,4.878-12.561,10.752,10.752,0,0,1,15.634-1.724,10.752,10.752,0,0,1,4.878,9.113m0,1.647a12.534,12.534,0,0,0,12.5-12.5,12.532,12.532,0,0,0-12.5-12.5,12.532,12.532,0,0,0-12.5,12.5,12.534,12.534,0,0,0,12.5,12.5" transform="translate(7.621 14.239)" fill="#b8b8b8"/>
                    </g>
                    </g>
                    <path id="Path_783" data-name="Path 783" d="M1.478,1.781l-5.1,5.107,1.057,1.069L2.548,2.85,7.661,7.957,8.718,6.888,3.606,1.781,8.718-3.313,7.648-4.369,2.548.725-2.565-4.382-3.622-3.313Z" transform="translate(9.952 10.712)" fill="#b8b8b8"/>
                </g>
                </g>
            </svg>
        </div>
        <div class="content-wrapper">
            <div class="dialog-title">{{ "Create new folder" | translate | titlecase }}</div>
            <div class="name-wrapper">
                <div class="name-label">{{ "name" | translate | titlecase }}</div>
                <input type="text" name="name" [(ngModel)]="folder.name">
            </div>
            <div class="description-wrapper">
                <div class="name-label">{{ "description" | translate | titlecase }}</div>
                <div>
                    <textarea
                    placeholder="{{ 'Write descriptive text' | translate }}..."
                    name="description"
                    [(ngModel)]="folder.description"
                    ></textarea>
                </div>
            </div>
            <div class="save-btn" (click)="onSave()">
                {{ 'save' | translate | uppercase }}
            </div>
        </div>
    </div>
</mat-dialog-content>
