.menu-container {
    position: absolute;
    top: 35%;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.green-bottom {
    height: 7.5px;
    width: 100%;
    background-color: #BFE29C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spinner-container-absolute {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 8888888888888888;
}
