<div class="calendar-grid-wrapper">
    <app-calendar-header
      [spinner]="spinner"
      [selectedTabs]="selectedTabs"
      [absenceTypes]="absenceTypes"
      [fetchUsers]="fetchUsers"
      [RowNumber]="active.RowNumber"
      (initiallyGenerateCalendar)="initiallyGenerateCalendar($event)"
      (detectChanges)="refreshCalendar()"
      (addAdditionalUsers)="addAdditionalUsers($event)"
      (setSpinner)="setSpinner($event)"
      (resetUsers)="resetUsers()"
    ></app-calendar-header>
    <div class="card col-12X admin-calendar">
      <div class="scroll-line-right"></div>
      <div class="scroll-line-bottom"></div>
      <div
        class="hide-top-header"
        [style.height.px]="calendarStyle.headerHeight"
      ></div>
      <div style="position: sticky; top: 0;" [ngStyle]="computedStyle.calendarWrapperStyle">
        <div class="user-container user-header" [ngStyle]="computedStyle.calendarHeaderStyle">
          <div class="user-numbers">
            {{ "Nr" | translate }}
          </div>
          <div class="user-name-data">
            {{ "Benämning" | translate }}
          </div> 
          <div class="user-info-data">
            {{ "Total" }}
          </div>
          <div class="overlay" *ngIf="overlay"></div>
        </div>
        <div [ngStyle]="translateX">
          <div class="calendar-header" [ngStyle]="computedStyle.bodyWrapperStyle">
            <div class="sticky-weeks" [ngStyle]="computedStyle.stickyWeeksStyle">
              <div style="position: relative">
                <app-sticky-weeks
    
                  [calendarStyle]="calendarStyle"
                  [calendar]="calendar"
                  [calendarBoundaries]="calendarBoundaries"
                  [RowNumber]="active.RowNumber"
    
                ></app-sticky-weeks>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div #momentsWrapper  class="planner-moments-wrapper blu-scroll blu-scroll2">
        <div  class="container-height" [style.height]="computedStyle.usersHeight">
          <div style="position: sticky;">
             
            <div [ngStyle]="translateY" >
              
              <div [ngStyle]="computedStyle.calendarWrapperStyle" *ngFor="let user of (users$  | async); let index = index;">
                <div class="superior-positioning" [id]="index">
                    <app-user-name
    
                      [calendarStyle]="calendarStyle"
                      [user]="user"
                      [index]="index"
                      [users]="users" 
                      [calendar]="calendar"
                      [calendarBoundaries]="calendarBoundaries"
                      [queryParams]="queryParams"
                      [RowNumber]="active.RowNumber"
                      [currentDate]="currentDate"
                      (activeUserEmitter)="setActiveUser($event)"
                      [openModalHook]="openModalHook"
                      (setActiveHook)="setActiveHook($event)"
                      (detectChanges)="detectChanges()"
                        
                    > 
                    </app-user-name>
                </div>
                <div>
                    <app-calendar-user-row
    
                      [momentsWrapper]="momentsWrapper"
                      [calendarStyle]="calendarStyle"
                      [queryParams]="queryParams"
                      [user]="user"
                      [index]="index"
                      [calendar]="calendar"
                      [modalMaxHeight]="modalMaxHeight"
                      [RowNumber]="active.RowNumber"
                      (activeUserEmitter)="setActiveUser($event)"
    
                    ></app-calendar-user-row>
                </div>
              </div>
              <app-user-modals 
                      
                [active]="active" 
                [calendar]="calendar"
                [momentsWrapper]="momentsWrapper" 
                [calendarStyle]="calendarStyle"
                [xTranslation]="scrollTop" 
                [hideScreen]="hideScreen"
                (hideScreenFunc)="hideScreenFunc($event)" 
                (updateDayStatus)="updateDayStatus($event)"
                (updateAbsences)="updateAbsences($event)"
  
              ></app-user-modals>
              <div [ngStyle]="spinnerX" class="progress-loader2" *ngIf="spinner" >
                <div  class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div> 
              <div 
              
                (click)="transparentClick($event)" 
                [ngStyle]="hoverDisplay" 
                class="hover-layer" 
                #hoverLayer
                
              ></div>
            </div>

          </div>

        </div>
      </div>
      <div class="bottom-right-symbol">
        <svg
          id="WOP360_logo"
          data-name="WOP360 logo"
          xmlns="http://www.w3.org/2000/svg"
          width="12.359"
          height="13.099"
          viewBox="0 0 12.359 13.099"
        >
          <g id="Group_3903" data-name="Group 3903">
            <g id="Group_68" data-name="Group 68">
              <path
                id="Path_66"
                data-name="Path 66"
                d="M1.8,2.168-.582.737V-2.124l2.391-1.43L4.193-2.122V.739ZM-1.054,7.309l-2.386-1.43V3.018l2.391-1.43L1.337,3.02V5.88Zm5.713,0L2.274,5.879V3.018l2.391-1.43L7.052,3.02,7.046,5.88Zm-9.032-.873,3.319,1.991L1.8,6.716,4.659,8.428,7.981,6.44l0-3.981L5.128.747V-2.681L1.809-4.671-1.516-2.683V.75L-4.373,2.459Z"
                transform="translate(4.373 4.671)"
                fill="#44484c"
              />
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>

<app-gallery

  *ngIf="swiper.images.length"
  [swiper]="swiper"
  [canRemove]="false"
  (closeSwiperEvent)="closeSwiper()"
  [server]="true"

></app-gallery>