<div class="client-wrapper">
  <!--Navi for undo-->
  <div class="nav-wrapper">
    <div class="header" style="z-index: 999999">
      <div class="d-flex align-items-center border-h-project px-4 py-2 title-new">
        <a (click)="goBack()" style="cursor: pointer">
          <span class="back-icon-position">
            <app-back-icon-svg
              [width]="34"
              [height]="29"
              [color]="'82a7e2'"
            ></app-back-icon-svg>
          </span>
        </a>
        <span class="ml-3 mt-2 h2 font-weight-normal title-project">{{ "Register" | translate }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Tabs -->
<div class="tab-navigation-wrapper mt-2">
  <div class="tab-navigation" style="margin-top: 26px">
    <div class="nav-tabs tab-navigation">
      <ul class="nav nav-tabs nav-pills" role="tablist">
        <li class="nav-item approveItem">
          <a
            class="nav-link active"
            [ngClass]="{ active: selectedTab == 0 }"
            (click)="setSelectedTab(0)"
            id="approveItem"
          >
            {{ "Client details" | translate }}
            <div
              [ngClass]="{
                'hide-bottom-box-shadow': selectedTab == 0,
                'bottom-shadow-button': selectedTab !== 0
              }"
            ></div>
          </a>
        </li>
        <li class="nav-item align-l">
          <a
            class="nav-link attest"
            [ngClass]="{ active: selectedTab == 1 }"
            (click)="setSelectedTab(1)"
            style="z-index: 1;pointer-events: none;"
          >
            {{ "Client reference" | translate }}
            <div
              [ngClass]="{
                'hide-bottom-box-shadow': selectedTab == 1,
                'bottom-shadow-button': selectedTab !== 1
              }"
            ></div>
          </a>
        </li>
        <li class="nav-item align-l">
          <!-- <div class="exclamation-mark-container" *ngIf="showCommentsNumber">
            <p class="exclamation-mark">{{ commentsNumber }}</p>
          </div> -->
          <a
            class="nav-link forecast"
            [ngClass]="{ active: selectedTab == 2 }"
            (click)="setSelectedTab(2)"
            style="pointer-events: none;"
          >
            {{ "Appendices" | translate }}
            <div
              [ngClass]="{
                'hide-bottom-box-shadow': selectedTab == 2,
                'bottom-shadow-button': selectedTab !== 2
              }"
            ></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="blu-scroll-wrapp master-margin">
  <div class="blu-scroll skrollbar card-project">
    <form
      *ngIf="this.selectedTab === 0"
      class="p-3X w75"
      novalidate
      autocomplete="off"
      [formGroup]="createForm"
      (ngSubmit)="createClient()"
      #myform="ngForm"
    >
      <h2 class="h5 master-title masster-title-margin">
        {{ "Add New Client" | translate }}
      </h2>
      <div class="form-group rowX pb-4X mb-0 pb-0">

         <div class="foractive">
          <label class="bg-dangerX"
            ><small
              style="margin-left: -6px"
              [ngClass]="{ 'font-weight-bold': boldOrNot }"
              >{{ "Status" | translate }}{{ ":" }}
              </small
            ></label
          ><br />
          <div class="form-check form-check-inline">
            <div class="radio-wrapper">
              <input
                class="first-radio"
                type="radio"
                name="status"
                id="inlineRadio1"
                value="1"
                checked
                formControlName="status"
              />
              <label
                class="first-radio-label"
                for="inlineRadio1"
                checked
              ></label>
            </div>
            <span class="yes-check">{{ "Active" | translate }}</span>
          </div>

          <div class="form-check form-check-inline">
            <div class="radio-wrapper">
              <input
                class="first-radio"
                type="radio"
                name="status"
                id="inlineRadio2"
                value="0"
                formControlName="status"
                checked
              />
              <label class="first-radio-label" for="inlineRadio2"
                ></label
              >
              <span class="no-check">{{ "Inactive" | translate }}</span>
            </div>
          </div>
        </div>

         <div class="for-second-radio-inputs">
          <label class="bg-dangerX"
            ><small
              style="margin-left: -6px; white-space: nowrap"
              [ngClass]="{ 'font-weight-bold': boldOrNot }"
              >{{ "Reverse payment obligation" | translate }}{{ ":" }}
              </small
            ></label
          ><br />
          <div class="form-check form-check-inline">
            <div class="radio-wrapper">
              <input
                class="first-radio"
                type="radio"
                name="reversePaymentObligation"
                id="inlineRadio11"
                value="1"
                checked
                formControlName="reversePaymentObligation"
              />
              <label
                class="first-radio-label"
                for="inlineRadio11"
                checked
              ></label>
            </div>
            <span class="yes-check">{{ "Yes" | translate }}</span>
          </div>

          <div class="form-check form-check-inline">
            <div class="radio-wrapper">
              <input
                class="first-radio"
                type="radio"
                name="reversePaymentObligation"
                id="inlineRadio22"
                value="0"
                formControlName="reversePaymentObligation"
                checked
              />
              <label class="first-radio-label" for="inlineRadio22"
                ></label
              >
              <span class="no-check">{{ "No" | translate }}</span>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: -83px">
          <div class="col-md-6">
           <label for="validationCustom04" class="required"
           ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
             "ORG NR" | translate
           }}</small></label
         >
         <input
           type="text"
           class="form-control form-control-custom org-nr-width"
           [ngClass]="{
             'is-invalid':
               (createForm.get('company_id').touched || myform.submitted) &&
               createForm.get('company_id').invalid
           }"
           id="validationCustom04"
           spellcheck="false"
           formControlName="company_id"
         />
         <div class="invalid-feedback">{{ "Please enter Org.Nr" | translate }}.</div>
            <label for="validationCustom04" class="required"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Company Name" | translate
              }}</small></label
            >
            <input
              style="width:330px"
              type="text"
              class="form-control form-control-custom"
              [ngClass]="{
                'is-invalid':
                  (createForm.get('company').touched || myform.submitted) &&
                  createForm.get('company').invalid
              }"
              id="validationCustom04"
              spellcheck="false"
              formControlName="company"
            />
            <div class="invalid-feedback">{{ "Please enter the name of the company" | translate }}.</div>

            <div class="form-group">
              <label for="clientCategoryInput">
                <small>
                  {{ "Client category" | translate }}
                </small>
              </label>
              <div  class="input-group" [hidden]="!showClientCategoryInput">
                <input type="text" class="form-control" #newCategory />
                <div  class="input-group-append">
                  <button
                    class="btn btn-outline-secondary py-0"
                    (click)="addOrEditClientCategory(
                      categorySelected,
                      newCategory.value
                    )"
                    type="button">
                    <span
                      class="badgeX badge-darkX material-icons posRel"
                      style="top: 3px"
                      >save</span
                    >
                  </button>
                </div>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary py-0"
                    (click)="toggleClientCategoryInput()"
                    type="button">
                    <span
                      class="badgeX badge-darkX material-icons posRel"
                      style="top: 3px"
                      >arrow_forward</span
                    >
                  </button>
                </div>
              </div>
              <div style="flex-wrap: nowrap!important;" class="input-group" [hidden]="showClientCategoryInput"
              >
                <div class="input-wrapper1">
                  <app-counter-dropdown-multiselect
                    [(selectedItem)]="clientCategories"
                    [selectedCoworkers]=""
                    [EnableSearch]="true"
                    [placeholder]="'Select Category' | translate"
                    [width]="235"
                    [type]="'newProject'"
                    (SelectedUser)="onSelect($event)"
                    (SelectedUserAll)="onSelectAll($event)"
                    (OnDeSelectAll)="onDeSelectAll($event)"
                    [PermitActive]="false"
                  >
                  </app-counter-dropdown-multiselect>
                  <div class="invalid-feedback">{{ "Please enter a client category" | translate }}.</div>

                </div>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary py-0"
                    (click)="openAddClientCategory(newCategory)"
                    type="button"
                  >
                    <span
                      class="badgeX badge-darkX material-icons posRel"
                      style="top: 3px"
                      >add</span
                    >
                  </button>
                </div>
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary py-0"
                    (click)="deleteClientCategory(categorySelected)"
                    type="button">
                    <span
                      class="badgeX badge-darkX material-icons posRel"
                      style="top: 3px"
                      >delete</span
                    >
                  </button>
                </div>
              </div>


            </div>
          </div>
          <div class="col-md-6" style="margin-top: 3px;position:absolute;left:460px">
            <label for="validationCustom40" class="required"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Client Number" | translate
              }}</small></label
            >

            <input
              type="text"
              class="form-control form-control-custom w-client-var-number"
              [ngClass]="{
                'is-invalid':
                  (createForm.get('number').touched || myform.submitted) &&
                  createForm.get('number').invalid
              }"
              id="validationCustom40"
              spellcheck="false"
              formControlName="number"
            />
            <div class="invalid-feedback">{{ "Please enter a client number" | translate }}.</div>

            <label for="validationCustom27" class="required">
              <small [ngClass]="{ 'font-weight-bold': boldOrNot }">
                {{"VAT number" | translate}}
              </small>
            </label>
            <input
              type="text"
              class="form-control form-control-custom w-client-var-number"
              [ngClass]="{
                'is-invalid':
                  (createForm.get('vatNumber').touched || myform.submitted) &&
                  createForm.get('vatNumber').invalid
              }"
              id="validationCustom27"
              spellcheck="false"
              formControlName="vatNumber"
            />
            <div class="invalid-feedback">{{ "Please enter a VAT number" | translate }}.</div>

            <div class="form-group">
              <label for="validationCustom03"
                ><small>{{ "Order Email" | translate }}</small></label
              >
              <input
                style="width:330px"
                [attr.disabled]="
                  !userDetails.create_register_customers ? 'disabled' : null
                "
                type="email"
                class="form-control form-control-custom"
                id="validationCustom03"
                spellcheck="false"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    (createForm.get('email').touched || myform.submitted) &&
                    createForm.get('email').invalid
                }"
              />
            <!--  <div class="invalid-feedback">{{ "Please enter a email" | translate }}.</div>-->

              <span
                class="help-block"
                *ngIf="
                  (createForm.get('email').touched ||
                    createForm.get('email').dirty) &&
                  createForm.get('email').errors
                "
              >
                <span
                  *ngIf="createForm.get('email').errors.required"
                  class="text-danger"
                  >{{ "Email required" | translate }}.</span
                >
                <span
                  *ngIf="createForm.get('email').errors.email"
                  class="text-danger"
                  >{{ "Email invalid" | translate }}.</span
                >
                <span
                  *ngIf="createForm.get('email').errors.exists"
                  class="text-danger"
                >
                  {{ "Email already in use" | translate }}.
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h3 class="h5 text-secondary master-title">
              {{ "Company" | translate }}
            </h3>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <div style="flex: 0 0 calc(49% - 40px); padding-left: 35px">
            <label for="validationCustom1B"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Your Reference" | translate
              }}</small></label
            >
            <input
              type="text"
              class="form-control form-control-custom phone-1-2 w-company"
              id="validationCustomXD"
              spellcheck="false"
              formControlName="reference_theirs"
            />
            <div class="invalid-feedback">Please enter a reference</div>
          </div>
          <div style="flex: 0 0 calc(47% - 19px); padding-left: 30px;padding-right: 22px;">
            <label for="validationCustom1B"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Our Reference" | translate
              }}</small></label
            >
            <input
              type="text"
              class="form-control form-control-custom phone-1-2 w-company"
              id="validationCustomXC"
              spellcheck="false"
              formControlName="reference_ours"
            />
            <div class="invalid-feedback">Please enter a reference</div>
          </div>
          <div style="flex: 0 0 calc(47% - 45px);">
            <label for="validationCustom03"
              ><small>{{ "Order Email" | translate }}</small></label
            >
            <input
              [attr.disabled]="
                !userDetails.create_register_customers ? 'disabled' : null
              "
              type="email"
              class="form-control form-control-custom w-company-last"
              id="validationCustom03"
              spellcheck="false"
              formControlName="companyEmail"

            />


            <span
              class="help-block"
              *ngIf="
                (createForm.get('companyEmail').touched ||
                  createForm.get('companyEmail').dirty) &&
                createForm.get('companyEmail').errors
              "
            >

              <span
                *ngIf="createForm.get('companyEmail').errors.email"
                class="text-danger"
                >{{ "Email invalid" | translate }}.</span
              >
              <span
                *ngIf="createForm.get('companyEmail').errors.exists"
                class="text-danger"
              >
                {{ "Email already in use" | translate }}.
              </span>
            </span>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <div style="flex: 0 0 calc(32% - 61px); padding-left: 35px">
            <label style="white-space: nowrap" for="validationCustom01"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Phone Number 1" | translate
              }}</small></label
            >
            <input
              type="text"
              class="form-control form-control-custom w-phone"
              id="validationCustom04"
              spellcheck="false"
              formControlName="mobile_number"
              #mobile_number
              (blur)="formtMobileNumber(mobile_number.value, 'mobile')"/>
            <div class="invalid-feedback">Please enter Company Phone 1</div>
          </div>
          <div style="flex: 0 0 calc(25% - 42px); margin-left: 15px">
            <label style="white-space: nowrap" for="validationCustomYB"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                  "Phone Number 2" | translate
                }}</small
              ></label
            >
            <input
              type="text"
              class="form-control form-control-custom w-phone"
              id="validationCustom04"
              spellcheck="false"
              formControlName="telephone_number"
              #tel_number
              (blur)="formtMobileNumber(tel_number.value, 'telephone')"/>
            <div class="invalid-feedback">Please enter a company phone 2</div>
          </div>
          <div style="flex: 0 0 calc(42% - 22px); margin-left: 16px;padding-right:22px">
            <label for="validationCustom03"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Email" | translate
              }}</small></label
            >
            <input
              type="text"
              class="form-control form-control-custom w-company"
              [ngClass]="{ 'is-invalid': displayError('clientEmail') }"
              id="validationCustom03"
              spellcheck="false"
              formControlName="clientEmail"
            />

            <span
              class="help-block"
              *ngIf="displayError('email') && displayErrorObj('email', 'email')">
              <span
                *ngIf="displayErrorObj('email', 'email')"
                class="text-danger">
                {{ "Email invalid" | translate }}
              </span>
            </span>
          </div>
          <div style="flex: 0 0 calc(42% - 28px);">
            <label for="validationCustom01" class="mb-0 mt-1">
              <small style="position: relative;bottom: 4px;" [ngClass]="{ 'font-weight-bold': boldOrNot }">
                {{"Web Address" | translate}}
              </small>
            </label>
          <input
            type="text"
            style="position: relative;top: 6px;"
            class="form-control form-control-custom w-company-last"
            id="validationCustom04"
            spellcheck="false"
            formControlName="web_address"/>
            <div class="invalid-feedback">Please enter a web address</div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div style="max-width: 100%">
              <h3
                class="h5 text-secondary master-title"
                style="margin-top: 22px"
              >
                {{ "Visiting Address Details" | translate }}
              </h3>
              <label for="validationCustomAA"
                ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                    "Street and Number" | translate
                  }}</small
                ></label
              >
              <input
                type="text"
                class="form-control form-control-custom bg-warningX"
                id="validationCustomAA"
                spellcheck="false"
                formControlName="visiting_address_street_and_no"
                style="width: 100%; max-width: 440px"
              />
              <div class="invalid-feedback">Please enter an address</div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <div style="flex: 0 0 calc(49% - 40px); padding-left: 35px">
            <label for="validationCustomBB"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Zip Code" | translate
              }}</small></label
            >

            <input
              type="text"
              class="form-control form-control-custom bg-warningX w-zip-code-country"
              id="validationCustomBB"
              spellcheck="false"
              formControlName="visiting_address_postnr"
            />
            <div class="invalid-feedback">Please enter a postnr</div>
          </div>
          <div style="flex: 0 0 calc(44% - -4px); padding-left: 12px;padding-right:20px">
            <label for="validationCustomCC"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "City" | translate
              }}</small></label
            >

            <input
              type="text"
              class="form-control form-control-custom bg-warningX w-city"
              id="validationCustomCC"
              spellcheck="false"
              formControlName="visiting_address_city"
            />
            <div class="invalid-feedback">Please enter an ort</div>
          </div>
          <div style="flex: 0 0 calc(47% - 42px);">
            <label for="validationCustomDD"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                "Country" | translate
              }}</small></label
            >
            <input
              type="text"
              class="form-control form-control-custom bg-warningX w-company-last"
              id="validationCustomDD"
              spellcheck="false"
              formControlName="visiting_address_land"
            />
            <div class="invalid-feedback">Please enter a land</div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div style="max-width: 100%">
              <h3
                class="h5 text-secondary master-title"
                style="margin-top: 22px"
              >
                {{ "Invoice Address Details" | translate }}
              </h3>
              <label for="validationCustomXA"
                ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                    "Street and number" | translate
                  }}</small
                ></label
              >
              <input
                type="text"
                class="form-control form-control-custom bg-infoX"
                id="validationCustomXA"
                spellcheck="false"
                formControlName="invoice_address_street_and_no"
                style="width: 100%; max-width: 440px"
              />
              <div class="invalid-feedback">Please enter an address</div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <div style="flex: 0 0 calc(49% - 40px); padding-left: 35px;">
            <label for="validationCustomXB"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                  "Zip Code" | translate
                }}</small
              ></label
            >

            <input
              type="text"
              class="form-control form-control-custom bg-infoX w-zip-code-country"
              id="validationCustomXB"
              spellcheck="false"
              formControlName="invoice_address_postnr"
            />
            <div class="invalid-feedback">Please enter a postnr</div>
          </div>
          <div style="flex: 0 0 calc(44% - -3px);padding-left: 12px;padding-right: 20px;">
            <label for="validationCustomXC"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                  "City" | translate
                }}</small
              ></label
            >

            <input
              type="text"
              class="form-control form-control-custom bg-infoX w-city"
              id="validationCustomXC"
              spellcheck="false"
              formControlName="invoice_address_city"
            />
            <div class="invalid-feedback">Please enter an ort</div>
          </div>
          <div style="flex: 0 0 calc(47% - 42px);">
            <label for="validationCustomXD"
              ><small [ngClass]="{ 'font-weight-bold': boldOrNot }">{{
                  "Country" | translate
                }}</small
              ></label
            >
            <input
              type="text"
              class="form-control form-control-custom bg-infoX w-company-last"
              id="validationCustomXD"
              spellcheck="false"
              formControlName="invoice_address_land"
            />
            <div class="invalid-feedback">Please enter a land</div>
          </div>
        </div>
      </div>

      <div
        class="form-group text-center"
        style="margin-left: 35px; margin-top: 25px"
      >
        <button
          [disabled]="
            !userDetails.create_register_customers ||
            !createForm.dirty ||
            !createForm.valid
          "
          type="submit"
          class="save-button"
          [style.opacity]="myform.submitted && createForm.invalid ? '0.5' : '1'"
          [style.pointer-events]="myform.submitted && createForm.invalid ? 'none' : 'auto'"

        >
            <div class="button-icon">
                <ng-container *ngIf="!createForm.dirty || !createForm.valid">
                    <app-folder-icon-with-params-svg
                        [width]="23.5"
                        [height]="18.548"
                        [strokeWidthParams]="1.5"
                        [color]="'373b40'"
                        [colorStroke]="'cccccc'"
                        [opacityVal]="0.973"
                    ></app-folder-icon-with-params-svg>
                </ng-container>
                <ng-container *ngIf="createForm.dirty && createForm.valid">
                    <app-folder-icon-with-params-svg
                        [width]="23.5"
                        [height]="18.548"
                        [strokeWidthParams]="1.5"
                        [color]="'373b40'"
                        [colorStroke]="'ff7000'"
                        [opacityVal]="0.973"
                    ></app-folder-icon-with-params-svg>
                </ng-container>
            </div>
            <div>
                {{ "Save" | translate }}
            </div>
        </button>
      </div>
    </form>
  </div>
  <div class="vertical-line"></div>
  <div class="horizontal-line"></div>
</div>

<div
  *ngIf="showModal"
  class="card col-12X col-lg-6X mb70"
  id="looksLikeModal"
  (click)="closeModal($event)"
>
  <article
    class="card narrow400 minh70p p-4 d-flex flex-column justify-content-between"
  >
    <section>
      <p>
        {{
          "Client category can't be deleted because it is being used by one or more suppliers"
            | translate
        }}
      </p>
      <div *ngIf="clientsUsingCategory">
        <h5>{{ "Clients using category" | translate }}:</h5>
        <ul>
          <li
            *ngFor="let client of clientsUsingCategory"
            class="text-danger"
          >
            <a
              routerLink="/clients/details/{{ client.Id }}"
              target="_blank"
              rel="noopener noreferrer"
              class="text-danger"
              >{{ client.Name }} &rarr;</a
            >
          </li>
        </ul>
      </div>
    </section>
  </article>
</div>

<div class="progress-loader" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
