<div *ngIf="items">
  <div class="black-btn-wrapper"
  [ngClass]="{
    'blue-btn-wrapper-open':isPermitDialog && isOpen,
    'blue-btn-wrapper-close':isPermitDialog && !isOpen
             }"
   (click)="toggleSendButton()">
    <div *ngIf="!isPermitDialog" style="margin-left: 18px;">{{'SEND' | translate}}</div>
    <div *ngIf="isPermitDialog" style="margin-left: 18px;">{{'E-POSTA' | translate}}</div>
    <div style="margin-right: 15px;">
      <svg *ngIf="!isOpen" id="Group_304" data-name="Group 304" xmlns="http://www.w3.org/2000/svg" width="16.002" height="10.353" viewBox="0 0 16.002 10.353">
        <path id="Path_757" data-name="Path 757" d="M.183,1.549l7.075,8.482a.847.847,0,0,0,.724.322h.08a.847.847,0,0,0,.724-.322L15.82,1.549A.981.981,0,0,0,16,.906a.678.678,0,0,0-.342-.563L15.418.183A1.143,1.143,0,0,0,14.734,0a.786.786,0,0,0-.6.342L8.021,7.579,1.911.344A.786.786,0,0,0,1.308,0,1.143,1.143,0,0,0,.625.183L.344.344A.678.678,0,0,0,0,.906a.981.981,0,0,0,.181.643" transform="translate(0 0)" fill="#ff7000"/>
      </svg>

      <svg *ngIf="isOpen" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="10.352" viewBox="0 0 16 10.352">
        <defs>
          <clipPath id="clip-path">
            <path id="Path_758" data-name="Path 758" d="M0,10.352H16V0H0Z" transform="translate(0 0)" fill="#ff7000"/>
          </clipPath>
        </defs>
        <g id="Group_3091" data-name="Group 3091" transform="translate(0 10.352) rotate(-90)">
          <g id="Group_305" data-name="Group 305" transform="translate(0 16) rotate(-90)" clip-path="url(#clip-path)">
            <g id="Group_304" data-name="Group 304" transform="translate(0 0)">
              <path id="Path_757" data-name="Path 757" d="M.183,1.549l7.075,8.482a.847.847,0,0,0,.724.322h.08a.847.847,0,0,0,.724-.322L15.82,1.549A.981.981,0,0,0,16,.906a.678.678,0,0,0-.342-.563L15.418.183A1.143,1.143,0,0,0,14.734,0a.786.786,0,0,0-.6.342L8.021,7.579,1.911.344A.786.786,0,0,0,1.308,0,1.143,1.143,0,0,0,.625.183L.344.344A.678.678,0,0,0,0,.906a.981.981,0,0,0,.181.643" transform="translate(0 0)" fill="#ff7000"/>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="list-of-items" *ngIf="isOpen"  
  [ngStyle]="{
    'border-bottom': border1,
    'border-right': border1,
    'border-left': border1,
    'border-top': border2,
    'border-radius': toggle ?'0px 0px 4px 4px': '4px 4px 0px 0px'}"
     class="orange-scroll"
     [ngClass]="{'orange-scroll-permit':isPermitDialog}"
     >
    <div *ngIf="!isPermitDialog" class="item-send" (click)="sendEmail()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22.04" height="23" viewBox="0 0 22.04 23">
        <path id="send"
              d="M16.431,0,0,9.961l5.37,2.3L13.4,3.95,7.352,13.105l.005,0-.006,0,.11,5.063,2.9-3.775,3.815,1.631Z"
              transform="matrix(0.927, 0.375, -0.375, 0.927, 6.806, 0)"
              [fill]="orange"
              />
      </svg>
    </div>
    <div class="item" *ngFor="let item of items; let i=index;" (click)="toggleItem(item)">
      <div class="item-contact" style="color:black">{{item.contact}}</div>
      <div class="item-checkbox">
        <input
          type="checkbox"
          class="form-check-input checkbox-input checkbox-round" 
          [checked]="listOfChecked.includes(item)"
        />
      </div>
    </div>
  </div>
</div>



