<mat-dialog-content class="edit-new-bill-payment-mat-dialog" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="dialog-wrapper">
        <div class="dialog-title">
            {{ "Betalningsplan" | translate }}
        </div>
        <div class="close-dialog" (click)="onClose()">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 25 25">
                <defs>
                <clipPath id="clip-path">
                    <path id="Path_782" data-name="Path 782" d="M0,9.757H25v-25H0Z" transform="translate(0 15.243)" fill="none"/>
                </clipPath>
                </defs>
                <g id="Stäng_Close_" data-name="Stäng (Close)" transform="translate(0 0)">
                <g id="Group_6898" data-name="Group 6898">
                    <g id="Group_341" data-name="Group 341" clip-path="url(#clip-path)">
                    <g id="Group_340" data-name="Group 340" transform="translate(0 0.001)">
                        <path id="Path_781" data-name="Path 781" d="M4.878,9.114A10.752,10.752,0,0,1-5.878-1.723,10.752,10.752,0,0,1,4.878-12.561,10.752,10.752,0,0,1,15.634-1.723,10.752,10.752,0,0,1,4.878,9.114m0,1.647a12.534,12.534,0,0,0,12.5-12.5,12.533,12.533,0,0,0-12.5-12.5,12.533,12.533,0,0,0-12.5,12.5,12.534,12.534,0,0,0,12.5,12.5" transform="translate(7.621 14.239)" fill="#b8b8b8"/>
                    </g>
                    </g>
                    <path id="Path_783" data-name="Path 783" d="M1.478,1.782l-5.1,5.108,1.057,1.069L2.548,2.851,7.661,7.959,8.718,6.89,3.606,1.782,8.718-3.313,7.648-4.369,2.548.726-2.565-4.382-3.622-3.313Z" transform="translate(9.952 10.712)" fill="#b8b8b8"/>
                </g>
                </g>
            </svg>
        </div>
        <div class="table-dialog">
            <div class="table-header">
                <div class="header-item">Avstämning</div>
                <div class="header-item">Fakturadag</div>
                <div class="header-item">Belopp</div>
                <div class="header-item">Innestående</div>
                <div class="header-item">
                    <input type="checkbox" [checked]="allChecked" class="checkbox-round-all" (click)="onCheckAllItems($event)" [disabled]="(final_invoice != 0 || (from_component == 'edit' && data.length == 0)) ? true : null">
                </div>
            </div>
            <div class="table-body">
            <ng-container *ngFor="let item of data; let i = index">
                <div class="table-row" *ngIf="item.description != 'Final invoice'">
                    <div class="table-item">{{ item.description }}</div>
                    <div class="table-item">{{ item.date }}</div>
                    <div class="table-item">{{ item.total | number: "1.2-2":"fr" }}</div>
                    <div class="table-item">{{ item.sumOfArrears | number: "1.2-2":"fr" }}</div>
                    <div class="table-item">
                        <input
                        type="checkbox"
                        [checked]="item.checked || item.check"
                        class="checkbox-round"
                        (click)="onCheckItem(item, i)"
                        [disabled]="disableIfPreviousUnchecked(i)"
                        >
                    </div>
                </div>
            </ng-container>
                <div class="table-row table-row-color">
                    <div class="table-item black-color">{{ 'Final invoice' | translate }}</div>
                    <div class="table-item black-color">{{ due_date }}</div>
                    <div class="table-item black-color">{{ total_of_final_invoices | number: "1.2-2":"fr" }}</div>
                    <div class="table-item black-color">{{ '0, 00' }}</div>
                    <div class="table-item black-color">
                        <input
                        type="checkbox"
                        class="checkbox-round"
                        [disabled]="(!all_invoiced_total_of_final_invoices || (from_component == 'edit' && data.length == 0)) ? true : null"
                        (change)="checkValue($event)"
                        [checked]="isChecked"
                        >
                    </div>
                </div>
            </div>
        </div>

        <div
        class="btn-wrapper-payment"
        (click)="onSave()"
        [ngClass]="{'btn-wrapper-green': addGreenBorder}"
        >
            <div>
                <svg *ngIf="!addGreenBorder" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25.456" height="25.456" viewBox="0 0 25.456 25.456">
                    <defs>
                    <clipPath id="clip-path">
                        <path id="Path_736" data-name="Path 736" d="M0,11.951H18v-18H0Z" transform="translate(0 6.049)" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="X_icon" data-name="X icon" transform="translate(12.728) rotate(45)">
                    <g id="Group_291" data-name="Group 291" clip-path="url(#clip-path)">
                        <g id="Group_289" data-name="Group 289" transform="translate(-0.001 0.002)">
                        <path id="Path_734" data-name="Path 734" d="M11.951,5.975a9,9,0,1,1-9-9,9,9,0,0,1,9,9" transform="translate(6.049 3.024)" fill="#858585"/>
                        </g>
                        <g id="Group_290" data-name="Group 290" transform="translate(3.727 3.742)">
                        <path id="Path_735" data-name="Path 735" d="M6.822,5.921,3.135,2.234l3.693-3.7a.708.708,0,0,0,.006-1.039l-.265-.265a.708.708,0,0,0-1.065.06L1.843.943-1.885-2.774a.721.721,0,0,0-1.059.018l-.277.274a.721.721,0,0,0,.036,1.089L.5,2.288S-3.07,5.877-3.192,6A.708.708,0,0,0-3.2,7.034l.265.265a.708.708,0,0,0,1.065-.06L1.79,3.579,5.521,7.3a.722.722,0,0,0,1.062-.018L6.86,7.01a.719.719,0,0,0-.039-1.089" transform="translate(3.453 2.997)" fill="#373b40"/>
                        </g>
                    </g>
                    </g>
                </svg>

                <svg *ngIf="addGreenBorder" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25.456" height="25.456" viewBox="0 0 25.456 25.456">
                    <defs>
                    <clipPath id="clip-path">
                        <path id="Path_736" data-name="Path 736" d="M0,11.951H18v-18H0Z" transform="translate(0 6.049)" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="X_icon" data-name="X icon" transform="translate(12.728) rotate(45)">
                    <g id="Group_291" data-name="Group 291" clip-path="url(#clip-path)">
                        <g id="Group_289" data-name="Group 289" transform="translate(-0.001 0.002)">
                        <path id="Path_734" data-name="Path 734" d="M11.951,5.975a9,9,0,1,1-9-9,9,9,0,0,1,9,9" transform="translate(6.049 3.024)" fill="#4cb185"/>
                        </g>
                        <g id="Group_290" data-name="Group 290" transform="translate(3.727 3.742)">
                        <path id="Path_735" data-name="Path 735" d="M6.822,5.921,3.135,2.234l3.693-3.7a.708.708,0,0,0,.006-1.039l-.265-.265a.708.708,0,0,0-1.065.06L1.843.943-1.885-2.774a.721.721,0,0,0-1.059.018l-.277.274a.721.721,0,0,0,.036,1.089L.5,2.288S-3.07,5.877-3.192,6A.708.708,0,0,0-3.2,7.034l.265.265a.708.708,0,0,0,1.065-.06L1.79,3.579,5.521,7.3a.722.722,0,0,0,1.062-.018L6.86,7.01a.719.719,0,0,0-.039-1.089" transform="translate(3.453 2.997)" fill="#373b40"/>
                        </g>
                    </g>
                    </g>
                </svg>
            </div>
            <div>{{ "LÄGG TILL" | translate }}</div>
        </div>
    </div>
</mat-dialog-content>