
    .mat-dialog-permit-dialog {
        width: 820px !important;
        overflow: hidden;
        max-height: 90vh !important;
    }

    .education-dialog-container{
        margin:0px;
        padding: 0px;
        width:780px;
        height: auto;
        color:var(--text-color);
        background: black;
        border-radius: 10px;
        border:5px solid #82a7e2;
        overflow: hidden;
    }

    .header{
        display: flex;
    }

.header-education{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #82a7e2;
    border-radius:0 0 10px 0;
    font-size: 18px;
    flex:0.7;
}

.header-x{
    flex:1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
  }


.svg-container {
    margin: 7px 0 0 7px;
    top: 20px;
    right: 25px;
    border: 2px solid #707070;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  .header-name{
    padding-left: 15px;
    font-family: "PT-Sans-Pro-Regular";
    font-size: 20px;
    color: #ffd8b1;
    text-decoration: underline;
    text-decoration-color: #f77e04;
    text-underline-offset: 5px;
    flex:1;
  }

.send-dialog-wrapper{
    margin:15px 25px ;
    width: 730px;
    height: auto;
    border: 2px solid #858585;
    border-radius: 10px;
    background-color: #373b40;
    display: flex;
}
   .form-container{
    margin:20px 0 ;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
   }

   .row{
    display: flex;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }

  .names{
    width: 70px;
    display: flex;
    padding-right: 10px;
    justify-content: right;
    align-items: center;
    font-size: 12px;
  }

  .names-2{
    padding-top: 10px;
    width: 70px;
    display: flex;
    padding-right: 5px;
    justify-content: right;
    align-items: start;
    font-size: 12px;
  }

  .folder-wrapper {
    height: auto;
    min-height: 40px;
    width: 380px;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    border: 2px solid #707070;
  }

.folder-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.folder-container {
  color: black;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

.folder-svg {
  margin-right: 10px;
}

input {
    width: 380px;
    height: 33px;
    border-radius: 5px;
    padding-left: 5px;
  }

  textarea {
    width: 380px;
    height: 33px;
    border-radius: 5px;
    padding-left: 5px;
  }

.email-input-container{
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px solid #767676;
    height: auto;
    width: 380px;
    flex-wrap: wrap;
    border-radius: 5px;
  }
  .email-container{
   margin:2px;
   padding: 0px;
   height: 25px;
   color:red;
   font-size: 14px;
   border: 1px solid #ff7000;
   background-color: antiquewhite;
   padding:0 1px;
   border-radius: 5px;
   display: flex;
  }

  .email-container p{
    color:black;
  }
  .x-email{
    margin: 0 5px;
    cursor: pointer;
  }

  .email-input{
    margin:0px;
    padding: 0px;
    width: auto;
    flex-grow: 1;
  }

  .email-input input{
    width:100%;
    margin:0px;
    padding: 0 0 0 5px;
    height: 27px;
    border: none;
    outline: none;
  }

  .email-input-container:focus-within{
    border: 2px solid #ff7000;
  }

  .dropdown-send-container{
    padding: 10px 0 0 3px;
    width:230px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .dropdown-container{
    flex: 5;
    width: 250px;
  }


 .button-container{
   flex: 1;
   display: flex;
   justify-content: right;
  }


  .orange-btn {
    width: 100px;
    height: 30px;
    display: flex;
    border: 2px solid #858585;
    border-radius: 4px;
    color: #858585;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }

  .orange-btn:hover {
    border: 2px solid #ff7000;
    color: #ff7000;
  }
   .orange-btn svg path{
    fill:#858585;
  }

  .orange-btn:hover svg path{
    fill:#ff7000;
  }

input:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--orange-dark);
}
.table-container{
  display: flex;
  flex-direction: column;
}

.table-heading{
  display: flex;
  margin:10px 0 5px 0;
}

.num{
  padding-right: 5px;
}

.desc{
 flex:3;
 margin-left: 70px;
}
.exp{
  flex:1;
  margin-left: 10px;
}
.app{
  flex:5;
  margin-left: 20px;
}

.table-data{
  display: flex;
  flex-direction: column;
  width: 770px;
}



/* css education */
.ed-input-container {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.ed-input-form {
  width: 100%;
  text-align: center;
}

.ed-input {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.ed-add-button {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.error-cont {
  margin-top: 1rem;
  color: red;
}

.fetch-error {
  color: red;
  text-align: center;
  width: 100%;
}

.fetch-error > span {
  cursor: pointer;
}

.education-checkbox {
  margin: 0.5rem;
}

.username {
  cursor: default;
  margin-left: 2rem;
}

.education-container > div {
  border-radius: 5px;
}

.education-container > div {
  padding: 2rem;
  border-radius: 5px;
  background-color: white;
}

.button-container-center {
  text-align: center;
}

.button-container-end {
  text-align: end;
}

.width100 {
  width: 100px;
}

.width125 {
  width: 125px;
}

.width250 {
  width: 250px;
}

.progress-loader {
  position: fixed;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.first-td {
  display: flex;
  align-items: center;
  margin-left: 15px;
  justify-content: space-between;
  user-select: none;
}
.desc-div {
  height: 73px;
  width: 218px;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  margin-right: 1px;
  border: 1px solid #858585;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.expires-div {
  margin:0 3px 0 2px;
  width: 100px;
  height: 73px;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  border: 1px solid #858585;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.appendices-div {
  width: 360px;
  border-radius: 5px;
  height: 73px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  border: 1px solid #858585;
  justify-content: space-between;
  user-select: none;
}

.send-btn-container {
  height: 30px;
  width: 275px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.send-btn-container:hover {
  border: 1px solid var(--orange-dark);
  color: var(--orange-dark);
}

.send-btn-container:hover svg path {
  fill: var(--orange-dark);
}

.lower-btn-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 46px;
}

.send-form-wrapper {
  width: 920px;
  height: 325px;
  border-radius: 5px;
  margin-left: 61px;
  margin-top: 35px;
  background-color: #B8B8B8;
  border: 2px solid #707070;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send-form-wrapper .send-form {
  width: 543px;
  height: 270px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.send-form-wrapper .btns-wrapper {
  width: 275px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.send-form .labels {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: end;
}

.send-form .inputs {
  display: flex;
  flex-direction: column;
}

.send-form .inputs input {
  width: 437px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #707070;
  background-color: white;

  padding: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.send-form .inputs input:focus {
  outline: none !important;
  border: 2px solid var(--orange-dark);
}

.appendix {
  width: 437px;
  height: 100px;
  background-color: white;
  margin-top: 30px;
  border: 1px solid #707070;
  border-radius: 5px;
  overflow-x: hidden;
}

.send-btn-black {
  width: 275px;
  height: 35px;
  display: flex;
  border: 1px solid var(--orange-dark);
  background-color: black;
  color: var(--orange-dark);
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
}

.send-btn-orange {
  background-color: var(--orange-dark);
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 38px;
  cursor: pointer;
}

.selected-documents {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.document-svg {
  margin-left: 25px;
  margin-right: 15px;
}

.send-btn-wrapper {
  background-color: black;
  height: 65px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: end;
}

.orange-send-btn {
  width: 275px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  justify-content: space-between;
  user-select: none;
  margin-right: 25px;
}

.orange-send-btn svg {
  pointer-events: none;
}

.on-hover-orange-btn:hover {
  color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
  cursor: pointer;
}

.on-hover-orange-btn:hover svg path {
  fill: var(--orange-dark);
}

tr td:first-child + td {
  padding-left:0px;
}
tr td:first-child {
  padding-right:0px;
}
.three-dots-clicked{
  border-radius: 5px 5px 5px 0px;
}

.dialog-container{
  margin-top: -35px;
  margin-left: 80px;
  padding-bottom: 100px;
}

.checkbox-round {
  margin: -10px;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #373b40;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:disabled {
  border: 2px solid var(--home-title-color);
}

.checkbox-round:disabled {
  border: 2px solid var(--home-title-color);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.checkbox-round:checked {
  border:none;
  background-color: #ff7000;

  padding: 4px;
}
/* content: url('/assets/img/checkbox-icon.svg'); */

.checkbox-round {
  width: 22px !important;
  height: 22px !important;
}

svg {
  pointer-events: none;
}

.checkbox-input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 10px;
  padding: 1px;
}

.checkbox-input[type="checkbox"]:checked:after {
  content: "";
  width: 6px;
  height: 11px;
  border: solid white;
  background-color: #ff7000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 8px;
}

.form-check-input {
  height: 22px;
  width: 2px;
  cursor: pointer;
}
.content-wrapp{
  display: flex;
}

.orange-scroll{
  max-height: 390px;
  overflow: scroll;
  overflow-x: hidden;
  border-top: 0px;
  width:760px;
  position: relative;
  border-radius: 0px 0px 4px 4px;
  z-index: 3;
}

.folder-scroll{
  max-height: 60px;
  width:350px;
}

.orange-scroll::-webkit-scrollbar {
  width: 10px;
  }

  .orange-scroll::-webkit-scrollbar-thumb {
  opacity: 0.5;
  background-color: var(--border-color);
  border-width: 4px;
  border-radius: 10px !important;
  }

  .orange-scroll::-webkit-scrollbar-track {
  background: black;
  }

  /*Za FireFox preglednik*/
  .orange-scroll {
  scrollbar-width: thin;
  scrollbar-color: black #f1f1f1;
  }

  .orange-scroll::-moz-scrollbar {
  width: 10px;
  }

  .orange-scroll::-moz-scrollbar-thumb {
  background-color: var(--border-color);
  border-width: 4px;
  border-radius: 10px !important;
  }

  .orange-scroll::-moz-scrollbar-track {
  background: #f1f1f1;
  }
  /*Za FireFox preglednik*/

  /* Definiraj boju strelica */
  ::-webkit-scrollbar-button:vertical:before {
  content: "";
  height: 50%;
  width: 50%;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  transform: translate(25%, 25%) rotate(-45deg);
  }

  ::-webkit-scrollbar-button:vertical:after {
  content: "";
  height: 50%;
  width: 50%;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: translate(25%, -25%) rotate(45deg);
  }

  .border-on-scroll{
    position: absolute;
    bottom: 0;
    right: -14px;
    height: 2px;
    background-color: var(--orange-dark);
    width: 13px;
    border-radius: 4px 4px 0px 0px;
  }
