.c-card {
  margin: 10px;
  padding: 10px;
}

.btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.opacity20percent {
  opacity: 0.2;
}
.progress-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
