.name-of-multselect{
  height: 35px;
  width: 175px;
  padding: 6px 5px 0px 10px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
 /* justify-content: space-between;*/
  position: relative;
}

.check-button-wrapp {
  width: 25px;
  height: 25px;
  position: relative;
}

.check-button-wrapp-one{
  width: 20px;
  height: 20px;
  position: relative;
}

input.check {
  width: 100%;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.dropdown-scroll{
  max-height: 195px;
  overflow: scroll;
  overflow-x: hidden;
  border: 2px solid var(--orange-dark);
  border-top: 0px;
  width: calc(100% + 16px);
  position: relative;
  border-radius: 0px 0px 4px 4px;
}

.border-on-scroll{
  position: absolute;
  bottom: 0;
  right: -18px;
  height: 2px;
  background-color: var(--orange-dark);
  width: 17px;
  border-radius: 4px 4px 0px 0px;
}

.users-list{
  height: 30px;
  background-color: white;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 3px 9px 5px 9px;
  cursor: pointer;
}

.users-list:hover{
  color: var(--orange-dark);
}

.line-scroll{
  position: absolute;
  right: 1px;
  top: 0px;
  bottom: 3px;
  width: 1px;
  background-color: var(--border-color);
}

.counter{
position: absolute;
margin-left: 201px;
margin-right: 2px;
}

.arrow{
position: absolute;
margin-left: 140px;
cursor: pointer;
}

.refname{
position: absolute;
display: inline-block;
width: 120px;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
}

.users{
display: inline-block;
width: 200px;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
}

.shadow{
  box-shadow: 0 5px 4px 1.5px var(--border-color), 0px 0px 0px 0px var(--border-color) !important;
  z-index: 1;
  width: 170px;
  margin-left: 2px;
  height: 0px;
  background-color: white;
  padding-top: 0px;
  margin-top: -3px;
  position: absolute;
}

.search{
  border: none;
  padding-bottom: 5px;
  color: var(--orange-dark);
  margin-left: -3px;
}

textarea:focus, input:focus{
  outline: none;
}

input::placeholder {
  color: var(--orange-dark);
}

