.form-box {
    padding: 18px;
    position: relative;
}

#name {
    font-size: 22px;
    cursor: default;
}

.input-group-2 {
    margin-bottom: 10px;
}

.input-title {
    padding: 8px;
    cursor: default;
}

.input {
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--border-color);
    padding: 5px 15px 5px 15px;
}

#inputs {
    padding: 0px 22px 0px 22px;
}

.double-input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.double-input-group input {
    width: 277px;
}

#spara-btn {
    border: none;
    background-color: #E37831;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#inputs-footer {
    display: flex;
    justify-content: space-between;
}

#inputs-footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error {
    font-size: 0.8rem;
    color: var(--orange-dark);
    padding: 5px;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.close {
    cursor: pointer;
}

.spinner-container-absolute {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}