<ng-container *ngIf="size == 'large'">
  <svg id="Group_4350" data-name="Group 4350" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  width="34.367" height="32.218" viewBox="0 0 34.367 32.218">
    <defs>
      <clipPath id="clip-path">
        <rect id="Rectangle_15820" data-name="Rectangle 15820" width="34.367" height="32.218" fill="none"/>
      </clipPath>
    </defs> 
    <rect class="path path-hover" id="Rectangle_15818" data-name="Rectangle 15818" width="13.524" height="1.566" transform="translate(10.377 12.128)" [ngStyle]="iconStyle"/>
    <rect class="path path-hover" id="Rectangle_15819" data-name="Rectangle 15819" width="13.524" height="1.566" transform="translate(10.377 8.243)" [ngStyle]="iconStyle"/>
    <g id="Group_4349" data-name="Group 4349" transform="translate(0 0)">
      <g id="Group_4348" data-name="Group 4348" clip-path="url(#clip-path)">
        <path class="path path-hover" id="Path_1818" data-name="Path 1818" d="M34.367,1.736A1.732,1.732,0,0,0,32.639,0H1.727A1.731,1.731,0,0,0,0,1.736V16.482H6.527v1.3L19.889,31.218h7.885V16.566h6.593ZM3.356,6.757H6.528v6.887H3.356ZM19.324,27.9l-9.5-9.551h9.5Zm1.932,1.374V16.41H8.459V6.757H25.842V29.276Zm9.756-15.549H27.774V6.756h3.238Z" transform="translate(0 0)"
        [ngStyle]="iconStyle"/>
      </g>
    </g>
  </svg>
</ng-container>
 
<ng-container *ngIf="size == 'small'">
  <svg id="Group_4350" data-name="Group 4350" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="14.062" viewBox="0 0 15 14.062">
    <defs>
      <clipPath id="clip-path">
        <path id="Rectangle_15820" data-name="Rectangle 15820" width="34.367" height="32.218" fill="none" d="M0 0H15V14.062H0V0z"/>
      </clipPath>
    </defs>
    <path class="path path-hover" id="Rectangle_15818" data-name="Rectangle 15818" width="13.524" height="1.566" transform="translate(10.377 12.128)" [ngStyle]="iconStyle" d="M0 0H5.903V0.684H0V0z"/>
    <path class="path path-hover" id="Rectangle_15819" data-name="Rectangle 15819" width="13.524" height="1.566" transform="translate(10.377 8.243)" [ngStyle]="iconStyle" d="M0 0H5.903V0.684H0V0z"/>
    <g id="Group_4349" data-name="Group 4349" transform="translate(0 0)">
      <g id="Group_4348" data-name="Group 4348" clip-path="url(#clip-path)">
        <path class="path path-hover" id="Path_1818" data-name="Path 1818" d="M15 0.758A0.756 0.756 0 0 0 14.246 0H0.754A0.756 0.756 0 0 0 0 0.758V7.194H2.849v0.567L8.681 13.626h3.442V7.23h2.878ZM1.465 2.949H2.849v3.006H1.465ZM8.434 12.177l-4.146 -4.169h4.146Zm0.843 0.6V7.162H3.692V2.949H11.279V12.778Zm4.258 -6.787H12.122V2.949h1.413Z" transform="translate(0 0)" [ngStyle]="iconStyle"/>
      </g>
    </g>
  </svg>
</ng-container>
