<div class="buttons" *ngIf="!loading && userDetails.create_settings_Global">
  <button (click)="openNewActivityModal()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="add-icon"
      width="20"
      viewBox="0 0 19 19"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
        clip-rule="evenodd"
      />
    </svg>
    <p>{{ "New activity" | translate | uppercase }}</p>
  </button>
</div>

<div class="plan-container blu-scroll" *ngIf="!loading"
       [ngClass]="{'plan-container-no-button':!userDetails.create_settings_Global}"
  >
  <div class="list-head">
    <div>
      <p>{{ "Number" | translate }}</p>
    </div>
    <div>
      <p>{{ "Description" | translate }}</p>
    </div>
    <div>
      <p>{{ "Status" | translate }}</p>
    </div>
    <div>
      <p>{{ "Edit" | translate }}</p>
    </div>
    <div>
      <p>{{ "Remove" | translate }}</p>
    </div>
    <div></div>
  </div>

  <app-settings-activity-plan-list
    (openEdModal)="editActivity($event)"
    (deleteActivity)="removeActivity($event)"
    [activities]="activities"
    [level]="level"
  ></app-settings-activity-plan-list>
</div>
<div class="thin-red-line-bottom"></div>
<mat-spinner class="spinner" *ngIf="loading || editingData"></mat-spinner>
