<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110" height="110" viewBox="0 0 110 110">
  <defs>
    <filter id="Rectangle_582" x="0" y="0" width="110" height="110" filterUnits="userSpaceOnUse">
      <feOffset dy="1" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="15" result="blur"/>
      <feFlood flood-color="#bebebe"/>
      <feComposite operator="in" in2="blur"/> 
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Group_3104" data-name="Group 3104" transform="translate(-251.207 -634)">
    <g transform="matrix(1, 0, 0, 1, 251.21, 634)" filter="url(#Rectangle_582)">
      <rect id="Rectangle_582-2" data-name="Rectangle 582" width="20" height="20" rx="10" transform="translate(45 44)" fill="#1f9e67" opacity="0.75"/>
    </g>
    <g id="tick" transform="translate(301 683.789)">
      <g id="Group_655" data-name="Group 655" transform="translate(0)">
        <path id="Path_190" data-name="Path 190" d="M10.262,68.165a.488.488,0,0,0-.736,0l-6.239,6.87-2.4-2.641a.488.488,0,0,0-.736,0,.615.615,0,0,0,0,.811l2.766,3.046a.488.488,0,0,0,.736,0l6.607-7.276A.615.615,0,0,0,10.262,68.165Z" transform="translate(0 -67.997)" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
