<div class="control-section">
  <div class="col-lg-12 content-wrapper calendar-content-wrapper">
    <!-- <div class="resource-custom">
            <div class="resource-custom-item" *ngFor="let user of users" (click)="goToUserDetails(user.id)"></div>
        </div>  -->
    <ejs-schedule
      #scheduleObj
      width="100%"
      cssClass="timeline-resource-grouping"
      height="650px"
      [selectedDate]="currentDate"
      [group]="group"
      [eventSettings]="eventSettings"
      timezone="UTC"
      (actionBegin)="onActionBegin($event)"
      (dataBound)="onDataBound()"
      [readonly]="readonly"
      locale="sv"
      [showWeekNumber]="showWeekNumber"
      timezone="UTC"
      (popupOpen)="onPopupOpen($event)"
    >
      <e-resources>
        <!-- <e-resource field='ProjectId' title='Choose Project' [dataSource]='projectDataSource' [allowMultiple]='allowMultiple' name='Projects' textField='text' idField='id' colorField='color'>
                </e-resource>-->
        <e-resource
          field="TaskId"
          title="Category"
          #resourceObj
          [dataSource]="categoryDataSource"
          [allowMultiple]="allowMultiple"
          name="Categories"
          textField="text"
          idField="id"
          groupIDField="groupId"
          colorField="color"
        >
        </e-resource>
      </e-resources>
      <e-views>
        <e-view option="TimelineMonth" [showWeekend]="showWeekend">
          <ng-template #eventTemplate let-data>
            <div
              class="template-wrap absence-{{ data.AbsenceId }}"
              [ngStyle]="{
                'background-color': data.Color,
                width: '100%',
                filter: 'opacity(' + (data.Approved == 1 ? '1' : '0.5') + ')'
              }"
            >
              <div class="subject">
                <span
                  ><b>{{ data.ProjectName }}</b></span
                ><br />
                <span
                  ><i
                    *ngIf="!data.AbsenceId"
                    class="material-icons calendar-icon"
                    >access_time</i
                  >
                  {{ data.Subject }} haha</span
                ><br />
                <span
                  ><i
                    *ngIf="!data.AbsenceId"
                    class="material-icons calendar-icon"
                    >directions_car</i
                  >
                  {{ data.Mileage }} haha</span
                >
              </div>
            </div>
          </ng-template>
        </e-view>
        <!-- <e-view option='Month' [showWeekend]="showWeekend">
                    <ng-template #eventTemplate let-data>
                        <div class="template-wrap" [ngStyle]="{'background-color': 'data.Color', 'width': '100%'}">
                            <div class="subject">
                                <span><b>{{data.ProjectName}}</b></span><br>
                                <span><i *ngIf="!data.AbsenceId" class="material-icons calendar-icon">access_time</i> {{data.Subject}}</span><br>
                                <span><i *ngIf="!data.AbsenceId"class="material-icons calendar-icon">directions_car</i>  {{data.Mileage}}</span>
                            </div>
                        </div>
                    </ng-template>
                </e-view> -->
        <!-- <e-view option="TimelineMonth"></e-view> -->
      </e-views>
    </ejs-schedule>
  </div>
</div>
