/* .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 */
.container
{
  background-color: #373B40;
}
.text-forget
{
  font-size: 20px;
  font-family: 'PT Sans Pro';
  color: #82A7E2;
  padding-left: 4px;
  padding-top: 10px;
}
.text-email
{
  font-size: 11px;
  color: white;
  font-family: 'PT Sans Regular';
}
.just-left
{
  justify-content:left!important;
}
.submit-btn
{
  width: 71px;
  font-size: 15px;
  font-family: 'PT Sans Regular';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 28.5px;
  height: 30px;
  background-color: transparent;
  color: var(--border-color);
  border-color: var(--border-color);
  border-radius: 6px;

}
#submitButton:hover
{
  background-color: transparent !important;
  border-color: #FF7000 !important;
  color: #FF7000 !important;
}
.svg-postion
{
  float: right;
    position: relative;
    bottom: 27px;
}
