<div class="three-dots-wrapper" [ngClass]="{ 'three-dots-wrapper-clicked': isOpen || (isEditing && indexOfItem == whichIndexCanYouEdit)}"  *ngIf="item">
  <div (click)="toggleThreeDots()" style="width:30px; height: 30px;">
  <svg xmlns="http://www.w3.org/2000/svg" width="4.111" height="16.359" viewBox="0 0 4.111 16.359">
    <g id="Group_6423" data-name="Group 6423" transform="translate(35.611 -9.439) rotate(90)">
      <ellipse  id="Ellipse_655" data-name="Ellipse 655" cx="2.078" cy="2.055" rx="2.078" ry="2.055" transform="translate(21.641 31.5)" fill="#373b40"/>
      <ellipse  id="Ellipse_656" data-name="Ellipse 656" cx="2.078" cy="2.055" rx="2.078" ry="2.055" transform="translate(15.579 31.5)" fill="#373b40"/>
      <ellipse  id="Ellipse_657" data-name="Ellipse 657" cx="1.965" cy="1.942" rx="1.965" ry="1.942" transform="translate(9.439 31.613)" fill="#373b40"/>
    </g>
  </svg>
</div>
  <div class="option-modal-wrapper" *ngIf="isOpen || (isEditing && indexOfItem == whichIndexCanYouEdit) ">
    <div class="box-option">
      <div class="options-btns-wrapper"> 
          <div class="redigera-btn" (click)="onEdit()">{{"EDIT" | translate}}</div>
          <div class="radera-btn" (click)="onDelete()">{{"DELETE" | translate}}</div>
          <div class="spara-btn" (click)="onSave()">{{"SAVE" | translate}}</div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="three-dots-wrapper" (click)="toggleThreeDots()" *ngIf="item">
  <svg xmlns="http://www.w3.org/2000/svg" width="4.111" height="16.359" viewBox="0 0 4.111 16.359">
    <g id="Group_6423" data-name="Group 6423" transform="translate(35.611 -9.439) rotate(90)">
      <ellipse id="Ellipse_655" data-name="Ellipse 655" cx="2.078" cy="2.055" rx="2.078" ry="2.055" transform="translate(21.641 31.5)" fill="#373b40"/>
      <ellipse id="Ellipse_656" data-name="Ellipse 656" cx="2.078" cy="2.055" rx="2.078" ry="2.055" transform="translate(15.579 31.5)" fill="#373b40"/>
      <ellipse id="Ellipse_657" data-name="Ellipse 657" cx="1.965" cy="1.942" rx="1.965" ry="1.942" transform="translate(9.439 31.613)" fill="#373b40"/>
    </g>
  </svg>

  <div class="option-modal-wrapper" *ngIf="isOpen || isEditing">
    <div class="box-option box-option-sb">
      <div class="options-btns-wrapper">
        <div class="redigera-radera-btns">
          <div class="redigera-btn" (click)="onEdit()">{{"EDIT" | translate}}</div>
          <div class="radera-btn" (click)="onDelete()">{{"DELETE" | translate}}</div>
        </div>
        <div class="spara-btn" (click)="onSave()">{{"SAVE" | translate}}</div>
      </div>
    </div>
  </div>

</div> -->

