<div style="background-color: black; width: 100%; max-width: 1041px;">
  <table *ngIf="educations.length && !fetchError">
    <thead>
      <tr>
        <th></th>
        <th>{{ "Description" | translate }}</th>
        <th>{{ "Expires" | translate }}</th>
        <th>{{ "Appendices"  | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let education of educations; let i=index;" class="table-row">
        <td>
          <div class="first-td">
            <div>{{ educations.length - i }}</div>
            <ng-container *ngIf="userDetails.create_users_Contactdetails">
              <app-three-dots
                [education]="education"
                (toggleEducationId)="deleteEducation($event, i)"
                (toggleEducationEdit)="toggleOnEdit($event, i)"
                (IsOpen)="clickedThreeDots($event,i)"
              >
              </app-three-dots>
            </ng-container>
          </div>
        </td>
        <td>
          <div class="desc-div"
          [ngClass]="{'three-dots-clicked':toggleClicked && clickedRow == i }"
          [ngStyle]="
            {'border': educations[i].isChecked || toggleClicked && clickedRow == i  ? '3px solid #FF7000' : '1px solid #858585',
             'background-color': educations[i].isChecked ? '#FFE6CC' : 'white'}">
            {{ education.name }}
          </div>
        </td>

        <td>
          <div class="expires-div"
            [ngStyle]="
              {'border': educations[i].isChecked || toggleClicked && clickedRow == i ? '3px solid #FF7000' : '1px solid #858585',
              'background-color': educations[i].isChecked ? '#FFE6CC' : 'white'}">
            {{education.expires}}
          </div>
        </td>

        <td>
          <div class="appendices-div"
          [ngStyle]="{'border': educations[i].isChecked || toggleClicked && clickedRow == i ? '3px solid #FF7000' : '1px solid #858585',
          'background-color': educations[i].isChecked ? '#FFE6CC' : 'white'}">
            <div style="
              margin-left: 40px;
              margin-top: 1rem;
            "
             class="content-wrapp"
            >
              <ng-container
              *ngIf="education.images.length"
            >
              <app-file-preview
                *ngFor="let image of education.images; let index = index"
                type="image"
                [file]="image"
                [index]="index"
                [active]="index"
                (openSwiper)="openSwiper(index, education.images, 1)"
                [canRemove]="false"
                (removeFile)="toggleRemoveFile(education, image)"
              ></app-file-preview>
            </ng-container>

            <ng-container *ngIf="education.pdfs.length">
              <app-pdfjs-preview
                style="cursor:pointer; margin-left: 5px;"
                *ngFor="let pdf of education.pdfs; let index = index"
                type="pdf"
                (click)="openSwiper(index, education.pdfs, 1)"
                [pdfUrls]="[pdf['file_path']]"
                [deleted]=""
                [canRemove]="false"
                (removeFile)="toggleRemoveFile(education, pdf)"
                [index]="index"
                [active]="index"
                [width]="68"
                [height]="43"
                [borderRadius]="'0px 0px 0px 0px'"
                [folder]="true"
                >
              </app-pdfjs-preview>
            </ng-container>

            </div>
            <div style="
              margin-right: 25px;
            "
            >
              <input
                type="checkbox"
                class="checkbox-round checkbox-input form-check-input"
                [checked]="educations[i].isChecked"
                (click)="toggleRow($event, education.name, i)"
                [disabled]="!userDetails.show_users_Sendcompetence"
              />
              <!-- <input
              type="checkbox"
              [ngStyle]="{'background-color': educations[i].isChecked ? '#ff7000' : 'white',
              'border': educations[i].isChecked ? 'none': '' }"
              class="checkbox-round"
              [checked]="educations[i].isChecked"
              (click)="toggleRow($event, education.name, i)"
            /> -->
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Ovo je tipka ispod  -->

  <!--  *ngIf="!whichNumber.length" -->
  <div *ngIf="educations?.length>0" class="send-btn-wrapper" #dropdownBtn id="send-btn">
    <!-- <div [ngClass]="whichNumber.length > 0 ? 'orange-send-btn on-hover-orange-btn' : 'orange-send-btn'" (click)="toggleWhiteSend()"> -->
  <div
  [ngClass]="whichNumber.length > 0 ? 'orange-send-btn on-hover-orange-btn' : 'orange-send-btn'"
    (click)="toggleDropdown()"
    *ngIf="!dropdownIsOpen && userDetails.show_users_Sendcompetence">
    <div style="margin-left: 20px">{{"SEND" | translate}}</div>
    <div style="margin-right: 20px">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="10.352" viewBox="0 0 16 10.352">
        <defs>
          <clipPath id="clip-path">
            <path id="Path_758" data-name="Path 758" d="M0,10.352H16V0H0Z" fill="#e6e4e4"/>
          </clipPath>
        </defs>
        <g id="Group_6443" data-name="Group 6443" transform="translate(16) rotate(90)">
          <g id="Group_305" data-name="Group 305" transform="translate(0 16) rotate(-90)" clip-path="url(#clip-path)">
            <g id="Group_304" data-name="Group 304" transform="translate(0 0)">
              <path id="Path_757" data-name="Path 757" d="M.183,1.549l7.075,8.482a.847.847,0,0,0,.724.322h.08a.847.847,0,0,0,.724-.322L15.82,1.549A.981.981,0,0,0,16,.906a.678.678,0,0,0-.342-.563L15.418.183A1.143,1.143,0,0,0,14.734,0a.786.786,0,0,0-.6.342L8.021,7.579,1.911.344A.786.786,0,0,0,1.308,0,1.143,1.143,0,0,0,.625.183L.344.344A.678.678,0,0,0,0,.906a.981.981,0,0,0,.181.643" transform="translate(0 0)" fill="#e6e4e4"/>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<div class="dialog-container" *ngIf="dropdownIsOpen" >
  <app-education-dialog
  [username]="username"
  [selectedDocument]="selectedDocuments"
  (closeDialog)="toggleDropdown()"
  (sendData)="sendData($event)"
  [client_workers]="client_workers"
  ></app-education-dialog>
</div>

</div>
<div class="progress-loader" *ngIf="sending">
  <mat-spinner></mat-spinner>
</div>
<ng-template #otherComponent>
  <app-gallery
    *ngIf="swiper.images.length"
    [swiper]="swiper"
    [canRemove]="false"
    (closeSwiperEvent)="closeSwiper()"
    [server]="true"
  ></app-gallery>
</ng-template>
<ng-container *ngIf="isPDFViewer; else otherComponent">
  <app-pdfjs-viewer
    *ngIf="swiper.images.length"
    [swiper]="swiper"
    [canRemove]="false"
    (closeSwiperEvent)="closeSwiper()"
    [server]="true"
  ></app-pdfjs-viewer>
</ng-container>
<div class="progress-loader" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
