<img class="canvas-img" id="grid-cell" src="../../../../assets/img/grid-cell.png" alt="">
<img class="canvas-img" id="grid-cell-weekend" src="../../../../assets/img/grid-cell-weekend.png" alt="">
<img class="canvas-img" id="public-holiday-cell" src="../../../../assets/img/public-holiday-cell.png" alt="">
<img class="canvas-img" id="current-day-cell" src="../../../../assets/img/current-day-cell.png" alt="">
<img class="canvas-img" id="worker-threshold-cell" src="../../../../assets/img/worker-threshold-cell.png" alt="">

<img class="canvas-img" id="undo" src="../../../../assets/img/canvas-img/undo.svg" alt="undo">
<img class="canvas-img" id="redo" src="../../../../assets/img/canvas-img/redo.svg" alt="redo">

<img class="canvas-img" id="add-new" src="../../../../assets/img/canvas-img/add-new.svg" alt="">

<img class="canvas-img" id="go-back" src="../../../../assets/img/canvas-img/go-back.svg" alt="">
<img class="canvas-img" id="bucket-white" src="../../../../assets/img/canvas-img/bucket-white.svg" alt="">
<img class="canvas-img" id="arrow-white" src="../../../../assets/img/canvas-img/arrow-white.svg" alt="">
<img class="canvas-img" id="bold-text-image" src="../../../../assets/img/canvas-img/bold-text.svg" alt="">
<img class="canvas-img" id="italic-text-image" src="../../../../assets/img/canvas-img/italic-text.svg" alt="">
<img class="canvas-img" id="underline-text-image" src="../../../../assets/img/canvas-img/underline-text.svg" alt="">
<img class="canvas-img" id="linethrough-text-image" src="../../../../assets/img/canvas-img/line-through.svg" alt="">
<img class="canvas-img" id="text-color" src="../../../../assets/img/canvas-img/text-color.svg" alt="">
<img class="canvas-img" id="indent" src="../../../../assets/img/canvas-img/indent.svg" alt="">
<img class="canvas-img" id="unindent" src="../../../../assets/img/canvas-img/unindent.svg" alt="">
<img class="canvas-img" id="monster-drop" src="../../../../assets/img/canvas-img/monster-drop.svg" alt="">


<img class="canvas-img" id="chain-plus" src="../../../../assets/img/canvas-img/chain-plus.svg" alt="">
<img class="canvas-img" id="chain-remove" src="../../../../assets/img/canvas-img/chain-remove.svg" alt="">
<img class="canvas-img" id="split-tape" src="../../../../assets/img/canvas-img/split-tape.svg" alt="">
<img class="canvas-img" id="split-column" src="../../../../assets/img/canvas-img/split-column.svg" alt="">
<img class="canvas-img" id="activitet" src="../../../../assets/img/canvas-img/activitet.svg" alt="">
<img class="canvas-img" id="group" src="../../../../assets/img/canvas-img/group.svg" alt="">
<img class="canvas-img" id="monster" src="../../../../assets/img/canvas-img/monster.svg" alt="">
<img class="canvas-img" id="flag" src="../../../../assets/img/canvas-img/flag.svg" alt="">
<img class="canvas-img" id="flag-red" src="../../../../assets/img/canvas-img/flag-red.svg" alt="">
<img class="canvas-img" id="flag-green" src="../../../../assets/img/canvas-img/flag-green.svg" alt="">
<img class="canvas-img" id="flag-yellow" src="../../../../assets/img/canvas-img/flag-yellow.svg" alt="">
<img class="canvas-img" id="flag-orange" src="../../../../assets/img/canvas-img/flag-orange.svg" alt="">
<img class="canvas-img" id="flag-reds" src="../../../../assets/img/canvas-img/flag-reds.svg" alt="">
<img class="canvas-img" id="flag-redd" src="../../../../assets/img/canvas-img/flag-redd.svg" alt="">
<img class="canvas-img" id="flag-cyan" src="../../../../assets/img/canvas-img/flag-cyan.svg" alt="">
<img class="canvas-img" id="flag-blue" src="../../../../assets/img/canvas-img/flag-blue.svg" alt="">
<img class="canvas-img" id="flag-pink" src="../../../../assets/img/canvas-img/flag-pink.svg" alt="">
<img class="canvas-img" id="flag-purple" src="../../../../assets/img/canvas-img/flag-purple.svg" alt="">
<img class="canvas-img" id="flag-greenl" src="../../../../assets/img/canvas-img/flag-greenl.svg" alt="">
<img class="canvas-img" id="flag-greend" src="../../../../assets/img/canvas-img/flag-greend.svg" alt="">
<img class="canvas-img" id="check" src="../../../../assets/img/canvas-img/check.svg" alt="">


<img class="canvas-img" id="calendar-img" src="../../../../assets/img/canvas-img/calendar-img.svg" alt="">
<img class="canvas-img" id="previous-week" src="../../../../assets/img/canvas-img/previous-week.svg" alt="">
<img class="canvas-img" id="next-week" src="../../../../assets/img/canvas-img/next-week.svg" alt="">

<img class="canvas-img" id="chain-icon-create" src="../../../../assets/img/canvas-img/chain-icon-create.svg" alt="">
<img class="canvas-img" id="chain-icon-create-green" src="../../../../assets/img/canvas-img/chain-icon-create-green.svg"
  alt="">

<img class="canvas-img" id="scroll-arrow-down" src="../../../../assets/img/canvas-img/scroll-arrow-down.svg" alt="">
<img class="canvas-img" id="scroll-arrow-up" src="../../../../assets/img/canvas-img/scroll-arrow-up.svg" alt="">
<img class="canvas-img" id="scroll-arrow-left" src="../../../../assets/img/canvas-img/scroll-arrow-left.svg" alt="">
<img class="canvas-img" id="scroll-arrow-right" src="../../../../assets/img/canvas-img/scroll-arrow-right.svg" alt="">

<img class="canvas-img" id="grid-cell-week" src="../../../../assets/img/grid-cell-week.jpg" alt="">
<img class="canvas-img" id="grid-cell-absence" src="../../../../assets/img/grid-cell-absence.png" alt="">

<img class="canvas-img" id="logo" src="../../../../assets/img/canvas-img/logo.svg" alt="">

<img class="canvas-img" id="null-percents" src="../../../../assets/img/canvas-img/null-percents.svg" alt="">
<img class="canvas-img" id="ten-percents" src="../../../../assets/img/canvas-img/ten-percents.svg" alt="">
<img class="canvas-img" id="twfive-percents" src="../../../../assets/img/canvas-img/twfive-percents.svg" alt="">
<img class="canvas-img" id="fifty-percents" src="../../../../assets/img/canvas-img/fifty-percents.svg" alt="">
<img class="canvas-img" id="svfive-percents" src="../../../../assets/img/canvas-img/svfive-percents.svg" alt="">
<img class="canvas-img" id="ninty-percents" src="../../../../assets/img/canvas-img/ninty-percents.svg" alt="">
<img class="canvas-img" id="hundred-percents" src="../../../../assets/img/canvas-img/hundred-percents.svg" alt="">
<img class="canvas-img" id="mark-according-to-plan" src="../../../../assets/img/canvas-img/mark-according-to-plan.svg"
  alt="">
<img class="canvas-img" id="move-to-not-completed" src="../../../../assets/img/canvas-img/move-to-not-completed.svg"
  alt="">
<img class="canvas-img" id="move-to-completed" src="../../../../assets/img/canvas-img/move-to-completed.svg" alt="">

<img class="canvas-img" id="resources-open" src="../../../../assets/img/canvas-img/resources-open.svg" alt="">
<img class="canvas-img" id="resources-close" src="../../../../assets/img/canvas-img/resources-close.svg" alt="">

<img class="canvas-img" id="arrow-open" src="../../../../assets/img/canvas-img/arrow-open.svg" alt="">
<img class="canvas-img" id="arrow-close" src="../../../../assets/img/canvas-img/arrow-close.svg" alt="">
<img class="canvas-img" id="arrow-move" src="../../../../assets/img/canvas-img/arrow-move.svg" alt="">
<img class="canvas-img" id="arrow-move-left" src="../../../../assets/img/canvas-img/arrow-move-left.svg" alt="">
<img class="canvas-img" id="arrow-drop-down" src="../../../../assets/img/canvas-img/arrow-drop-down.svg" alt="">
<img class="canvas-img" id="arrow-drop-down-close" src="../../../../assets/img/canvas-img/arrow-drop-down-close.svg" alt="">
<img class="canvas-img" id="arrow-split" src="../../../../assets/img/canvas-img/arrow-split.svg" alt="">
<img class="canvas-img" id="arrow-split" src="../../../../assets/img/canvas-img/arrow-pointer.svg" alt="">

<img class="canvas-img" id="monster-1" src="../../../../assets/img/canvas-img/monster-101.svg" alt="">
<img class="canvas-img" id="monster-2" src="../../../../assets/img/canvas-img/monster-102.svg" alt="">
<img class="canvas-img" id="monster-3" src="../../../../assets/img/canvas-img/monster-103.svg" alt="">
<img class="canvas-img" id="monster-4" src="../../../../assets/img/canvas-img/monster-104.svg" alt="">
<img class="canvas-img" id="monster-5" src="../../../../assets/img/canvas-img/monster-105.svg" alt="">
<img class="canvas-img" id="monster-6" src="../../../../assets/img/canvas-img/monster-106.svg" alt="">
<img class="canvas-img" id="monster-7" src="../../../../assets/img/canvas-img/monster-107.svg" alt="">
<img class="canvas-img" id="monster-8" src="../../../../assets/img/canvas-img/monster-108.svg" alt="">
<img class="canvas-img" id="monster-9" src="../../../../assets/img/canvas-img/monster-109.svg" alt="">
<img class="canvas-img" id="monster-10" src="../../../../assets/img/canvas-img/monster-110.svg" alt="">
<img class="canvas-img" id="monster-11" src="../../../../assets/img/canvas-img/monster-111.svg" alt="">
<img class="canvas-img" id="monster-12" src="../../../../assets/img/canvas-img/monster-112.svg" alt="">
<img class="canvas-img" id="monster-13" src="../../../../assets/img/canvas-img/monster-113.svg" alt="">
<img class="canvas-img" id="monster-14" src="../../../../assets/img/canvas-img/monster-114.svg" alt="">
<img class="canvas-img" id="monster-15" src="../../../../assets/img/canvas-img/monster-115.svg" alt="">
<img class="canvas-img" id="monster-16" src="../../../../assets/img/canvas-img/monster-116.svg" alt="">
<img class="canvas-img" id="monster-17" src="../../../../assets/img/canvas-img/monster-117.svg" alt="">
<!-- <img class="canvas-img" id="monster-18" src="../../../../assets/img/canvas-img/monster-18.svg" alt="">
<img class="canvas-img" id="monster-19" src="../../../../assets/img/canvas-img/monster-19.svg" alt="">
<img class="canvas-img" id="monster-20" src="../../../../assets/img/canvas-img/monster-20.svg" alt="">
<img class="canvas-img" id="monster-21" src="../../../../assets/img/canvas-img/monster-21.svg" alt="">
<img class="canvas-img" id="monster-22" src="../../../../assets/img/canvas-img/monster-22.svg" alt="">
<img class="canvas-img" id="monster-23" src="../../../../assets/img/canvas-img/monster-23.svg" alt=""> -->
<img class="canvas-img" id="monster-24" src="../../../../assets/img/canvas-img/monster-124.svg" alt="">


<canvas id="mainCanvas" class="canvas" (click)="hideXSrc(true)"></canvas>
<canvas id="secondCanvas" class="canvas" (click)="hideX(true)"></canvas>
<canvas id="offscreenCanvas" class="canvas" (click)="hideX(true)"></canvas>

<!-- <div [hidden]="!addUserModalShowing" id="add-user-modal" class="modal"
  (mousedown)="closeAddUserModalWithBackground($event)">
  <div class="modal-box" id="add-user-modal-box">
    <div class="modal-box-header">
      <h4>{{ allDisplayProjects[projectIndex]?.name }}</h4>
      <span (click)="closeAddUserModal()" class="material-icons modal-box-close">clear</span>
    </div>
    <div class="modal-box-content">
      <div>
        <div class="modal-input-group modal-radio-group">
          <div>
            <input type="radio" id="show-resource-users-radio" name="whichOfUsersToShow"
              [(ngModel)]="whichOfUsersToShow" (change)="filterUsersWhichCanBeAdded()" value="resource">
            <label for="show-resource-users-radio">{{ 'Resource users' | translate }}</label>
          </div>
          <div>
            <input type="radio" id="show-all-users-radio" name="whichOfUsersToShow" [(ngModel)]="whichOfUsersToShow"
              (change)="filterUsersWhichCanBeAdded()" value="all">
            <label for="show-all-users-radio">{{ 'All Users' | translate }}</label>
          </div>
        </div>
        <div class="modal-input-group">
          <label for="startDate">{{ 'Start date' | translate }}</label>
          <input type="text" id="startDate" [(ngModel)]="selectedDateSegmentStartDate"
            [disabled]="selectedUsers.length > 0">
        </div>
        <div class="modal-input-group">
          <label for="endDate">{{ 'End date' | translate }}</label>
          <input type="text" id="endDate" [(ngModel)]="selectedDateSegmentEndDate"
            [disabled]="selectedUsers.length > 0">
        </div>
        <div class="modal-input-group">
          <label for="selectedUserIndex">{{ 'Select user' | translate }}</label>
          <ng-multiselect-dropdown [data]="filteredAllUsers" id="users-list" [(ngModel)]="selectedUsers"
            [settings]="dropdownSettings" placeholder="{{'Select'|translate}}"></ng-multiselect-dropdown>
        </div>
      </div>
      <div>
        <button type="button" class="modal-button" (click)="addUserToProject(projectIndex)">{{ 'Add user' | translate
          }}</button>
      </div>
    </div>
  </div>
</div> -->


<!-- style="background-color: #C7C6C4 !important;" -->
<!--

                <select [attr.disabled]="!userDetails.create_project_Settings ? 'disabled' : null" class="project-nav-select form-control"" id="project-deliveryContact" #deliveryContact formControlName="deliveryContact" [ngClass]="{'is-invalid': (myform.submitted && createForm.get('deliveryContact').invalid) || (createForm.get('deliveryContact').dirty && createForm.get('deliveryContact').invalid) }">
                    <option *ngFor="let responsiblePerson of responsiblePersons"
                        value="{{responsiblePerson.id}}">
                        {{responsiblePerson.username}}</option>
                </select>
                <span class="help-block" *ngIf="(myform.submitted && createForm.get('deliveryContact').invalid) || (createForm.get('deliveryContact').dirty && createForm.get('deliveryContact').invalid)">
                    <span class="text-danger">
                        {{ 'Please select delivery contact' | translate }}.
                    </span>
                </span>
                -->


<div [hidden]="!addUserModalShowing" id="add-user-modal" class="modal"
  (mousedown)="closeAddUserModalWithBackground($event)">
  <div class="modal-box" id="add-user-modal-box">

    <div class="modal-box-content">
      <div>


        <div class="modal-input-group">
          <label for="selectedUserIndex">{{ 'Select user' | translate }}</label>

          <ng-multiselect-dropdown style="flex: 1" name="defaultMoments" [settings]="dropdownSettings"
            [data]="defaultMoments" id="defaultMoments" placeholder="{{
                    'Choose default moments for user' | translate
                  }}">
          </ng-multiselect-dropdown>

          <input list="df">



        </div>
      </div>
      <div>
        <button type="button" class="modal-button">{{ 'Add user' | translate
          }}</button>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!plannedVacationModalShowing" id="planned-vacation-modal" class="modal"
  (mousedown)="closePlannedVacationModalWithBackground($event)">
  <div class="modal-box modal-box-overide" id="planned-vacation-modal-box">
    <div class="modal-box-header modal-box-header-overide">
      <h4>{{ 'Add' | translate | uppercase }}</h4>
      <span (click)="closePlannedVacationModal()" class="material-icons modal-box-close">clear</span>
    </div>
    <div class="modal-box-content">

      <div class="table">
        <div class="header">
          <div class="column">
            <span>&nbsp;</span>
          </div>
          <div class="column">
            <span>{{ 'Name' | translate | uppercase }}</span>
          </div>
          <div class="column">
            <span>{{ 'Start date' | translate | uppercase }}</span>
          </div>
          <div class="column">
            <span>{{ 'End date' | translate | uppercase }}</span>
          </div>
          <div class="column">
            <span>&nbsp;</span>
          </div>
        </div>
        <div class="body" *ngIf="planedAbsences.length">
          <div *ngFor="let absence of planedAbsences" class="row">
            <div class="column">
              <span>&nbsp;</span>
            </div>
            <div class="column">
              <span>{{ absence.name }}</span>
            </div>
            <div class="column">
              <span>{{ absence.startDate | week }}</span>
            </div>
            <div class="column">
              <span>{{ absence.endDate | week }}</span>
            </div>
            <div class="column" (click)="deletePlannedVacation(absence.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14">
                <g transform="translate(0.003 0.001)">
                  <path
                    d="M222.714,154.7a.316.316,0,0,0-.316.316V161a.316.316,0,0,0,.633,0v-5.98A.316.316,0,0,0,222.714,154.7Zm0,0"
                    transform="translate(-215.346 -149.319)" />
                  <path
                    d="M104.714,154.7a.316.316,0,0,0-.316.316V161a.316.316,0,0,0,.633,0v-5.98A.316.316,0,0,0,104.714,154.7Zm0,0"
                    transform="translate(-101.089 -149.319)" />
                  <path
                    d="M.9,4.166v8.078a1.843,1.843,0,0,0,.465,1.248A1.538,1.538,0,0,0,2.5,14h6a1.538,1.538,0,0,0,1.133-.507,1.843,1.843,0,0,0,.465-1.248V4.166a1.252,1.252,0,0,0,.891-1.373,1.226,1.226,0,0,0-1.2-1.09H8.161v-.41A1.311,1.311,0,0,0,7.8.375,1.226,1.226,0,0,0,6.9,0H4.088A1.226,1.226,0,0,0,3.2.375a1.311,1.311,0,0,0-.366.919V1.7H1.208a1.226,1.226,0,0,0-1.2,1.09A1.252,1.252,0,0,0,.9,4.166Zm7.6,9.176h-6a1.025,1.025,0,0,1-.964-1.1V4.2h7.93v8.049a1.025,1.025,0,0,1-.964,1.1ZM3.467,1.294a.642.642,0,0,1,.18-.456A.6.6,0,0,1,4.088.654H6.9a.6.6,0,0,1,.442.184.642.642,0,0,1,.18.456V1.7H3.467ZM1.208,2.359H9.785a.59.59,0,0,1,0,1.18H1.208a.59.59,0,0,1,0-1.18Zm0,0"
                    transform="translate(0 0)" />
                  <path
                    d="M163.714,154.7a.316.316,0,0,0-.316.316V161a.316.316,0,1,0,.633,0v-5.98A.316.316,0,0,0,163.714,154.7Zm0,0"
                    transform="translate(-158.218 -149.319)" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="add-new-container">
        <h4>{{ 'RPC_New_Absence' | translate | uppercase }}</h4>
        <div class="inputs">
          <div class="group">
            <span>{{ 'Name' | translate | uppercase }}</span>
            <input type="text" [(ngModel)]="selectedVacationDateName" />
          </div>
          <div class="group">
            <span>{{ 'Start date' | translate | uppercase }}</span>
            <input type="text" id="startDateVacation" [(ngModel)]="selectedVacationDateStartDate"
              [attr.data-date]="trimWeek(selectedVacationDateStartDate)">
          </div>
          <div class="group">
            <span>{{ 'End date' | translate | uppercase }}</span>
            <input type="text" id="endDateVacation" [(ngModel)]="selectedVacationDateEndDate"
              [attr.data-date]="trimWeek(selectedVacationDateEndDate)" data-date-format="yyyy-mm-dd"
              data-date-viewmode="days">
          </div>
          <div>
            <button type="button" (click)="updatePlannedVacation()">{{ 'Save' | translate | uppercase }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="loading-spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>





<div id="font-family-div">
  <select
  [ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}"
  class="toolbox-input" id="change-font-family-input"
  [(ngModel)]="changeFontFamilyInputValue"
    (change)="fontFamilyInputValueChanged($event)">
    <option value="Arial">Arial</option>
    <option value="Calibri">Calibri</option>
    <option value="Geneva">Geneva</option>
    <option value="Verdana">Verdana</option>
  </select>
</div>
<div id="font-size-div">
  <select
  class="toolbox-input"
  id="change-font-size-input"
  [(ngModel)]="changeFontSizeInputValue"
  (change)="fontSizeInputValueChanged($event)"
  [ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}">
    <option value="10">10</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="16">16</option>
    <option value="18">18</option>
    <option value="20">20</option>
  </select>
</div>
<div
id="text-bold-div"
[ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}">
  <label [ngStyle]="{'color': changeFontWeightInputValue == false ? '#FCF4EC' : 'white'}"
    (click)="fontWeightInputValueChanged('bold')" class="toolbox-input label-text text-bold">{{'B'
    | translate}}</label>
</div>
<div
(click)="fontStyleInputValueChanged('italic')"
id="text-italic-div"
[ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}">
  <label [ngStyle]="{'color': changeFontStyleInputValue == false ? '#FCF4EC' : 'white'}"
    class="toolbox-input label-text text-italic">{{'I' | translate}}</label>
</div>
<div
(click)="fontDecorationInputValueChanged('underline')"
id="text-underline-div"
[ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}">
  <label [ngStyle]="{'color': changeFontDecorationInputValue == false ? '#FCF4EC' : 'white'}"
    class="toolbox-input label-text text-underline">U</label>
</div>
<div
[ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}"
id="background-color-div" class="toolbox-input background-color-change"
[style.display]="smallScreen==true?'none':'block'"
  [(colorPicker)]="changeBackgroundColorInputValue" (colorPickerOpen)="backgroundColorInputValueOpen($event)"

  (colorPickerChange)="backgroundColorInputValueChanged($event)" [cpPresetColors]="presetValues"  >
  <input class="toolbox-input change-color-input" id="change-background-color-input"
    [style.background]="changeBackgroundColorInputValue" />
</div>
<div
[ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}"
id="text-color-div"
class="toolbox-input text-color-grid"
[(colorPicker)]="changeTextColorInputValue"
  (colorPickerOpen)="backgroundColorInputValueOpen($event)"
  (colorPickerChange)="textColorInputValueChanged($event)" [cpPresetColors]="presetValues">
  <div>
    <label class="toolbox-input l-text" for="change-text-color-input">A</label>
  </div>
  <div class="text-color-box">
    <input class="toolbox-input change-color-input" id="change-text-color-input"
      [style.background]="changeTextColorInputValue" />
  </div>
</div>
<div
[ngStyle]="{'pointer-events': isInEditMode ? 'auto' : 'none'}"
class="toolbox-input background-color-tape"
id="div-tape-color"
  [(colorPicker)]="changeBackgroundTapeColorInputValue" (colorPickerOpen)="backgroundTapeColorInputValueOpen($event)"
  (colorPickerChange)="backgroundTapeColorInputValueChanged($event)" [cpPresetColors]="presetValues">
  <input class="toolbox-input change-color-input" id="change-background-tape-color-input"
    [style.background]="changeBackgroundTapeColorInputValue" />
</div>

<!--
  removed from the div above
  (colorPickerClose)="backgroundTapeColorInputValueChanged($event)" -->


<!-- <div id="hours-div">
  <select class="toolbox-input" id="change-hours-input" [(ngModel)]="changeHoursOnProject"
    (change)="hoursProjectInputValueChanged($event)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
  </select>
</div> -->



<input class="user-search-input" (click)="hideXSrc(false)" id="user-search-input" type="text"
  placeholder="{{ 'Search' | translate }}" [(ngModel)]="searchValue" (ngModelChange)="searchUsers()">
<div id="input-img" (click)="hideX(true)" *ngIf="!hideXSrch"></div>



<input type="number" class="input" id="resourceWeekEditInput" min="0" (keyup.enter)="updateResourceWeek($event)"
  (blur)="updateResourceWeek($event)">
<input type="text" class="input" id="columnEditInput" (keyup.enter)="updateColumn($event)"
  (blur)="updateColumn($event)">

<input type="text" class="input" id="noteInput" (keyup.enter)="updateNote($event)" (blur)="updateNote($event)">
<input type="text" class="input" id="planInput" (keyup.enter)="updatePlan($event)" (blur)="updatePlan($event)">


<div class="input-group" id="columnValueEditInput" class="input" >
  <input type="text"  class="input" id="columnValueEditInput1" (keyup.enter)="updateColumnValue($event)"
   (click)="emtyClick($event)" [(ngModel)]="inputValue"
   (blur)="updateColumnValue($event)" (ngModelChange)="changeInput()" autocomplete="off">
  <div class="input-group-append">
    <!-- <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" (click)="openDropDown($event)">
      </button> -->
    <select [(ngModel)]="selectedOption" (change)="openDropDown($event.target.value)" id="selectValue" (mousedown) = "emtyClickSelect($event)" >
      <option hidden selected value = ""></option>
      <optgroup *ngFor="let moments of defaultMoments" label={{moments.Name}}>
        <option *ngFor="let dfmom of moments.childrens">{{dfmom.Name}} </option>
      </optgroup>
    </select>
  </div>
</div>
<input type="text" class="datepicker-input" id="columnStartDateInput">
<input type="text" class="datepicker-input" id="columnEndDateInput">

<div class="dropdown-div" id="dropdown-div">
  <button
    type="button"
    (click)="dropSend()"
    class="btn-options"
    id="first-btn-drop"
    [class.btn-options-collapse]="buttonToggleSend"
    >
    <!-- *ngIf="type == 0" -->
    <span *ngIf="type == 0">{{ "TSC_SEND_PRINT" | translate }}</span>
    <span *ngIf="type == 1">{{ "TSC_PRINT" | translate }}</span>

    <app-arrow-up-svg color="var(--project-color)" *ngIf="!buttonToggleSend"></app-arrow-up-svg>
    <app-arrow-down-svg color="var(--orange-dark)" *ngIf="buttonToggleSend"></app-arrow-down-svg>
  </button>
  <!-- collapse -->
  <div class="dropdown-menu show" id="first-drop"
    [ngClass]="buttonToggleSend ? '' : 'd-none'">
    <div class="border-summary print-div" (click)="printAta()">
      <p>
        {{ "TSC_PRINT" | translate }}
      </p>
      <div class="svg-p">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pdf-p-icon"
          width="18.953"
          height="17.216"
          viewBox="0 0 18.953 17.216"
        >
          <g
            id="Group_4091"
            data-name="Group 4091"
            transform="translate(0 0)"
          >
            <g
              id="Group_3988"
              data-name="Group 3988"
              transform="translate(5.984 4.613)"
            >
              <rect
                id="Rectangle_15585"
                data-name="Rectangle 15585"
                width="6.934"
                height="0.803"
                transform="translate(0 1.992)"
                fill="#44484c"
              />
              <rect
                id="Rectangle_15586"
                data-name="Rectangle 15586"
                width="6.934"
                height="0.803"
                fill="#44484c"
              />
            </g>
            <path
              id="Path_1752"
              data-name="Path 1752"
              d="M33.834,19.925a.955.955,0,0,0-.953-.957H15.833a.955.955,0,0,0-.952.957v8.132h3.6v.718l7.369,7.409H30.2V28.1h3.636Zm-17.1,6.567v-3.8H18.48v3.8Zm8.806,7.864L20.3,29.089h5.238Zm1.066.757v-7.1H19.546V22.694h9.587V35.113Zm5.38-8.575H30.2V22.694h1.786Z"
              transform="translate(-14.881 -18.968)"
              fill="#44484c"
            />
          </g>
        </svg>
      </div>
    </div>
    <!-- *ngIf="type == 0" -->
    <div
    *ngIf="isInEditMode"
    [ngClass]="contacts.length == 0 ? 'disabled-icon' : 'enabled-icon'"
      class="p-1" (click)="shutDown()">
      <div (click)="createAta(true)"
        class="text-icon-align sle">
        <span class="mt-1 ml-2 send" *ngIf="contacts.length == 0">{{ "TSC_SEND" | translate }}</span>
        <span class="mt-1 ml-2 send" *ngIf="contacts.length > 0" style="color: var(--orange-dark)">{{ "TSC_SEND" | translate }}</span>
        <img src="../../../../assets/img/disabled-icon.svg"
          class="send-svg" />
        <img src="../../../../assets/img/enabled-icon.svg"
          class="send-svg" *ngIf="contacts.length > 0" />
      </div>
    </div>
    <!-- <div *ngIf="type == 0">
      <div
        [ngClass]="
          contacts.length == 0 ? 'disabled-icon' : 'enabled-icon'
        "
        class="p-1"
        (click)="shutDownKS()"
      >
        <div
          (click)="handlePriceZero('sendMail', atas[selectedAta])"
          class="text-icon-align sle"
        >
          <span class="mt-1 ml-2 send">{{
            "TSC_SEND_REMINDER" | translate
          }}</span>
          <img
            src="../../../../assets/img/disabled-icon.svg"
            class="send-svg"
            *ngIf="contacts.length == 0"
          />
          <img
            src="../../../../assets/img/enabled-icon.svg"
            class="send-svg"
            *ngIf="contacts.length > 0"
          />
        </div>
      </div>
    </div> -->

    <!-- *ngIf="type == 0" -->
    <div *ngIf="isInEditMode" >
      <div class="workers d-flex justify-content-start pl-3 workers-border"
        *ngFor="let worker of client_workers"
        (click)="buttonNameSummary($event, worker)">
        <span class="ml-1" *ngIf="checkIfContactSelected(worker) == false" >{{ worker.Name }}</span>
        <span class="ml-1" *ngIf="checkIfContactSelected(worker)" style="color: var(--orange-dark)">{{ worker.Name }}</span>
        <span class="span-check"
          *ngIf="checkIfContactSelected(worker) == false">
          <img
            class="showImg"
            style="padding: 0px 0px 0px 3px"
            src="../../../../assets/img/uncheck.svg"
            alt=""
          />
        </span>
        <span class="span-check" *ngIf="checkIfContactSelected(worker)">
          <img
            class="showImg"
            style="padding: 0px 0px 0px 3px"
            src="assets/img/check_orange.svg"
            alt=""
          />
        </span>
      </div>
    </div>

  </div>
  <div class="hide-data"  *ngIf="buttonToggleSend" (click)="closeToggle(1)">

  </div>
  <!-- end collapse -->
</div>



<!-- <input type="text" list="countries" class="input" id="columnValueEditInput" (keyup.enter)="updateColumnValue($event)"
  (blur)="updateColumnValue($event)" autocomplete="off">
  <datalist id="countries">
      <select>
          <optgroup *ngFor="let moments of defaultMoments">
            <option *ngFor="let dfmom of moments.childrens" >{{dfmom.Name}} </option>
          </optgroup>
      </select>
  </datalist> -->


<input type="text" class="input" id="newColumnValueEditInput" (keyup.enter)="updateColumnValue($event)"
    (blur)="updateColumnValue($event)" autocomplete="off">


<datalist id="df">
  <!-- <optgroup *ngFor="let moments of defaultMoments">
    <option *ngFor="let dfmom of moments.childrens" >{{dfmom.Name}} </option>

  </optgroup> -->
</datalist>

<input type="number" class="input" id="columnNumberOfDaysInput" min="1"
  (keyup.enter)="updateNumberOfDaysColumnValue($event)" (blur)="updateNumberOfDaysColumnValue($event)">

  <div id = "shadow">

  </div>
  <input class="input" type="checkbox" id = "checkBox" [(ngModel)]="checked" (ngModelChange)="changeCheck()" >
  <div #chartContainer id="svgElement" style="display: none;"></div>
