<div class="dropdown-wrapper-all" *ngIf="items" (click)="toggleDropdown()">
  <div class="dropdown-wrapper">
    <div>{{ (selectedDropDownOption || "role" ) | translate}}</div>
    <div>
      <svg *ngIf="!isOpen" id="Group_6318" data-name="Group 6318" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="8" viewBox="0 0 15 8">
        <defs>
          <clipPath id="clip-path">
            <path id="Path_758" data-name="Path 758" d="M0,.274H15v-8H0Z" transform="translate(0 7.726)" fill="#858585"/>
          </clipPath>
        </defs>
        <g id="Group_305" data-name="Group 305" clip-path="url(#clip-path)">
          <g id="Group_304" data-name="Group 304" transform="translate(0 0)">
            <path id="Path_757" data-name="Path 757" d="M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5" transform="translate(0.136 1.156)" fill="#858585"/>
          </g>
        </g>
      </svg>
    </div>
    <div *ngIf="isOpen" style="rotate: 180deg;">
      <svg id="Group_6318" data-name="Group 6318" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="8" viewBox="0 0 15 8">
        <defs>
          <clipPath id="clip-path">
            <path id="Path_758" data-name="Path 758" d="M0,.274H15v-8H0Z" transform="translate(0 7.726)" fill="#858585"/>
          </clipPath>
        </defs>
        <g id="Group_305" data-name="Group 305" clip-path="url(#clip-path)">
          <g id="Group_304" data-name="Group 304" transform="translate(0 0)">
            <path id="Path_757" data-name="Path 757" d="M.035.041,6.668,6.6a.872.872,0,0,0,.678.249h.075A.872.872,0,0,0,8.1,6.6L14.695.041a.665.665,0,0,0,.17-.5.52.52,0,0,0-.32-.435l-.226-.124a1.251,1.251,0,0,0-.641-.14.784.784,0,0,0-.565.264L7.384,4.7,1.655-.891a.784.784,0,0,0-.565-.264,1.251,1.251,0,0,0-.641.14L.186-.891a.52.52,0,0,0-.32.435.665.665,0,0,0,.17.5" transform="translate(0.136 1.156)" fill="#858585"/>
          </g>
        </g>
      </svg>
    </div>
  </div>


  <div class="items-list orange-scroll" *ngIf="isOpen">
    <ng-container *ngFor="let role of items">
      <div class="item" (click)="toggleItem(role)">{{role.roles | translate}}</div>
    </ng-container>
  </div>
</div>
