.modal-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.row-content {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-margin {
  margin-right: 20px !important;
}

.wrapper-container {
  min-height: 310px;
}
.lock-days {
  min-height: 310px;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.btn-position {
  display: flex;
  justify-content: center;
}

.btn1 {
  margin-left: 35px;
}
.btn2 {
  margin-top: 35px;
}
