<div class="modal-top-wrapper">
  <h4>{{ "Timesheets" | translate }}</h4>
  <ul class="nav nav-tabs bg-beige mobileGrid">
    <li
      class="nav-link txt-color cursor-pointer"
      [ngClass]="{ active: selectedTab == 0 }"
      (click)="changeSelectedTab(0)"
      *ngIf="!users"
    >
      {{ "Notification" | translate }}
    </li>
    <li
      class="nav-link txt-color cursor-pointer"
      [ngClass]="{ active: selectedTab == 1 }"
      (click)="changeSelectedTab(1)"
    >
      {{ "Lock the days" | translate }}
    </li>
  </ul>
  <button class="btn btn-outline-dark" [mat-dialog-close]>
    <i class="material-icons">close</i>
  </button>
</div>
<div *ngIf="!users">
  <div class="wrapper-container" *ngIf="selectedTab == 0">
    <div class="row row1X tab-content">
      <h5>
        {{ "Send notification to" | translate }}: {{ userName }}, {{ date }}
      </h5>
    </div>
    <div class="col-sm-12">
      <label for="name" class="required">{{
        "Write a message" | translate
      }}</label>
      <textarea
        class="form-control"
        id="details"
        rows="3"
        [(ngModel)]="message"
      ></textarea>
    </div>
    <div class="row row-content">
      <button class="btn btn-dark" (click)="sendNotification()">
        {{ "Send" | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="selectedTab == 1" class="lock-days">
    <div class="form-row d-flex justify-content-around">
      <div style="text-align: center">
        <label for="phone">{{ "Start Date" | translate }}</label>
        <div class="input-group date">
          <div matDialogContent>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                (focus)="picker.open()"
                (keydown)="$event.preventDefault()"
                id="dateSelectStartDate"
                [(ngModel)]="dateSelectStartDate"
                autocomplete="off"
                type="text"
                class="form-control project-date"
                aria-describedby="basic-addon1"
                #selectedDate
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                #teste
                jpDatepickerSwitch
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <label for="phone">{{ "End Date" | translate }}</label>
        <div class="input-group date">
          <div matDialogContent>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker2"
                (focus)="picker2.open()"
                (keydown)="$event.preventDefault()"
                id="dateSelectEndDate"
                [(ngModel)]="dateSelectEndDate"
                autocomplete="off"
                type="text"
                class="form-control project-date"
                aria-describedby="basic-addon1"
                #selectedDate
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                #teste
                jpDatepickerSwitch
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-position">
      <button
        type="submit"
        class="btn btn1 btn-success lh09"
        (click)="lockForUsers(true)"
      >
        <span class="material-icons left-3px top1px posRel">save</span>
        <span class="posRel top-5px">{{ "Save" | translate }}</span>
      </button>
    </div>
  </div>
</div>
<div class="lock-days" *ngIf="users">
  <ng-multiselect-dropdown
    [placeholder]="translate.instant('Please select at least one user')"
    [settings]="dropdownSettings"
    [data]="users"
    [(ngModel)]="selectedUsers"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
  <button
    type="submit"
    class="btn btn2 btn-success lh09"
    (click)="lockForUsers(false)"
  >
    <span class="material-icons left-3px top1px posRel">save</span>
    <span class="posRel top-5px">{{ "Save" | translate }}</span>
  </button>
</div>
