<div *ngIf="type === 'user-chat'" class="arrow" [ngStyle]="arrowStyle">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="14.629"
    height="14.362"
    viewBox="0 0 14.629 14.362"
  >
    <path
      id="Path_3120"
      data-name="Path 3120"
      d="M4.091,0,9.205,11.372H0Z"
      transform="translate(5.917 14.362) rotate(-130)"
      fill="#e2e1df"
    />
  </svg>
</div>

<div *ngIf="type === 'admin-chat'" class="arrow" [ngStyle]="arrowStyle">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="14.967"
    height="14.422"
    viewBox="0 0 14.967 14.422"
  >
    <g
      id="Group_3733"
      data-name="Group 3733"
      transform="translate(-1323.891 -910.045)"
    >
      <path
        id="Path_3123"
        data-name="Path 3123"
        d="M3.882,0,8.734,10.842H0Z"
        transform="translate(1338.857 917.777) rotate(130)"
        fill="#e2e1df"
      />
      <path
        id="Path_3124"
        data-name="Path 3124"
        d="M3.647,0,8.205,10.137H0Z"
        transform="translate(1336.93 916.561) rotate(130)"
        fill="#fff"
      />
    </g>
  </svg>
</div>
