<svg xmlns="http://www.w3.org/2000/svg" width="6.275" height="24.974" viewBox="0 0 6.275 24.974">
    <g id="Group_8539" data-name="Group 8539" transform="translate(6.275) rotate(90)">
      <ellipse id="Ellipse_655" data-name="Ellipse 655" cx="3.173" cy="3.138" rx="3.173" ry="3.138" transform="translate(18.628 0)" fill="#44484c"/>
      <ellipse id="Ellipse_656" data-name="Ellipse 656" cx="3.034" cy="3" rx="3.034" ry="3" transform="translate(9.374 0)" fill="#44484c"/>
      <ellipse id="Ellipse_657" data-name="Ellipse 657" cx="3" cy="2.965" rx="3" ry="2.965" transform="translate(0 0.173)" fill="#44484c"/>
    </g>
  </svg>
  