<div *ngIf="client_id" class="row row1X mb-3">
  <div
    class="card col-12X col-lg-6X col-lg-8W bgDarkBlueX bgGrayBlue"
    id="topFeeder"
  >
    <nav class="nav nav-pills nav-justified">
      <a
        [routerLink]="['/clients/details/', client_id]"
        class="btn btn-dark mr-2 lh09 hideUnder800"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="badgeX badge-darkX material-icons top1px posRel"
          >arrow_back</span
        >
      </a>
    </nav>
  </div>
</div>
<div *ngIf="client_id" class="row row1X tab-content">
  <div
    class="card col-12 col-lg-6X col-lg-6 col-lg-8W mb70 tab-pane fade show active"
    id="nav-default"
    role="tabpanel"
    aria-labelledby="nav-default-tab"
  >
    <div class="container py-5 ml-0">
      <h2 class="h5 text-secondary">{{ "Documents" | translate }}</h2>
      <hr />
      <div class="create-attachment">
        <button
          *ngIf="deletedDocuments.length > 0"
          class="btn btn-danger"
          type="button"
          (click)="removeSelectedDocuments()"
        >
          {{ "Delete" | translate }}
        </button>
        <button
          [ngClass]="{
            disabled: !userDetails.create_project_Attachment
          }"
          class="btn btn-outline-info"
          type="button"
          (click)="toggleCreateFile(null)"
        >
          {{ "New file" | translate }}
        </button>
      </div>
      <div class="attachment-content">
        <div
          class="row row-attacment-content-wrapper"
          *ngIf="directories.length > 0"
        >
          <div
            class="col-md-3 card-wrapper"
            *ngFor="let directory of directories; let i = index"
          >
            <div
              class="card bg-light mb-3"
              (click)="openSwiper(i, directory, 0)"
            >
              <div
                class="card-header d-flex justify-content-between align-items-center card-header-padding"
                title="{{ directory.name }}"
              >
                <div
                  data-id="noNavigate"
                  class="collapsible-header lock-icon"
                  (click)="changeLock($event, directory, i)"
                >
                  <i
                    data-id="noNavigate"
                    class="material-icons"
                    *ngIf="directory.lock == 1"
                    >lock</i
                  >
                  <i
                    data-id="noNavigate"
                    class="material-icons"
                    *ngIf="directory.lock != 1"
                    >lock_open</i
                  >
                </div>
                <span class="ellipsis">{{ directory.name }}</span>
                <div class="icon-container">
                  <div>
                    <input
                      *ngIf="directory.lock == 0"
                      type="checkbox"
                      id="checkFilesAndFolders"
                      name="checkFilesAndFolders"
                      class="material-icons preview-image-new-xi-absolute-input toggle-delete-input"
                      (click)="selectDocumentsForRemove($event, directory)"
                    />
                  </div>
                </div>
              </div>

              <div class="card-body">
                <p class="card-text text-center">
                  <i class="material-icons icon-size">{{
                    directory.type === "folder" ? "folder" : "insert_drive_file"
                  }}</i>
                </p>

                <div
                  class="download-button-position"
                  (click)="stopClickPropagation($event)"
                >
                  <a
                    data-id="noNavigate"
                    class="card-text text-center download-icon"
                    *ngIf="directory.type === 'folder'"
                    href="/api/attachment/downloadFolder/{{ directory.id }}/{{
                      projectId
                    }}"
                    ><i data-id="noNavigate" class="material-icons"
                      >download</i
                    ></a
                  >
                  <a
                    href="{{ directory.file_path }}"
                    data-id="noNavigate"
                    class="card-text text-center download-icon"
                    download="{{ getFileName(directory.name) }}"
                    *ngIf="directory.type === 'file'"
                    ><i data-id="noNavigate" class="material-icons"
                      >download</i
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="directories.length < 1">
          <p class="text-center pt-3">
            {{ "No folders and files here" | translate }}.
          </p>
        </div>
      </div>
      <div
        *ngIf="showCreateFile"
        class="card col-12X col-lg-6X mb70"
        id="looksLikeModal"
        (click)="toggleCreateFile($event)"
      >
        <article
          class="card narrow400 minh70p p-4 d-flex flex-column justify-content-between mw-80"
        >
          <h4 class="mb-3">
            {{ "Choose a file to upload" | translate }}
          </h4>
          <div>
            <div class="custom-file mb-2">
              <input
                (change)="onFileChange($event)"
                type="file"
                class="custom-file-input"
                id="file"
                #newFile
              />
              <label class="custom-file-label" for="file" *ngIf="!uploadMessage"
                >{{ "Choose file" | translate }}...</label
              >
              <label
                class="custom-file-label"
                for="file"
                *ngIf="uploadMessage"
                >{{ uploadMessage }}</label
              >
            </div>
            <button
              class="btn btn-info"
              type="button"
              (click)="addNewFile(newFile.value)"
              [disabled]="!newFile.value"
            >
              {{ "Create file" | translate }}
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="progress-loader" *ngIf="progress > 0">
  <mat-spinner mode="determinate" [value]="progress"></mat-spinner>
  <div *ngIf="progress > 0" class="progress-percentage" style="color: var(--brand-color)">
    {{ progress + "%" }}
  </div>
</div>

<ng-template #otherComponent>
  <app-gallery
    *ngIf="swiper.images.length"
    [swiper]="swiper"
    [canRemove]="false"
    (removeImageEvent)="removeSwiperImage($event)"
    (closeSwiperEvent)="closeSwiper()"
    [server]="true"
    [updateComment]="true"
    (updateCommentEvent)="editComment($event)"
  ></app-gallery>
</ng-template>

<ng-container *ngIf="isPDFViewer; else otherComponent">
  <app-pdfjs-viewer
    *ngIf="swiper.images.length"
    [swiper]="swiper"
    [canRemove]="false"
    (removeImageEvent)="removeSwiperImage($event)"
    (closeSwiperEvent)="closeSwiper()"
    [server]="true"
    [updateComment]="true"
    (updateCommentEvent)="editComment($event)"
  ></app-pdfjs-viewer>
</ng-container>
