<div class="container spacer-readme">
	<ng-container>
	    <div class="row logo-wrapper">
	        <img src="assets/img/sidebar-menu-icons/sps360.svg" class="img-fluid mx-auto" alt="" />
	    </div>
	    <div class="row">
	        <img src="assets/img/sidebar-menu-icons/sps-logo-type.svg" class="img-fluid mx-auto" alt="" />
	    </div>
	</ng-container>
    <div class="row d-flex justify-content-center">
        <div class="mt-5 w-50">
			<p class="text-contact">
				Structure project system 360 eller förkortat SPS360  är ett webbaserade verktyg för optimering av arbetssätt i byggbranschen.
			</p>
			<p class="text-contact">
				Med SPS360 kopplad till Fortnox kan du dela projekten, klienter, skicka faktureringsunderlag  och lönespecifikation.
			</p>
		</div>
    </div>
</div>

<div class="bottom-contact">
    <div class="line-top"></div>
    <div class="wrapp-contact">
        <div class="empty-now"></div>
        <div class="text-contact">
          <div> {{"© 2023 SPS360 All rights reserved." | translate}}&nbsp;</div>
          <div>{{"Structure Project System 360 AB, Box 2024, 433 02 Sävedalen, Sweden" | translate}}.&nbsp;</div> 
          <div>{{"Contact us" | translate}}: <a href="mailto:admin@sps360.com">admin@sps360.com</a> </div> 
        </div>
    </div> 
</div>
