<svg [ngStyle]="style" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10.304" height="6.667" viewBox="0 0 10.304 6.667">
    <defs>
      <clipPath id="clip-path">
        <path id="Path_758" data-name="Path 758" d="M0-1.726H9.273s2.318-4.5,0-6S0-7.726,0-7.726Z" transform="translate(0 8.393)" fill="none"/>
      </clipPath>
    </defs>
    <g id="Group_8517" data-name="Group 8517" transform="translate(1123.483 250.666) rotate(180)">
      <g id="Group_8201" data-name="Group 8201">
        <g id="Group_8200" data-name="Group 8200" transform="translate(1113.18 244)">
          <g id="Group_308" data-name="Group 308" transform="translate(0 0)">
            <g id="Group_305" data-name="Group 305" clip-path="url(#clip-path)">
              <g id="Group_304" data-name="Group 304" transform="translate(0 0.666)">
                <path id="Path_757" data-name="Path 757" d="M-.03-.258l4.1,4.916a.491.491,0,0,0,.419.186h.047a.491.491,0,0,0,.419-.186L9.032-.258a.568.568,0,0,0,.1-.373.393.393,0,0,0-.2-.326L8.8-1.05a.663.663,0,0,0-.4-.1.456.456,0,0,0-.349.2L4.513,3.236.971-.957a.456.456,0,0,0-.349-.2.663.663,0,0,0-.4.1L.063-.957a.393.393,0,0,0-.2.326.568.568,0,0,0,.1.373" transform="translate(0.136 1.156)" fill="#e3dbd3"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
  