<div class="modal-top-wrapper">
  <h5>
    {{ "Register time for" | translate }}:
    {{ user.firstname + " " + user.lastname }}
  </h5>
  <button class="btn btn-outline-dark" [mat-dialog-close]>
    <i class="material-icons">close</i>
  </button>
</div>
<div>
  <form
    novalidate
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="createScheduleDate()"
    class="form-content schedule-form"
    #myform="ngForm"
  >
    <div class="form-row-wrapper row">
      <div class="form-group col-md-6 col-sm-12">
        <label>{{ "Date" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="Date"
          readonly
          [value]="date"
          #Date
        />
      </div>
      <div
        *ngIf="!userOpts.create_timesheets_recordtime"
        class="form-group col-md-6 col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('ProjectID').touched ||
              createForm.get('ProjectID').dirty) &&
            !createForm.get('ProjectID').valid
        }"
      >
        <label>{{ "Project" | translate }}</label>
        <input
          type="text"
          [value]="project.CustomName + ' ' + project.Name"
          class="form-control"
          readonly
        />
      </div>
      <div
        *ngIf="userOpts.create_timesheets_recordtime"
        class="form-group col-md-6 col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('ProjectID').touched ||
              createForm.get('ProjectID').dirty) &&
            !createForm.get('ProjectID').valid
        }"
      >
        <label class="project">{{ "Projects" | translate }}</label>
        <select
          formControlName="ProjectID"
          id="project"
          class="form-control"
          #project
          (change)="getMomentsOfProject(project.value)"
        >
          <option
            [value]="project.ProjectID"
            *ngFor="let project of projectManagerProjects"
          >
            {{ project.CustomName }} {{ project.Name }}
          </option>
        </select>
      </div>
      <div
        *ngIf="childrenProjects.length > 0"
        class="form-group col-md-6 col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('ProjectID').touched ||
              createForm.get('ProjectID').dirty) &&
            !createForm.get('ProjectID').valid
        }"
      >
        <label class="project">{{ "Sub Projects" | translate }}</label>
        <select
          formControlName="ChildProjectID"
          id="project"
          class="form-control"
          #projectChild
          (change)="setProject(projectChild.value)"
        >
          <option
            [value]="project.ProjectID"
            *ngFor="let project of childrenProjects"
          >
            {{ project.CustomName }} {{ project.Name }}
          </option>
        </select>
      </div>
      <div
        class="form-group col-md-6 col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('AtaID').touched ||
              createForm.get('AtaID').dirty) &&
            !createForm.get('AtaID').valid
        }"
      >
        <label class="ata">{{ "Ata" | translate }}</label>
        <select
          formControlName="AtaID"
          id="ata"
          class="form-control"
          #ata
          (change)="setAtaVal(ata.value)"
        >
          <option value="">{{ "Select Ata" | translate }}</option>
          <option [value]="ata.ataId" *ngFor="let ata of workerAtas">
            {{ "ATA-" + ata.AtaNumber }} {{ ata.Name }}
          </option>
        </select>
      </div>
      <div
        class="form-group col-md-12 col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('Comment').touched ||
              createForm.get('Comment').dirty) &&
            !createForm.get('Comment').valid
        }"
      >
        <label for="details"
          ><small>{{ "Comment" | translate }}</small></label
        >
        <textarea
          class="form-control"
          id="Comment"
          rows="3"
          formControlName="Comment"
        ></textarea>
      </div>
    </div>
    <div class="time-wrapper form-row">
      <div
        class="form-group col-md-4 date-work col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('Work').touched || createForm.get('Work').dirty) &&
            !createForm.get('Work').valid
        }"
      >
        <label class="required">{{ "Moment" | translate }}</label>
        <select
          class="project-nav-select form-control"
          id="project-ProjectID"
          #work
          formControlName="Work"
          (change)="chooseMoment(work.value)"
        >
          <option value="">{{ "Select Moment" | translate }}</option>
          <option
            *ngFor="let moment of projectMoments"
            [attr.data-user-id]="moment.id"
            value="{{ moment.Description }}"
          >
            {{ moment.Description | translate }}
          </option>
        </select>
        <span
          class="help-block"
          *ngIf="createForm.get('Work').invalid && myform.submitted"
        >
          <span class="text-danger"> {{ "Select Moment" | translate }}. </span>
        </span>
      </div>
      <div
        class="form-group col-md-1 col-sm-6"
        [ngClass]="{
          'has-error':
            (createForm.get('Hours').touched ||
              createForm.get('Hours').dirty) &&
            !createForm.get('Hours').valid
        }"
      >
        <label class="required">{{ "Hours" | translate }}</label>
        <input
          type="text"
          formControlName="Hours"
          class="form-control clear-text"
          placeholder="{{ 'Hours' | translate }}"
        />
      </div>
      <div
        class="form-group col-md-1 col-sm-6"
        [ngClass]="{
          'has-error':
            (createForm.get('Minutes').touched ||
              createForm.get('Minutes').dirty) &&
            !createForm.get('Minutes').valid
        }"
      >
        <label class="required">{{ "Minutes" | translate }}</label>
        <select
          class="project-nav-select form-control"
          id="project-ProjectID"
          #Minutes
          formControlName="Minutes"
          (change)="chooseMinutes(Minutes.value)"
        >
          <option value="00">{{ "00" | translate }}</option>
          <option value="15">{{ "15" | translate }}</option>
          <option value="30">{{ "30" | translate }}</option>
          <option value="45">{{ "45" | translate }}</option>
        </select>
      </div>
      <div
        class="form-group col-md-5 col-sm-12"
        [ngClass]="{
          'has-error':
            (createForm.get('State').touched ||
              createForm.get('State').dirty) &&
            !createForm.get('State').valid
        }"
      >
        <label class="required">{{ "State" | translate }}</label>
        <input
          type="text"
          formControlName="State"
          class="form-control clear-text"
          placeholder="{{ 'Enter State' | translate }}"
        />
      </div>
      <div class="col-md-1 col-sm-12 button-position">
        <div class="time-wrapper-button mt-2">
          <button
            type="button"
            class="btn btn-success pb-0"
            (click)="setMoments()"
            [disabled]="createForm.invalid"
          >
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </div>
    <div class="display-time">
      <table class="table">
        <thead class="thead-white">
          <tr>
            <th scope="col">{{ "Moment" | translate }}</th>
            <th scope="col">{{ "Time" | translate }}</th>
            <th>{{ "State" | translate }}</th>
            <th scope="col" *ngIf="userOpts.create_timesheets_recordtime">
              {{ "Project" | translate }}
            </th>
            <th scope="col" *ngIf="workerAtas && workerAtas.length > 0">
              {{ "ATA" | translate }}
            </th>
            <th scope="col"><i class="material-icons">clear</i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let moment of moments; let index = index">
            <td>{{ moment.work }}</td>
            <td>{{ moment.time }}</td>
            <td>{{ moment.state }}</td>
            <td *ngIf="userOpts.create_timesheets_recordtime">
              {{ moment.projectName }}
            </td>
            <td *ngIf="workerAtas && workerAtas.length > 0">
              {{ moment.AtaNumber }}
            </td>
            <td>
              <span class="btn-delete" (click)="removeProperty(index)"
                ><i class="material-icons">clear</i></span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mb-2">
      <div class="form-group col-md-12">
        <button
          type="button"
          class="btn btn-dark mr-2 lh09"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span class="material-icons left-3px top1px posRel"
            >keyboard_arrow_down</span
          >
          <span class="posRel top-5px">{{ "Mileage" | translate }}</span>
        </button>
      </div>
    </div>
    <div class="row collapse" id="collapseOne" aria-labelledby="headingOne">
      <div class="form-group col-md-6">
        <label for="type">{{ "Select Type" | translate }}</label>
        <select
          class="project-nav-select form-control"
          #type
          formControlName="MileageType"
          [class.is-invalid]="
            (createForm.get('MileageType').touched ||
              createForm.get('MileageType').dirty) &&
            createForm.get('MileageType').invalid
          "
          id="type"
        >
          <option
            value="{{ type.id }}"
            *ngFor="let type of types; let i = index"
          >
            {{ type.type | translate }}
          </option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label for="mileage">{{ "Set Mileage" | translate }}</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="material-icons">commute</i></span
            >
          </div>
          <input
            type="number"
            class="form-control clear-text"
            id="mileage"
            formControlName="Mileage"
            #Mileage
            [class.is-invalid]="
              (createForm.get('Mileage').touched ||
                createForm.get('Mileage').dirty) &&
              createForm.get('Mileage').invalid
            "
          />
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-success lh09">
        <span class="material-icons left-3px top1px posRel">save</span>
        <span class="posRel top-5px">{{ "Save" | translate }}</span>
      </button>
    </div>
    <div class="progress-loader" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </form>
</div>
