<div class="grid-columns">
  <div class="image-container" [ngStyle]="parentStyle" >
    <img class="preview-image" [src]="item.image_path" (load)="onLoad()" alt="pdf-image-page"/>
    <div *ngIf="loaded" class="page-footer">
        <div class="small-placeholder left-pos"></div>
        <div class="placeholder"></div>
        <div class="large-placeholder"></div>
        <div class="placeholder"></div>
        <div class="small-placeholder right-pos"></div>
    </div>
  </div>
  <div class="page-info">
    <div class="page-number">{{index + 1}}/{{pageTotal}}</div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="44" viewBox="0 0 44 44">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_17977" data-name="Rectangle 17977" width="26.757" height="22.688" fill="none"/>
          </clipPath>
        </defs>
        <g id="Group_8578" data-name="Group 8578" transform="translate(-758.188 -2484.188)">
          <circle id="Ellipse_757" data-name="Ellipse 757" cx="22" cy="22" r="22" transform="translate(758.188 2484.188)" fill="#ff7000"/>
          <g id="Group_8367" data-name="Group 8367" transform="translate(768.844 2519.566) rotate(-90)" clip-path="url(#clip-path)">
            <path id="Path_5116" data-name="Path 5116" d="M26.085,10.441c-11.592,0-18.589,0-21.825.053l-1.451.024,1.056-.995C4.728,8.71,6.751,6.8,12.124,1.6a.483.483,0,0,0,.194-.4c0-.086-.1-.2-.189-.315L11.508.175C11.379.047,11.3,0,11.2,0c-.034,0-.141.042-.3.2L.226,10.865v0a.78.78,0,0,0,.006,1.1L10.815,22.5a.785.785,0,0,0,.349.184c.118,0,.189-.056.408-.276l.574-.611a.745.745,0,0,0,.137-.344c0-.154-.118-.327-.383-.56-3.7-3.588-6.375-6.124-7.987-7.555l-1.119-.994,1.5.012c3.291.026,9.912.026,21.931.026a.507.507,0,0,0,.534-.575v-.83c0-.161,0-.54-.671-.54" transform="translate(0 0)" fill="#fff"/>
          </g>
        </g>
      </svg>
    </div>
  </div>

</div>

