<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" [style.width.px]="width" [style.height.px]="height" viewBox="0 0 18 18">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_60" data-name="Rectangle 60" [style.width.px]="width" [style.height.px]="height" fill="none"/>
    </clipPath>
  </defs>
  <g id="Group_8165" data-name="Group 8165" transform="translate(-488.75 -204.5)">
    <g id="Group_8050" data-name="Group 8050" transform="translate(488.75 204.5)">
      <g id="Bocka_av_icon" data-name="Bocka av icon">
        <g id="Group_301" data-name="Group 301" clip-path="url(#clip-path)">
          <path id="Path_745" data-name="Path 745" d="M17.843,8.921A8.925,8.925,0,1,1,8.92,0a8.923,8.923,0,0,1,8.923,8.923" transform="translate(0.081 0.078)" fill="#02B94C"/>
          <path id="Path_746" data-name="Path 746" d="M22.16,19.568,21.89,19.3a.82.82,0,0,0-.58-.258.939.939,0,0,0-.656.3l-5.983,5.924-1.959-2.027v0l-.621-.627a.844.844,0,0,0-.592-.261.881.881,0,0,0-.612.269l-.269.272a.835.835,0,0,0,.044,1.239l4.024,4.056,6.973-6.9.51-.513a.827.827,0,0,0-.009-1.206" transform="translate(-7.821 -14.431)" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
