<svg
                    id="Group_5897"
                    data-name="Group 5897"
                    xmlns="http://www.w3.org/2000/svg"
                    width="7.603"
                    height="7.603"
                    viewBox="0 0 7.603 7.603"
                  >
                    <path
                      id="Path_783"
                      data-name="Path 783"
                      d="M-.48-.585-3.622,2.562l.651.659L.179.074,3.329,3.22l.651-.659L.831-.585,3.98-3.723l-.659-.651L.179-1.236l-3.15-3.146-.651.659Z"
                      transform="translate(3.622 4.382)"
                      fill="#858585"
                    />
                  </svg>