<div class="row" style="background-color: white; margin: 0">
  <div class="p-4 mt-4">
    <h5>{{ "Add New SubCategory" | translate }}</h5>

    <form
      novalidate
      autocomplete="off"
      style="background: white"
      [formGroup]="createForm"
      class="form-content"
      #myform="ngForm"
      (ngSubmit)="createDirectory()"
    >
      <div class="form-group">
        <input
          name="directory"
          class="form-control"
          formControlName="Name"
          required
        />
        <span
          class="help-block"
          *ngIf="
            ((createForm.get('Name').touched || createForm.get('Name').dirty) &&
              createForm.get('Name').errors) ||
            (createForm.get('Name').hasError('required') && myform.submitted)
          "
        >
          <span
            *ngIf="createForm.get('Name').errors.required"
            class="text-danger"
          >
            {{ "Please enter name of register" | translate }}.
          </span>
        </span>
      </div>
      <div class="form-group">
        <label for="name" class="mt-2">{{ "Suppliers" | translate }}</label>
        <div class="select-section">
          <div class="select-buttons">
            <button class="btn btn-dark btn-sm" (click)="openSupplier($event)">
              <span class="material-icons">add</span>
            </button>
            <button class="btn btn-dark btn-sm" style="display: none">
              <span class="material-icons">edit</span>
            </button>
            <button class="btn btn-dark btn-sm" style="display: none">
              <span class="material-icons">delete</span>
            </button>
          </div>
          <select
            class="project-nav-select form-control"
            id="project-supplier_id"
            #Client
            formControlName="supplier"
          >
            <!--   <option *ngFor="let supplier of suppliers" value="-1">{{'Choose your Supplier' | translate}</option>-->
            <option
              *ngFor="let supplier of suppliers"
              value="{{ supplier.Id }}"
            >
              {{ supplier.Name }}
            </option>
          </select>
        </div>
      </div>
      <!--
      <div class="form-group">
        <label for="name" class="mt-2">{{'Supplier Workers' | translate}}</label>
        <select class="project-nav-select form-control" id="project-status" formControlName="supplierWorkers">
          <option *ngFor="let supplierWorker of supplierWorkers" value="{{supplierWorker.Id}}">{{supplierWorker.FirstName}}
            {{supplierWorker.LastName}}</option>
        </select>
      </div>
    -->
      <div class="form-group btn-position text-center">
        <button type="submit" class="btn btn-outline-success">
          {{ "Save" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
